<div align="center">
    <img src="images/zb-logo.png" alt="ì œë¡œë² ì´ìŠ¤" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

ì´ Jupyter Notebook íŒŒì¼ì€ <a href="https://zero-base.co.kr/category_data_camp/school_DS">ì œë¡œë² ì´ìŠ¤</a>ì—ì„œ ì œê³µí•˜ëŠ” **EDA Level Test** ë¬¸ì œì…ë‹ˆë‹¤.<br>
ì§€ê¸ˆê¹Œì§€ ê³µë¶€í•˜ì‹  ë‚´ìš©ìœ¼ë¡œ ë°ì´í„° ë¶„ì„ì— ëŒ€í•´ ì¢€ ë” ì—°ìŠµí•  ìˆ˜ ìˆëŠ” ì‹œê°„ì´ ë˜ì…¨ìœ¼ë©´ ì¢‹ê² ìŠµë‹ˆë‹¤.ğŸ™‚<br>
**EDA Level Test**ì— ëŒ€í•œ ì•ˆë‚´ ì‚¬í•­ì€ ìƒë‹¨ **Open in ZeroBase Notion** ë¡œê³ ë¥¼ í´ë¦­í•˜ì—¬ í™•ì¸í•´ì£¼ì„¸ìš”!<br>
ë°˜ë“œì‹œ ì‹œì‘ ì „ì— ë‚´ìš©ì„ ìˆ™ì§€í•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 08 â­ï¸â­ï¸</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | ì„œìš¸ì‹œ ì¸êµ¬ ë°ì´í„° | â­ï¸ ||
| 2    | í™”ì¥í’ˆ ì„±ë¶„ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 3    | ì˜¬ë¦¼í”½ ë°ì´í„° | â­ï¸â­ï¸ ||
| 4    | êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥  ë°ì´í„° |â­ï¸â­ï¸ ||
| 5    | ì „êµ­ ë°•ë¬¼ê´€/ë¯¸ìˆ ê´€ ì •ë³´ í‘œì¤€ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 6    | ì„œìš¸ì‹œ í¡ì—°ìœ¨ í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 7    | ì›¹í¬ë¡¤ë§ | â­ï¸ ||
| 8    | ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ /ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´ ë°ì´í„° | â­ï¸â­ï¸ |ğŸ‘ˆ|
| 9    | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 10   | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ + ì„œìš¸ì‹œ ì°¨ëŸ‰í†µí–‰ì†ë„ (êµ¬ë³„/ì›”ë³„) í†µê³„ + ì„œìš¸ì‹œ ì¸êµ¬ë°€ë„ (êµ¬ë³„) í†µê³„ | â­ï¸â­ï¸â­ï¸ ||

## ë¬¸ì œ ì†Œê°œ ë° ë°ì´í„° ì¤€ë¹„ ë‹¨ê³„

<div style="border: 1px solid black; padding: 10px;">

## ë¬¸ì œ ì†Œê°œ 
- ì´ 3ë‹¨ê³„ ë°ì´í„° ë¶„ì„ ìƒí™© ì œì‹œ
<br></br>
    - 1ë‹¨ê³„: DataFrame ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬
    - 2ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 01 - ê¸°ì´ˆ
    - 3ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 02 - ì‹¬í™”
<br></br>
    - ì´ì  100ì 
<br></br>

### Data ì›ë³¸ ì¶œì²˜

### Target Data(csv): ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ /ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´
- Source: [ì„œìš¸ ì—´ë¦°ë°ì´í„° ê´‘ì¥](http://data.seoul.go.kr/dataList/OA-12251/S/1/datasetView.do)
- DownLoad: ìƒê¸° Source(ì„œìš¸ ì—´ë¦°ë°ì´í„° ê´‘ì¥)ì—ì„œ csv íŒŒì¼ Download
    - ë¬¸ì œ ì¶œì œ ì´í›„ Data ë³€ê²½ë  ê°€ëŠ¥ì„±ì´ ìˆìœ¼ë¯€ë¡œ ë¬¸ì œ í’€ì´ì‹œ í•˜ê¸° File Pathì˜ Data ì‚¬ìš©
- File Path: ```'./datas/ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ _ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´.csv'```

### ì°¸ê³ ì‚¬í•­
- ë¬¸ì œì— hintê°€ ìˆì„ ê²½ìš°, í•´ë‹¹ hintë¥¼ ì´ìš©í•˜ì§€ ì•Šìœ¼ì…”ë„ ë¬´ë°©í•©ë‹ˆë‹¤.

</div>

## ë¬¸ì œ ì‹œì‘! ğŸƒğŸ»

## 1ë‹¨ê³„: DataFrame ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬
***

### ë¬¸ì œ 1-1) DataFrame ë¶ˆëŸ¬ì˜¤ê¸° (5ì )
- ìœ„ 2. Datasì˜ File Pathë¥¼ ì°¸ê³ í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ í•´ë‹¹ csv íŒŒì¼ì„ Pandas DataFrameìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
    - hint: encoding í™•ì¸
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [1]:
# 1-1
import pandas as pd
# ì±„ì ì„ ìœ„í•œ ì½”ë“œì…ë‹ˆë‹¤. ë°˜ë“œì‹œ ì‹¤í–‰í•´ì£¼ì„¸ìš”.
from grading import *

df_target = pd.read_csv("./datas/ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ _ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´.csv", encoding='cp949')

check_01_01(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 5 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[60060 rows x 8 columns]

### ë¬¸ì œ 1-2) DataFrame ì „ì²˜ë¦¬ 01 - ì¤‘ë³µì œê±° 01 (5ì )
- ì¤‘ë³µë˜ëŠ” Dataë¥¼ ì‚­ì œí•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1-1ì˜ DataFrame(df_target)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: ê° Row(í–‰) ì¤‘ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›'] ì˜ ë‚´ìš©ì´ ëª¨ë‘ ë˜‘ê°™ì€(ì¤‘ë³µë˜ëŠ”) Row(í–‰)ì´ ìˆë‹¤ë©´ ê°€ì¥ ì•ì˜ Row(Indexê°€ ê°€ì¥ ë‚®ì€ Row(í–‰))ëŠ” ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ ì¤‘ë³µë˜ëŠ” Row(í–‰)ë¥¼ ì‚­ì œí•˜ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ1:  ê° Row(í–‰) ì¤‘ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›'] ì˜ ë‚´ìš©ì´ ëª¨ë‘ ë˜‘ê°™ì€(ì¤‘ë³µë˜ëŠ”) Row(í–‰)
<br></br>
        <img src="images/08-1-2-001.png" style="margin:auto" width=600/>
<br></br>
        - ì˜ˆì‹œ2: ê°€ì¥ ì•ì˜ Row(Indexê°€ ê°€ì¥ ë‚®ì€ Row(í–‰), 621)ëŠ” ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ ì¤‘ë³µë˜ëŠ” Row(627)ë¥¼ ì‚­ì œ
<br></br>
        <img src="images/08-1-2-002.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´2: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [2]:
# 1-2

cols = ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›']
df_target.drop_duplicates(subset=cols, keep='first', inplace=True)

check_01_02(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 10 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51162 rows x 8 columns]

### ë¬¸ì œ 1-3) DataFrame ì „ì²˜ë¦¬ 02 - ì¤‘ë³µì œê±° 02 (10ì )
- ìœ„ 1-2ì—ì„œ ì‚­ì œë˜ì§€ ì•Šì€ ì¤‘ë³µë˜ëŠ” Dataë¥¼ ì‚­ì œí•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1-2ì˜ DataFrame(df_target)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: ê° Row(í–‰) ì¤‘ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'] ì˜ ë‚´ìš©ì´ ëª¨ë‘ ë˜‘ê°™ì€(ì¤‘ë³µë˜ëŠ”) Row(í–‰)ì´ ìˆë‹¤ë©´ ê°€ì¥ ì•ì˜ Row(Indexê°€ ê°€ì¥ ë‚®ì€ Row(í–‰))ì— ['ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›'] ê°ê° í•©í•œ ê°’ì„ ì…ë ¥í•˜ê³ , ë‚˜ë¨¸ì§€ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'] ì˜ ë‚´ìš©ì´ ì¤‘ë³µë˜ëŠ” Row(í–‰)ë¥¼ ì‚­ì œí•˜ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ1: ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'] ì˜ ë‚´ìš©ì´ ëª¨ë‘ ë˜‘ê°™ì€(ì¤‘ë³µë˜ëŠ”) Row(í–‰)
<br></br>
        <img src="images/08-1-3-001.png" style="margin:auto" width=600/>
<br></br>
        - ì˜ˆì‹œ2: ê°€ì¥ ì•ì˜ Row(Indexê°€ ê°€ì¥ ë‚®ì€ Row(í–‰), 15585)ì— ['ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›'] ê°ê° í•©í•œ ê°’ì„ ì…ë ¥
<br></br>
        <img src="images/08-1-3-002.png" style="margin:auto" width=600/>
<br></br>
        - ì˜ˆì‹œ3: ë‚˜ë¨¸ì§€ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'] ì˜ ë‚´ìš©ì´ ì¤‘ë³µë˜ëŠ” Row(í–‰, 15595)ë¥¼ ì‚­ì œ
<br></br>
        <img src="images/08-1-3-003.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´2: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [3]:
cols = ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­']

df_idx = df_target.drop_duplicates(cols, keep='first')
df_idx

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

In [4]:
df_val = df_target.groupby(cols, as_index=False).agg({
	"ìœ ì„ìŠ¹ì°¨ì¸ì›": "sum",
	"ë¬´ì„ìŠ¹ì°¨ì¸ì›": "sum",
	"ìœ ì„í•˜ì°¨ì¸ì›": "sum",
	"ë¬´ì„í•˜ì°¨ì¸ì›": "sum",
	"ì‘ì—…ì¼ì": "first"
})
df_val

          ì‚¬ìš©ì›”  í˜¸ì„ ëª… ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›   ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      201501  1í˜¸ì„   ë™ëŒ€ë¬¸   336981   390926  132944  137814  20150206
1      201501  1í˜¸ì„   ë™ë¬˜ì•   155556   171171  124838  124116  20150206
2      201501  1í˜¸ì„   ì„œìš¸ì—­  1890411  1667163  238403  220008  20150206
3      201501  1í˜¸ì„    ì‹œì²­   639441   636014   87392   85689  20150206
4      201501  1í˜¸ì„   ì‹ ì„¤ë™   374981   363032  124078  118929  20150206
...       ...  ...  ...      ...      ...     ...     ...       ...
51087  202206  ì¤‘ì•™ì„    ì›ë•     5854     6959    5749    6739  20220703
51088  202206  ì¤‘ì•™ì„    ì¤‘ë‘   115112    47960  106287   46789  20220703
51089  202206  ì¤‘ì•™ì„    ì§€í‰      952     1216    1282    1173  20220703
51090  202206  ì¤‘ì•™ì„    íŒ”ë‹¹    23038     9401   24414    9398  20220703
51091  202206  ì¤‘ì•™ì„    íšŒê¸°   597740   121604  572831  119310  20220703

[51092 rows x 8 columns]

In [5]:
# 1-3 10ì 

df_target = df_idx[cols].merge(df_val, on=cols, how='left')
df_target.index = df_idx.index

check_01_03(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 20 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

### ë¬¸ì œ 1-4) DataFrame ì „ì²˜ë¦¬ 03 - Data ìˆ˜ì • 01 (5ì )
- ìœ„ 1-3ì˜ DataFrame(df_target)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 'í˜¸ì„ ëª…' Column(ì—´)ì˜ Dataê°€ '9í˜¸ì„ 2~3ë‹¨ê³„' ë˜ëŠ” '9í˜¸ì„ 2ë‹¨ê³„'ë¼ë©´ ì´ë¥¼ '9í˜¸ì„ 'ìœ¼ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 'ì§€í•˜ì² ì—­' Column(ì—´)ì˜ Dataì— ê´„í˜¸('(', ')')ê°€ ìˆë‹¤ë©´, ê´„í˜¸ ì•ˆì˜ ë‚´ìš©ê³¼ ê´„í˜¸ ìì²´ë¥¼ ëª¨ë‘ ì§€ì›Œì£¼ì„¸ìš”.
        - ì˜ˆì‹œ: 'ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)' -> 'ì²­ëŸ‰ë¦¬'
<br></br>
    - ì¡°ê±´3: 'ì§€í•˜ì² ì—­' Column(ì—´)ì˜ Dataê°€ 'ì‹ ì²œ'ì´ë¼ë©´ 'ì ì‹¤ìƒˆë‚´'ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [8]:
import re

def replace_value(row):
    if row['í˜¸ì„ ëª…'] in ['9í˜¸ì„ 2~3ë‹¨ê³„','9í˜¸ì„ 2ë‹¨ê³„']:
        df_target.loc[row.name, 'í˜¸ì„ ëª…'] = '9í˜¸ì„ '
    if row['ì§€í•˜ì² ì—­'] == 'ì‹ ì²œ':
        df_target.loc[row.name, 'ì§€í•˜ì² ì—­'] = 'ì ì‹¤ìƒˆë‚´'
    else:
        df_target.loc[row.name, 'ì§€í•˜ì² ì—­'] = re.sub(r"\(.*\)", "", row['ì§€í•˜ì² ì—­'])

In [9]:
# 1-4

df_target.apply(replace_value, axis=1)

check_01_04(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 25 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„    ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„    ì²­ëŸ‰ë¦¬   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„     ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„    ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„   ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...   ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„    ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„   ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„     ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„     ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„     ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

### ë¬¸ì œ 1-5) DataFrame ì „ì²˜ë¦¬ 03 - Data ìˆ˜ì • 02 (10ì )
- ì•„ë˜ Cellì˜ incheon_station_listì— ìˆëŠ” ì—­ì€ ëª¨ë‘ 7í˜¸ì„ ì˜ ì—­ì…ë‹ˆë‹¤. í•´ë‹¹ ì—­ë“¤ì€ ì„œìš¸íŠ¹ë³„ì‹œê°€ ì•„ë‹Œ ì¸ì²œê´‘ì—­ì‹œ(ì¸ì²œêµí†µê³µì‚¬)ê°€ ë‹´ë‹¹í•˜ì—¬ Dataê°€ ë¶€ì •í™•í•œ ê²ƒìœ¼ë¡œ ì¶”ì •ë©ë‹ˆë‹¤. ì´ì— ê¸°ì¡´ 7í˜¸ì„ ê³¼ ì¸ì²œê´‘ì—­ì‹œ ë‹´ë‹¹ 7í˜¸ì„ ì„ êµ¬ë¶„í•˜ë ¤ê³  í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1-4ì˜ DataFrame(df_target)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: incheon_station_listì— ìˆëŠ” ì—­ë“¤ì˜ 'í˜¸ì„ ëª…'ì„ '7í˜¸ì„ 'ì—ì„œ '7í˜¸ì„  ì¸ì²œ'ìœ¼ë¡œ ë³€ê²½í•´ì£¼ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ1: '7í˜¸ì„ ' ë³€ê²½ ì „
<br></br>
        <img src="images/08-1-5-001.png" style="margin:auto" width=600/>
<br></br>
        - ì˜ˆì‹œ2: '7í˜¸ì„  ì¸ì²œ'ìœ¼ë¡œ ë³€ê²½ í›„
<br></br>
        <img src="images/08-1-5-002.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´2: 'ì§€í•˜ì² ì—­' Column(ì—´)ì˜ Dataì— ê´„í˜¸('(', ')')ê°€ ìˆë‹¤ë©´, ê´„í˜¸ ì•ˆì˜ ë‚´ìš©ê³¼ ê´„í˜¸ ìì²´ë¥¼ ëª¨ë‘ ì§€ì›Œì£¼ì„¸ìš”.
        - ì˜ˆì‹œ: 'ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)' -> 'ì²­ëŸ‰ë¦¬'
<br></br>
    - ì¡°ê±´1: 'ì§€í•˜ì² ì—­' Column(ì—´)ì˜ Dataê°€ 'ì‹ ì²œ'ì´ë¼ë©´ 'ì ì‹¤ìƒˆë‚´'ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_05 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [10]:
incheon_station_list = ['ê¹Œì¹˜ìš¸', 'ë¶€ì²œì¢…í•©ìš´ë™ì¥', 'ì¶˜ì˜', 'ì‹ ì¤‘ë™', 'ë¶€ì²œì‹œì²­', 'ìƒë™', 'ì‚¼ì‚°ì²´ìœ¡ê´€', 'êµ´í¬ì²œ', 'ë¶€í‰êµ¬ì²­', 'ì‚°ê³¡', 'ì„ë‚¨']

In [11]:
def change_value(row):
    if row['ì§€í•˜ì² ì—­'] in incheon_station_list:
        df_target.loc[row.name, 'í˜¸ì„ ëª…'] = '7í˜¸ì„  ì¸ì²œ'

In [12]:
# 1-5

df_target.apply(change_value, axis=1)

check_01_05(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 35 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„    ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„    ì²­ëŸ‰ë¦¬   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„     ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„    ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„   ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...   ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„    ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„   ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„     ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„     ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„     ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

## 2ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 01 - ê¸°ì´ˆ
***

### ë¬¸ì œ 2-1) ê¸°ì´ˆ ì •ë³´ ì–»ê¸° 01 (5ì )
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:2]
<br></br>
        <img src="images/08-2-1-001.png" style="margin:auto" width=400/>
<br></br>
<br></br>
    - ì¡°ê±´1: 2022ë…„ 6ì›” ê¸°ì¤€ ê° ì§€í•˜ì²  ì—­ì˜ [ìœ ì„ìŠ¹ì°¨ì¸ì›, ë¬´ì„ìŠ¹ì°¨ì¸ì›, ìœ ì„í•˜ì°¨ì¸ì›, ë¬´ì„í•˜ì°¨ì¸ì›] ì„ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: í™˜ìŠ¹ì—­(í•œ ì§€í•˜ì² ì—­ì— ì—¬ëŸ¬ê°œì˜ í˜¸ì„ ì´ ìˆëŠ” ì—­)ì´ ìˆë‹¤ë©´ í•©ì‚°í•´ ì£¼ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ: ì¢…í•©ìš´ë™ì¥ì—­ì˜ ê²½ìš° 2, 9í˜¸ì„  ìœ /ë¬´ì„ ìŠ¹/í•˜ì°¨ì¸ì›ì„ í•©ì³ì„œ ë³´ì—¬ì£¼ì„¸ìš”.
<br></br>
        <img src="images/08-2-1-002.png" style="margin:auto" width=600/>
<br></br>
        <img src="images/08-2-1-003.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›']
<br></br>
    - ì¡°ê±´4: Index ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_02_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [13]:
# 2-1

cols = ['ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›']

df_result = df_target.query("ì‚¬ìš©ì›”==202206")[cols].groupby(by='ì§€í•˜ì² ì—­').agg('sum')

check_02_01(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 40 / 100

           ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€    56275   34889    54138   30800
ê°€ëŠ¥         139026   55693   131155   54568
ê°€ë½ì‹œì¥       322711  129590   342636  128815
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€   1431139  117639  1502220  117128
ê°€ì–‘         456785  123819   442530  120665
...           ...     ...      ...     ...
íšŒê¸°         597740  121604   572831  119310
íšŒë£¡         222825  142728   219069  141480
íšŒí˜„         490517  191008   523086  191242
íš¨ì°½ê³µì›ì•      231459   50062   222409   48748
í‘ì„         186994   53158   191190   53327

[524 rows x 4 columns]

### ë¬¸ì œ 2-2) ê¸°ì´ˆ ì •ë³´ ì–»ê¸° 02 (10ì )
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:4]
<br></br>
        <img src="images/08-2-2-001.png" style="margin:auto" width=100/>
<br></br>
    - ì¡°ê±´1: 2022ë…„ 6ì›” ê¸°ì¤€ ê° ì§€í•˜ì²  ì—­ì˜ í˜¸ì„ ì˜ ìˆ˜ë¥¼ êµ¬í•˜ê³ , í˜¸ì„ ì˜ ìˆ˜ê°€ 3ê°œ ì´ìƒì¸ ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ë§Œë“¤ì–´ í•´ë‹¹ ì—­ì˜ í˜¸ì„  ìˆ˜ë¥¼ ì…ë ¥í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['í˜¸ì„ ìˆ˜']
<br></br>
    - ì¡°ê±´4: 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³ , 'í˜¸ì„ ìˆ˜'ê°€ ê°™ë‹¤ë©´ Index('ì§€í•˜ì² ì—­')ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_02_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [14]:
# 2-2

df = df_target.query("ì‚¬ìš©ì›”==202206").groupby(by='ì§€í•˜ì² ì—­').agg("count")
df = df.sort_values('í˜¸ì„ ëª…', ascending=False)['í˜¸ì„ ëª…'].to_frame()
df_result = pd.concat([df.query("í˜¸ì„ ëª…>3"), df.query("í˜¸ì„ ëª…==3").sort_index(ascending=False)])
df_result = df_result.rename(columns={"í˜¸ì„ ëª…":"í˜¸ì„ ìˆ˜"})

check_02_02(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 50 / 100

           í˜¸ì„ ìˆ˜
ì§€í•˜ì² ì—­
ì„œìš¸ì—­          5
ê³µë•           4
í™ëŒ€ì…êµ¬         3
ì¢…ë¡œ3ê°€         3
ì™•ì‹­ë¦¬          3
ì‹ ì„¤ë™          3
ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°     3
ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›    3
ê¹€í¬ê³µí•­         3
ê³ ì†í„°ë¯¸ë„        3

### ë¬¸ì œ 2-3) ê¸°ì´ˆ ì •ë³´ ì–»ê¸° 03 (10ì )
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ê³ , ìœ„ 2-2ì˜ DataFrame(df_result)ë¥¼ ì‘ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:4]
<br></br>
        <img src="images/08-2-3-001.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´1: ìœ„ 2-2ë¥¼ ì°¸ê³ í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ 'í˜¸ì„ ìˆ˜'ë¥¼ êµ¬í•˜ì„¸ìš”.
        - 2022ë…„ 6ì›” ê¸°ì¤€ ê° ì§€í•˜ì²  ì—­ì˜ í˜¸ì„ ì˜ ìˆ˜ë¥¼ êµ¬í•˜ê³ , í˜¸ì„ ì˜ ìˆ˜ê°€ 3ê°œ ì´ìƒì¸ ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
        - 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ë§Œë“¤ì–´ í•´ë‹¹ ì—­ì˜ í˜¸ì„  ìˆ˜ë¥¼ ì…ë ¥í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 2022ë…„ 6ì›” ê¸°ì¤€ 'í™˜ìŠ¹í˜¸ì„ ' Column(ì—´)ì„ ë§Œë“¤ì–´ ì•„ë˜ì™€ ê°™ì´ í•´ë‹¹ ì—­ì˜ í™˜ìŠ¹ ê°€ëŠ¥ í˜¸ì„ ì„ ë‚˜ì—´í•´ì£¼ì„¸ìš”.
        - í™˜ìŠ¹ í˜¸ì„ ë“¤ì€ ', '(ì‰¼í‘œ+ë„ì–´ì“°ê¸°)ë¡œ êµ¬ë¶„ë˜ëŠ” stringì…ë‹ˆë‹¤.
        - í™˜ìŠ¹ í˜¸ì„ ë“¤ì€ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬ í›„ ë‚˜ì—´í•´ì£¼ì„¸ìš”.
        - ìœ„ ì˜ˆì‹œë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['í˜¸ì„ ìˆ˜', 'í™˜ìŠ¹í˜¸ì„ ']
<br></br>
    - ì¡°ê±´4: 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³ , 'í˜¸ì„ ìˆ˜'ê°€ ê°™ë‹¤ë©´ 'í™˜ìŠ¹í˜¸ì„ ' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_02_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [15]:
def join_values(series):
    return ', '.join(series.sort_values())

df = df_target.query("ì‚¬ìš©ì›”==202206").groupby(by='ì§€í•˜ì² ì—­').aggregate({"í˜¸ì„ ëª…":["count", join_values]}).droplevel(0, axis=1)
df

          count join_values
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€      1       ìš°ì´ì‹ ì„¤ì„
ê°€ëŠ¥            1         ê²½ì›ì„
ê°€ë½ì‹œì¥          2    3í˜¸ì„ , 8í˜¸ì„
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€       2    7í˜¸ì„ , ê²½ë¶€ì„
ê°€ì–‘            1         9í˜¸ì„
...         ...         ...
íšŒê¸°            1         ì¤‘ì•™ì„
íšŒë£¡            1         ê²½ì›ì„
íšŒí˜„            1         4í˜¸ì„
íš¨ì°½ê³µì›ì•         2    6í˜¸ì„ , ê²½ì˜ì„
í‘ì„            1         9í˜¸ì„

[524 rows x 2 columns]

In [16]:
# 2-3

df.rename(columns={"count":"í˜¸ì„ ìˆ˜", "join_values":"í™˜ìŠ¹í˜¸ì„ "}, inplace=True)
df.sort_values(by=['í˜¸ì„ ìˆ˜', 'í™˜ìŠ¹í˜¸ì„ '], ascending=[False, True], inplace=True)
df_result = df.query("í˜¸ì„ ìˆ˜ >= 3")

check_02_03(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 60 / 100

           í˜¸ì„ ìˆ˜                          í™˜ìŠ¹í˜¸ì„
ì§€í•˜ì² ì—­
ì„œìš¸ì—­          5  1í˜¸ì„ , 4í˜¸ì„ , ê²½ë¶€ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ê³µë•           4       5í˜¸ì„ , 6í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ì‹ ì„¤ë™          3               1í˜¸ì„ , 2í˜¸ì„ , ìš°ì´ì‹ ì„¤ì„
ì¢…ë¡œ3ê°€         3                 1í˜¸ì„ , 3í˜¸ì„ , 5í˜¸ì„
ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›    3                 2í˜¸ì„ , 4í˜¸ì„ , 5í˜¸ì„
ì™•ì‹­ë¦¬          3                 2í˜¸ì„ , 5í˜¸ì„ , ê²½ì›ì„
í™ëŒ€ì…êµ¬         3            2í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ê³ ì†í„°ë¯¸ë„        3                 3í˜¸ì„ , 7í˜¸ì„ , 9í˜¸ì„
ê¹€í¬ê³µí•­         3            5í˜¸ì„ , 9í˜¸ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°     3            6í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„

### ë¬¸ì œ 2-4) ê¸°ì´ˆ ì •ë³´ ì–»ê¸° 04 (10ì )
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ê³ , ìœ„ 2-2ì˜ DataFrame(df_result)ë¥¼ ì‘ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:4]
<br></br>
        <img src="images/08-2-4-001.png" style="margin:auto" width=300/>
<br></br>
    - ì¡°ê±´1: ìœ„ 2-2ë¥¼ ì°¸ê³ í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ 'í˜¸ì„ ìˆ˜'ë¥¼ êµ¬í•˜ì„¸ìš”.
        - 2022ë…„ 6ì›” ê¸°ì¤€ ê° ì§€í•˜ì²  ì—­ì˜ í˜¸ì„ ì˜ ìˆ˜ë¥¼ êµ¬í•˜ê³ , í˜¸ì„ ì˜ ìˆ˜ê°€ 2ê°œ ì´ìƒì¸ ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
        - 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ë§Œë“¤ì–´ í•´ë‹¹ ì—­ì˜ í˜¸ì„  ìˆ˜ë¥¼ ì…ë ¥í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 2022ë…„ 6ì›” ê¸°ì¤€ ['ìœ ì„ìŠ¹í•˜ì°¨ìœ¨', 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨', 'ìŠ¹í•˜ì°¨ìœ¨'] Column(ì—´)ì„ ë§Œë“¤ì–´ ì•„ë˜ì™€ ê°™ì´ ê°ê°ì˜ ìŠ¹í•˜ì°¨ìœ¨ì„ êµ¬í•˜ì„¸ìš”.
        - ìœ ì„ìŠ¹í•˜ì°¨ìœ¨ = ìœ ì„ìŠ¹ì°¨ì¸ì› / ìœ ì„í•˜ì°¨ì¸ì› * 100
        - ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨ = ë¬´ì„ìŠ¹ì°¨ì¸ì› / ë¬´ì„í•˜ì°¨ì¸ì› * 100
        - ìŠ¹í•˜ì°¨ìœ¨ = (ìœ ì„ìŠ¹ì°¨ì¸ì› + ë¬´ì„ìŠ¹ì°¨ì¸ì›) / (ìœ ì„í•˜ì°¨ì¸ì› + ë¬´ì„í•˜ì°¨ì¸ì›) * 100
        - ê°ê°ì˜ ìŠ¹í•˜ì°¨ìœ¨ì€ ì†Œìˆ«ì  ì…‹ì§¸ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ë‘˜ì§¸ìë¦¬ê¹Œì§€ í‘œê¸°í•©ë‹ˆë‹¤.
        - 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨'ì´ 'ìŠ¹í•˜ì°¨ìœ¨'ë³´ë‹¤ í¬ë©´ì„œ, 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨'ì´ 102 ì´ìƒì¸ ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
        - ìœ„ ì˜ˆì‹œë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['í˜¸ì„ ìˆ˜', 'ìœ ì„ìŠ¹í•˜ì°¨ìœ¨', 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨', 'ìŠ¹í•˜ì°¨ìœ¨']
<br></br>
    - ì¡°ê±´4: 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³ , 'í˜¸ì„ ìˆ˜'ê°€ ê°™ë‹¤ë©´ 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_02_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [17]:
df = df_target.query("ì‚¬ìš©ì›”==202206").groupby(by='ì§€í•˜ì² ì—­').aggregate({
	"í˜¸ì„ ëª…":"count",
	'ìœ ì„ìŠ¹ì°¨ì¸ì›':"sum",
 	'ë¬´ì„ìŠ¹ì°¨ì¸ì›':"sum",
  	'ìœ ì„í•˜ì°¨ì¸ì›':"sum",
   	'ë¬´ì„í•˜ì°¨ì¸ì›':"sum"
})
df = df.rename(columns={"í˜¸ì„ ëª…":"í˜¸ì„ ìˆ˜"})
df['ìœ ì„ìŠ¹í•˜ì°¨ìœ¨'] = (df['ìœ ì„ìŠ¹ì°¨ì¸ì›'] / df['ìœ ì„í•˜ì°¨ì¸ì›'] * 100).round(2)
df['ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨'] = (df['ë¬´ì„ìŠ¹ì°¨ì¸ì›'] / df['ë¬´ì„í•˜ì°¨ì¸ì›'] * 100).round(2)
df['ìŠ¹í•˜ì°¨ìœ¨'] = ((df['ìœ ì„ìŠ¹ì°¨ì¸ì›'] + df['ë¬´ì„ìŠ¹ì°¨ì¸ì›']) / (df['ìœ ì„í•˜ì°¨ì¸ì›'] + df['ë¬´ì„í•˜ì°¨ì¸ì›']) * 100).round(2)
df = df[['í˜¸ì„ ìˆ˜', 'ìœ ì„ìŠ¹í•˜ì°¨ìœ¨', 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨', 'ìŠ¹í•˜ì°¨ìœ¨']]
df

          í˜¸ì„ ìˆ˜  ìœ ì„ìŠ¹í•˜ì°¨ìœ¨  ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨    ìŠ¹í•˜ì°¨ìœ¨
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€    1  103.95  113.28  107.33
ê°€ëŠ¥          1  106.00  102.06  104.84
ê°€ë½ì‹œì¥        2   94.18  100.60   95.94
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€     2   95.27  100.44   95.64
ê°€ì–‘          1  103.22  102.61  103.09
...       ...     ...     ...     ...
íšŒê¸°          1  104.35  101.92  103.93
íšŒë£¡          1  101.71  100.88  101.39
íšŒí˜„          1   93.77   99.88   95.41
íš¨ì°½ê³µì›ì•       2  104.07  102.70  103.82
í‘ì„          1   97.81   99.68   98.21

[524 rows x 4 columns]

In [18]:
# 2-4

df_result = df.query("í˜¸ì„ ìˆ˜>=2 & ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨>ìŠ¹í•˜ì°¨ìœ¨ & ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨>=102").sort_values(by=['í˜¸ì„ ìˆ˜', 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨'], ascending=[False, False])

check_02_04(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 70 / 100

        í˜¸ì„ ìˆ˜  ìœ ì„ìŠ¹í•˜ì°¨ìœ¨  ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨    ìŠ¹í•˜ì°¨ìœ¨
ì§€í•˜ì² ì—­
ì„œìš¸ì—­       5   98.69  102.94   99.21
ê³µë•        4   97.96  104.65   98.79
í™ëŒ€ì…êµ¬      3   92.93  103.17   93.43
ì¢…ë¡œ3ê°€      3  100.54  102.67  101.21
ê³ ì†í„°ë¯¸ë„     3   99.67  102.58  100.07
ì™•ì‹­ë¦¬       3  101.06  102.29  101.22
ì—¬ì˜ë„       2   97.69  106.58   98.23
ì‹œì²­        2  101.17  106.16  101.69
ì²­êµ¬        2  102.47  105.86  103.14
ì‚¼ê°ì§€       2  101.20  105.85  101.74
ì˜¬ë¦¼í”½ê³µì›     2  104.39  105.25  104.55
ë„ê³¡        2   99.71  105.15  100.79
ì´ì´Œ        2  100.87  105.01  101.73
ì•½ìˆ˜        2  101.73  104.95  102.40
ì ì‹¤        2   98.08  104.49   98.72
ì„ ë¦‰        2   98.43  104.26   99.18
ë³´ë¼ë§¤       2  102.35  103.77  102.60
êµëŒ€        2  100.96  103.64  101.41
íƒœë¦‰ì…êµ¬      2   99.43  103.43  100.12
ì‹ ë„ë¦¼       2   98.65  102.74   99.24
ì„±ì‹ ì—¬ëŒ€ì…êµ¬    2  101.68  102.65  101.83
ì„ì§€ë¡œ3ê°€     2   98.09  102.58   98.67
í•©ì •        2   94.15  102.36   94.77

## 3ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 02 - ì‹¬í™”
***

### ë¬¸ì œ 3-1) ì‹¬í™” ì •ë³´ ì–»ê¸° 01 (15ì )
- 2022ë…„ 1ì›” ëŒ€ë¹„ 2022ë…„ 6ì›”ì— ìœ ë™ì¸êµ¬ê°€ ì–¼ë§ˆë‚˜ ì¦ê°€/ê°ì†Œí•˜ì˜€ëŠ”ì§€ í™•ì¸í•´ë³´ê³ ì í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:2]
<br></br>
        <img src="images/08-3-1-001.png" style="margin:auto" width=150/>
<br></br>
    - ì¡°ê±´1: 'ìœ ë™ì¸êµ¬ì¦ê°ë¥ ' Column(ì—´)ì„ ë§Œë“¤ì–´ 2022ë…„ 1ì›” ëŒ€ë¹„ 2022ë…„ 6ì›”ì˜ ìœ ë™ì¸êµ¬ ì¦ê°€ìœ¨ì„ ì…ë ¥í•˜ì„¸ìš”.
        - ìœ ë™ì¸êµ¬ = 'ìœ ì„ìŠ¹ì°¨ì¸ì›' + 'ë¬´ì„ìŠ¹ì°¨ì¸ì›' + 'ìœ ì„í•˜ì°¨ì¸ì›' + 'ë¬´ì„í•˜ì°¨ì¸ì›'
        - ìœ ë™ì¸êµ¬ ì¦ê°ë¥  = (2022ë…„ 6ì›”ì˜ ìœ ë™ì¸êµ¬ / 2022ë…„ 1ì›”ì˜ ìœ ë™ì¸êµ¬ - 1) * 100
        - ìœ ë™ì¸êµ¬ ì¦ê°ë¥ ì€ ì†Œìˆ«ì  ì…‹ì§¸ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ë‘˜ì§¸ìë¦¬ê¹Œì§€ í‘œê¸°í•©ë‹ˆë‹¤.
        - ìœ ë™ì¸êµ¬ê°€ ê°ì†Œí•œ(ìœ ë™ì¸êµ¬ ì¦ê°ë¥ ì´ 0ë³´ë‹¤ ì‘ì€) ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 2022ë…„ 1ì›” ì´í›„ì— ì—­ì´ ì‹ ì„¤ë˜ì–´ 2022ë…„ 1ì›” ìœ ë™ì¸êµ¬ Dataê°€ ì—†ëŠ” ê²½ìš° ì œì™¸í•˜ê³  ê³„ì‚°í•˜ì„¸ìš”.
        - 'ì‹ ë¦¼ì„ 'ì˜ ì—­ë“¤ì€ 2022ë…„ 5ì›”ì— ìš´ì˜ ì‹œì‘í•˜ì˜€ìŠµë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´3: ìœ„ 1-5ë¥¼ ì°¸ê³ í•˜ì—¬ 'í˜¸ì„ ëª…' Column(ì—´) Dataê°€ '7í˜¸ì„  ì¸ì²œ'ì¸ ê²½ìš°ëŠ” ì œì™¸í•˜ê³  êµ¬í•˜ì„¸ìš”.
        - ì•ì„œ ì–¸ê¸‰í•˜ì˜€ë‹¤ì‹œí”¼ Dataì— ì˜¤ë¥˜ê°€ ìˆëŠ” ê²ƒìœ¼ë¡œ ì¶”ì •ë˜ì–´ ì œì™¸í•©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´4: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['ìœ ë™ì¸êµ¬ì¦ê°ë¥ ']
<br></br>
    - ì¡°ê±´5: 'ìœ ë™ì¸êµ¬ì¦ê°€ìœ¨' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´6: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_03_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [19]:
df = df_target.query("í˜¸ì„ ëª…!='7í˜¸ì„  ì¸ì²œ'")
df['ìœ ë™ì¸êµ¬'] = df['ìœ ì„ìŠ¹ì°¨ì¸ì›'] + df['ë¬´ì„ìŠ¹ì°¨ì¸ì›'] + df['ìœ ì„í•˜ì°¨ì¸ì›'] + df['ë¬´ì„í•˜ì°¨ì¸ì›']
df

C:\Users\happy\AppData\Local\Temp\ipykernel_22772\126212122.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ìœ ë™ì¸êµ¬'] = df['ìœ ì„ìŠ¹ì°¨ì¸ì›'] + df['ë¬´ì„ìŠ¹ì°¨ì¸ì›'] + df['ìœ ì„í•˜ì°¨ì¸ì›'] + df['ë¬´ì„í•˜ì°¨ì¸ì›']

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì     ìœ ë™ì¸êµ¬
0      202206  1í˜¸ì„    ì œê¸°ë™   218782  263173   209109  281985  20220703   973049
1      202206  1í˜¸ì„    ì²­ëŸ‰ë¦¬   328288  246164   325365  249818  20220703  1149635
2      202206  1í˜¸ì„     ì¢…ê°   834173  131987   815704  121717  20220703  1903581
3      202206  1í˜¸ì„    ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703  2655819
4      202206  1í˜¸ì„   ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703  1432191
...       ...  ...   ...      ...     ...      ...     ...       ...      ...
60055  201501  9í˜¸ì„    ì‹ ë°©í™”   169119  160054    38500   38259  20150206   405932
60056  201501  9í˜¸ì„   ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206   405441
60057  201501  9í˜¸ì„     ë“±ì´Œ   265941  271132    73910   74472  20150206   685455
60058  201501  9í˜¸ì„     ê°€ì–‘   469127  439698   107695  104082  20150206  1120602
60059  201501  9í˜¸ì„     ë‹¹ì‚°   422698  384841    54179   49891  20150206   911609

[50293 rows x 9 columns]

In [20]:
df_01 = df.query("ì‚¬ìš©ì›”==202201").groupby(by='ì§€í•˜ì² ì—­').aggregate("sum")['ìœ ë™ì¸êµ¬'].to_frame()
df_06 = df.query("ì‚¬ìš©ì›”==202206").groupby(by='ì§€í•˜ì² ì—­').aggregate("sum")['ìœ ë™ì¸êµ¬'].to_frame()
merged_df = pd.merge(df_01, df_06, left_index=True, right_index=True, how='left')
merged_df

           ìœ ë™ì¸êµ¬_x   ìœ ë™ì¸êµ¬_y
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€   141088   176102
ê°€ëŠ¥         324552   380442
ê°€ë½ì‹œì¥       871696   923752
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€   3012449  3168126
ê°€ì–‘        1010967  1143799
...           ...      ...
íšŒê¸°        1194440  1411485
íšŒë£¡         630818   726102
íšŒí˜„        1203283  1395853
íš¨ì°½ê³µì›ì•      481270   552678
í‘ì„         408170   484669

[513 rows x 2 columns]

In [21]:
# 3-1

merged_df['ìœ ë™ì¸êµ¬ì¦ê°ë¥ '] = ((merged_df['ìœ ë™ì¸êµ¬_y']/merged_df['ìœ ë™ì¸êµ¬_x'] -1) * 100).round(2)
df_result = merged_df.query("ìœ ë™ì¸êµ¬ì¦ê°ë¥ <0").sort_values(by='ìœ ë™ì¸êµ¬ì¦ê°ë¥ ', ascending=False)['ìœ ë™ì¸êµ¬ì¦ê°ë¥ '].to_frame()

check_03_01(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 85 / 100

      ìœ ë™ì¸êµ¬ì¦ê°ë¥
ì§€í•˜ì² ì—­
ë…¼í˜„      -1.29
ì‹ ì‚¬      -2.74
êµ¬ë°˜í¬     -2.87
ì‚¬ë¦‰     -10.15
ë‹¹ê³ ê°œ    -22.42
ë°±ì–‘ë¦¬    -62.19

### ë¬¸ì œ 3-2) ì‹¬í™” ì •ë³´ ì–»ê¸° 02 (15ì )
- 2015ë…„ë¶€í„° 2022ë…„ê¹Œì§€ ì§€í•˜ì²  1~9í˜¸ì„ ì—ì„œ ì‹ ì„¤ëœ ì—­ì„ í™•ì¸í•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:2]
<br></br>
        <img src="images/08-3-2-001.png" style="margin:auto" width=200/>
<br></br>
    - ì¡°ê±´1: 2015ë…„ë¶€í„° 2022ë…„ê¹Œì§€ ì§€í•˜ì²  1~9í˜¸ì„ ì—ì„œ ì‹ ì„¤ëœ ì—­ì„ í™•ì¸í•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
        - ìœ„ 1-5ë¥¼ ì°¸ê³ í•˜ì—¬ 'í˜¸ì„ ëª…' Column(ì—´) Dataê°€ '7í˜¸ì„  ì¸ì²œ'ì¸ ê²½ìš°ëŠ” ì œì™¸í•˜ê³  êµ¬í•˜ì„¸ìš”.
<br></br>
        - ì‹ ì„¤ ì—­: 2015ë…„ 1ì›”ë¶€í„° 2022ë…„ 6ì›”ê¹Œì§€ì˜ ê¸°ê°„ ì¤‘ ìœ ë™ì¸êµ¬('ìœ ì„ìŠ¹ì°¨ì¸ì›' + 'ë¬´ì„ìŠ¹ì°¨ì¸ì›' + 'ìœ ì„í•˜ì°¨ì¸ì›' + 'ë¬´ì„í•˜ì°¨ì¸ì›') Dataê°€ ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ê²½ìš° í•´ë‹¹ ì›”ì— í•´ë‹¹ ì—­ì€ ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤ê³  íŒë‹¨í•©ë‹ˆë‹¤. ì˜ˆë¥¼ë“¤ì–´ 2018ë…„ 3ì›”ë¶€í„° ìœ ë™ì¸êµ¬ Dataê°€ ìˆë‹¤ë©´ í•´ë‹¹ ì—­ì€ 2018ë…„ 3ì›”ì— ì‹ ì„¤ë˜ì—ˆë‹¤ê³  íŒë‹¨í•©ë‹ˆë‹¤.
<br></br>
        - ì˜ˆì‹œ: 9í˜¸ì„  'ë‘”ì´Œì˜¤ë¥œ'ì—­ì˜ ê²½ìš° Dataê°€ 2018ë…„ 12ì›” ë¶€í„° 2022ë…„ 6ì›”ê¹Œì§€ ì¡´ì¬í•©ë‹ˆë‹¤. ë”°ë¼ì„œ 9í˜¸ì„  'ë‘”ì´Œì˜¤ë¥œ'ì—­ì€ 2018ë…„ 12ì›”ì— ì‹ ì„¤ëœ ì—­ìœ¼ë¡œ íŒë‹¨í•©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 0ë¶€í„° ì‹œì‘í•˜ëŠ” ì—°ì†ì˜ ìˆ«ì
        - Column: ['í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ì‹ ì„¤ì›”']
<br></br>
    - ì¡°ê±´3: ì•„ë˜ì™€ ê°™ì´ DataFrameì„ ì •ë ¬í•˜ê³  Indexë¥¼ ì´ˆê¸°í™” í•˜ì„¸ìš”..
        - 'í˜¸ì„ ëª…' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
        - 'í˜¸ì„ ëª…'ì´ ê°™ë‹¤ë©´, 'ì‹ ì„¤ì›”' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
        - 'í˜¸ì„ ëª…'ê³¼ 'ì‹ ì„¤ì›”'ì´ ê°™ë‹¤ë©´, 'ì§€í•˜ì² ì—­' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
        - ìœ„ì™€ ê°™ì´ ì •ë ¬ í›„ Indexë¥¼ Resetí•˜ê³ , ê¸°ì¡´ IndexëŠ” ì‚­ì œ(drop)í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [22]:
lines = ['1í˜¸ì„ ', '2í˜¸ì„ ', '3í˜¸ì„ ', '4í˜¸ì„ ', '5í˜¸ì„ ', '6í˜¸ì„ ', '7í˜¸ì„ ', '8í˜¸ì„ ', '9í˜¸ì„ ']

df = df_target[df_target['í˜¸ì„ ëª…'].isin(lines)].sort_values(by='ì‚¬ìš©ì›”')
df = df.groupby(by=['ì§€í•˜ì² ì—­'], as_index=False).aggregate("first").query("ì‚¬ìš©ì›”!=201501")
df = df[['í˜¸ì„ ëª…','ì§€í•˜ì² ì—­','ì‚¬ìš©ì›”']].rename(columns={"ì‚¬ìš©ì›”":"ì‹ ì„¤ì›”"})
df

     í˜¸ì„ ëª…    ì§€í•˜ì² ì—­     ì‹ ì„¤ì›”
8    5í˜¸ì„       ê°•ì¼  202103
44   8í˜¸ì„      ë‚¨ìœ„ë¡€  202112
74   9í˜¸ì„     ë‘”ì´Œì˜¤ë¥œ  201812
98   5í˜¸ì„       ë¯¸ì‚¬  202008
110  9í˜¸ì„      ë´‰ì€ì‚¬  201503
120  9í˜¸ì„     ì‚¼ì„±ì¤‘ì•™  201503
121  9í˜¸ì„       ì‚¼ì „  201812
137  9í˜¸ì„     ì„ì´Œê³ ë¶„  201812
140  9í˜¸ì„      ì„ ì •ë¦‰  201503
145  9í˜¸ì„     ì†¡íŒŒë‚˜ë£¨  201812
155  6í˜¸ì„       ì‹ ë‚´  201912
188  9í˜¸ì„       ì–¸ì£¼  201503
233  9í˜¸ì„   ì¤‘ì•™ë³´í›ˆë³‘ì›  201812
251  5í˜¸ì„    í•˜ë‚¨ê²€ë‹¨ì‚°  202103
252  5í˜¸ì„     í•˜ë‚¨ì‹œì²­  202103
253  5í˜¸ì„     í•˜ë‚¨í’ì‚°  202008
258  9í˜¸ì„     í•œì„±ë°±ì œ  201812

In [23]:
# 3-2

df_result = df.sort_values(by=['í˜¸ì„ ëª…','ì‹ ì„¤ì›”'], ascending=[True, False]).reset_index(drop=True)

check_03_02(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 100 / 100

    í˜¸ì„ ëª…    ì§€í•˜ì² ì—­     ì‹ ì„¤ì›”
0   5í˜¸ì„       ê°•ì¼  202103
1   5í˜¸ì„    í•˜ë‚¨ê²€ë‹¨ì‚°  202103
2   5í˜¸ì„     í•˜ë‚¨ì‹œì²­  202103
3   5í˜¸ì„       ë¯¸ì‚¬  202008
4   5í˜¸ì„     í•˜ë‚¨í’ì‚°  202008
5   6í˜¸ì„       ì‹ ë‚´  201912
6   8í˜¸ì„      ë‚¨ìœ„ë¡€  202112
7   9í˜¸ì„     ë‘”ì´Œì˜¤ë¥œ  201812
8   9í˜¸ì„       ì‚¼ì „  201812
9   9í˜¸ì„     ì„ì´Œê³ ë¶„  201812
10  9í˜¸ì„     ì†¡íŒŒë‚˜ë£¨  201812
11  9í˜¸ì„   ì¤‘ì•™ë³´í›ˆë³‘ì›  201812
12  9í˜¸ì„     í•œì„±ë°±ì œ  201812
13  9í˜¸ì„      ë´‰ì€ì‚¬  201503
14  9í˜¸ì„     ì‚¼ì„±ì¤‘ì•™  201503
15  9í˜¸ì„      ì„ ì •ë¦‰  201503
16  9í˜¸ì„       ì–¸ì£¼  201503

***

### ğŸŠ ë¬¸ì œê°€ ëë‚¬ìŠµë‹ˆë‹¤. ì œì¶œì–‘ì‹ê³¼ ì¼ì •ì— ë§ì¶° ì œì¶œí•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!

### ì œì¶œì–‘ì‹
- ì´ íŒŒì¼ì€ EDA TEST 8íšŒì°¨ ë…¸íŠ¸ë¶ì…ë‹ˆë‹¤. ë”°ë¼ì„œ ì œì¶œì‹œ íŒŒì¼ëª…ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤. 
- [DS]edalvtest_08_yourname.ipynb

***

# ë¬¸ì˜ì‚¬í•­ ë° ì˜ê²¬ì´ ìˆëŠ” ê²½ìš° ì‘ì„±í•´ì£¼ì„¸ìš”.