<div align="center">
    <img src="images/zb-logo.png" alt="ì œë¡œë² ì´ìŠ¤" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

ì´ Jupyter Notebook íŒŒì¼ì€ <a href="https://zero-base.co.kr/category_data_camp/school_DS">ì œë¡œë² ì´ìŠ¤</a>ì—ì„œ ì œê³µí•˜ëŠ” **EDA Level Test** ë¬¸ì œì…ë‹ˆë‹¤.<br>
ì§€ê¸ˆê¹Œì§€ ê³µë¶€í•˜ì‹  ë‚´ìš©ìœ¼ë¡œ ë°ì´í„° ë¶„ì„ì— ëŒ€í•´ ì¢€ ë” ì—°ìŠµí•  ìˆ˜ ìˆëŠ” ì‹œê°„ì´ ë˜ì…¨ìœ¼ë©´ ì¢‹ê² ìŠµë‹ˆë‹¤.ğŸ™‚<br>
**EDA Level Test**ì— ëŒ€í•œ ì•ˆë‚´ ì‚¬í•­ì€ ìƒë‹¨ **Open in ZeroBase Notion** ë¡œê³ ë¥¼ í´ë¦­í•˜ì—¬ í™•ì¸í•´ì£¼ì„¸ìš”!<br>
ë°˜ë“œì‹œ ì‹œì‘ ì „ì— ë‚´ìš©ì„ ìˆ™ì§€í•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 08 â­ï¸â­ï¸</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | ì„œìš¸ì‹œ ì¸êµ¬ ë°ì´í„° | â­ï¸ ||
| 2    | í™”ì¥í’ˆ ì„±ë¶„ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 3    | ì˜¬ë¦¼í”½ ë°ì´í„° | â­ï¸â­ï¸ ||
| 4    | êµ­ê°€ë³„ ì¸í„°ë„· ì‚¬ìš©ë¥  ë°ì´í„° |â­ï¸â­ï¸ ||
| 5    | ì „êµ­ ë°•ë¬¼ê´€/ë¯¸ìˆ ê´€ ì •ë³´ í‘œì¤€ ë°ì´í„° | â­ï¸â­ï¸â­ï¸ ||
| 6    | ì„œìš¸ì‹œ í¡ì—°ìœ¨ í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 7    | ì›¹í¬ë¡¤ë§ | â­ï¸ ||
| 8    | ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ /ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´ ë°ì´í„° | â­ï¸â­ï¸ |ğŸ‘ˆ|
| 9    | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ ë°ì´í„° | â­ï¸â­ï¸ ||
| 10   | ì„œìš¸ì‹œ êµí†µì‚¬ê³  í˜„í™© (ì‚¬ê³ ìœ í˜•ë³„) í†µê³„ + ì„œìš¸ì‹œ ì°¨ëŸ‰í†µí–‰ì†ë„ (êµ¬ë³„/ì›”ë³„) í†µê³„ + ì„œìš¸ì‹œ ì¸êµ¬ë°€ë„ (êµ¬ë³„) í†µê³„ | â­ï¸â­ï¸â­ï¸ ||

## ë¬¸ì œ ì†Œê°œ ë° ë°ì´í„° ì¤€ë¹„ ë‹¨ê³„

<div style="border: 1px solid black; padding: 10px;">

## ë¬¸ì œ ì†Œê°œ 
- ì´ 3ë‹¨ê³„ ë°ì´í„° ë¶„ì„ ìƒí™© ì œì‹œ
<br></br>
    - 1ë‹¨ê³„: DataFrame ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬
    - 2ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 01 - ê¸°ì´ˆ
    - 3ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 02 - ì‹¬í™”
<br></br>
    - ì´ì  100ì 
<br></br>

### Data ì›ë³¸ ì¶œì²˜

### Target Data(csv): ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ /ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´
- Source: [ì„œìš¸ ì—´ë¦°ë°ì´í„° ê´‘ì¥](http://data.seoul.go.kr/dataList/OA-12251/S/1/datasetView.do)
- DownLoad: ìƒê¸° Source(ì„œìš¸ ì—´ë¦°ë°ì´í„° ê´‘ì¥)ì—ì„œ csv íŒŒì¼ Download
    - ë¬¸ì œ ì¶œì œ ì´í›„ Data ë³€ê²½ë  ê°€ëŠ¥ì„±ì´ ìˆìœ¼ë¯€ë¡œ ë¬¸ì œ í’€ì´ì‹œ í•˜ê¸° File Pathì˜ Data ì‚¬ìš©
- File Path: ```'./datas/ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ _ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´.csv'```

### ì°¸ê³ ì‚¬í•­
- ë¬¸ì œì— hintê°€ ìˆì„ ê²½ìš°, í•´ë‹¹ hintë¥¼ ì´ìš©í•˜ì§€ ì•Šìœ¼ì…”ë„ ë¬´ë°©í•©ë‹ˆë‹¤.

</div>

## ë¬¸ì œ ì‹œì‘! ğŸƒğŸ»

## 1ë‹¨ê³„: DataFrame ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬
***

### ë¬¸ì œ 1-1) DataFrame ë¶ˆëŸ¬ì˜¤ê¸° (5ì )
- ìœ„ 2. Datasì˜ File Pathë¥¼ ì°¸ê³ í•˜ì—¬ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ í•´ë‹¹ csv íŒŒì¼ì„ Pandas DataFrameìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
    - hint: encoding í™•ì¸

    í•œê¸€ íŒŒì¼ì„ ì½ì–´ì˜¬ ë•Œ `pandas.read_csv()` í•¨ìˆ˜ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆëŠ” ì¼ë°˜ì ì¸ ì¸ì½”ë”© ë°©ë²•ì€ ë‹¤ìŒê³¼ ê°™ìŠµë‹ˆë‹¤:

    1. `encoding='utf-8'`: UTF-8ì€ ê°€ì¥ ì¼ë°˜ì ìœ¼ë¡œ ì‚¬ìš©ë˜ëŠ” ì¸ì½”ë”© ë°©ì‹ ì¤‘ í•˜ë‚˜ì´ë©°, ëŒ€ë¶€ë¶„ì˜ í•œê¸€ íŒŒì¼ì—ì„œ ì˜ ì‘ë™í•©ë‹ˆë‹¤.
    
    2. `encoding='cp949'`: CP949ëŠ” í•œê¸€ Windows ì‹œìŠ¤í…œì—ì„œ ì‚¬ìš©ë˜ëŠ” ì¸ì½”ë”© ë°©ì‹ì…ë‹ˆë‹¤. íŠ¹íˆ Windowsì—ì„œ ìƒì„±ëœ íŒŒì¼ì˜ ê²½ìš°ì— ìœ ìš©í•©ë‹ˆë‹¤.

    3. `encoding='euc-kr'`: EUC-KRì€ ë‹¤ë¥¸ í•œê¸€ Windows ì‹œìŠ¤í…œì—ì„œ ì‚¬ìš©ë˜ëŠ” ë˜ ë‹¤ë¥¸ ì¸ì½”ë”© ë°©ì‹ì…ë‹ˆë‹¤. ìœ ë‹ˆì½”ë“œ ì´ì „ì— ì‚¬ìš©ë˜ë˜ ë°©ì‹ì´ì§€ë§Œ ì—¬ì „íˆ ì¼ë¶€ íŒŒì¼ì—ì„œ ë°œê²¬ë  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ì´ì™¸ì—ë„ ë‹¤ì–‘í•œ ì¸ì½”ë”© ë°©ì‹ì´ ìˆì„ ìˆ˜ ìˆì§€ë§Œ, ëŒ€ë¶€ë¶„ì˜ ê²½ìš° UTF-8, CP949, ë˜ëŠ” EUC-KR ì¤‘ í•˜ë‚˜ë¡œ íŒŒì¼ì„ ì˜¬ë°”ë¥´ê²Œ ì½ì–´ì˜¬ ìˆ˜ ìˆì„ ê²ƒì…ë‹ˆë‹¤. íŒŒì¼ì´ ì–´ë–¤ ì¸ì½”ë”© ë°©ì‹ìœ¼ë¡œ ì €ì¥ë˜ì—ˆëŠ”ì§€ í™•ì‹¤í•˜ì§€ ì•Šì€ ê²½ìš°ì—ëŠ” ëŒ€ë¶€ë¶„ì˜ ê²½ìš° `utf-8`ì„ ì‹œë„í•´ë³´ê³  ì‘ë™í•˜ì§€ ì•Šìœ¼ë©´ `cp949`ë‚˜ `euc-kr`ì„ ì‹œë„í•´ë³´ëŠ” ê²ƒì´ ì¢‹ìŠµë‹ˆë‹¤.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [32]:
import pandas as pd

df_target = pd.read_csv("./datas/ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ _ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´.csv", encoding='cp949')
df_target

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[60060 rows x 8 columns]

In [22]:
df_target = pd.read_csv("./datas/ì„œìš¸ì‹œ ì§€í•˜ì²  í˜¸ì„ ë³„ ì—­ë³„ ìœ _ë¬´ì„ ìŠ¹í•˜ì°¨ ì¸ì› ì •ë³´.csv", encoding='euc-kr')
df_target

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[60060 rows x 8 columns]

In [23]:
df_target.loc[32888]

ì‚¬ìš©ì›”         201812
í˜¸ì„ ëª…            ê²½ì˜ì„
ì§€í•˜ì² ì—­          í™ëŒ€ì…êµ¬
ìœ ì„ìŠ¹ì°¨ì¸ì›       54864
ë¬´ì„ìŠ¹ì°¨ì¸ì›        5668
ìœ ì„í•˜ì°¨ì¸ì›       71288
ë¬´ì„í•˜ì°¨ì¸ì›        6370
ì‘ì—…ì¼ì      20190103
Name: 32888, dtype: object

In [24]:
df_target.loc[32888].values[3:7].sum()

138190

In [25]:
df_target.query("ì‚¬ìš©ì›”==201812 & í˜¸ì„ ëª…=='ê²½ì˜ì„ ' & ì§€í•˜ì² ì—­=='í™ëŒ€ì…êµ¬'")

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­  ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
32888  201812  ê²½ì˜ì„   í™ëŒ€ì…êµ¬   54864    5668   71288    6370  20190103
32911  201812  ê²½ì˜ì„   í™ëŒ€ì…êµ¬       1       0       0       0  20190103

In [33]:
# 1-1
# ì±„ì ì„ ìœ„í•œ ì½”ë“œì…ë‹ˆë‹¤. ë°˜ë“œì‹œ ì‹¤í–‰í•´ì£¼ì„¸ìš”.
from grading import *

check_01_01(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 5 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[60060 rows x 8 columns]

### ë¬¸ì œ 1-2) DataFrame ì „ì²˜ë¦¬ 01 - ì¤‘ë³µì œê±° 01 (5ì )
- ì¤‘ë³µë˜ëŠ” Dataë¥¼ ì‚­ì œí•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1-1ì˜ DataFrame(df_target)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: ê° Row(í–‰) ì¤‘ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›'] ì˜ ë‚´ìš©ì´ ëª¨ë‘ ë˜‘ê°™ì€(ì¤‘ë³µë˜ëŠ”) Row(í–‰)ì´ ìˆë‹¤ë©´ ê°€ì¥ ì•ì˜ Row(Indexê°€ ê°€ì¥ ë‚®ì€ Row(í–‰))ëŠ” ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ ì¤‘ë³µë˜ëŠ” Row(í–‰)ë¥¼ ì‚­ì œí•˜ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ1:  ê° Row(í–‰) ì¤‘ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›'] ì˜ ë‚´ìš©ì´ ëª¨ë‘ ë˜‘ê°™ì€(ì¤‘ë³µë˜ëŠ”) Row(í–‰)
<br></br>
        <img src="images/08-1-2-001.png" style="margin:auto" width=600/>
<br></br>
        - ì˜ˆì‹œ2: ê°€ì¥ ì•ì˜ Row(Indexê°€ ê°€ì¥ ë‚®ì€ Row(í–‰), 621)ëŠ” ë‚¨ê¸°ê³  ë‚˜ë¨¸ì§€ ì¤‘ë³µë˜ëŠ” Row(627)ë¥¼ ì‚­ì œ
<br></br>
        <img src="images/08-1-2-002.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´2: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [34]:
df_raw = df_target.copy()

In [35]:
cols = ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›']

df = df_target.drop_duplicates(subset=cols, keep='first')
df

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51162 rows x 8 columns]

In [36]:
df.query("ì‚¬ìš©ì›”==201812 & í˜¸ì„ ëª…=='ê²½ì˜ì„ ' & ì§€í•˜ì² ì—­=='í™ëŒ€ì…êµ¬'")

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­  ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
32888  201812  ê²½ì˜ì„   í™ëŒ€ì…êµ¬   54864    5668   71288    6370  20190103
32911  201812  ê²½ì˜ì„   í™ëŒ€ì…êµ¬       1       0       0       0  20190103

In [37]:
# 1-2

df_target.drop_duplicates(subset=cols, keep='first', inplace=True)

check_01_02(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 10 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51162 rows x 8 columns]

### ë¬¸ì œ 1-3) DataFrame ì „ì²˜ë¦¬ 02 - ì¤‘ë³µì œê±° 02 (10ì )
- ìœ„ 1-2ì—ì„œ ì‚­ì œë˜ì§€ ì•Šì€ ì¤‘ë³µë˜ëŠ” Dataë¥¼ ì‚­ì œí•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1-2ì˜ DataFrame(df_target)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: ê° Row(í–‰) ì¤‘ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'] ì˜ ë‚´ìš©ì´ ëª¨ë‘ ë˜‘ê°™ì€(ì¤‘ë³µë˜ëŠ”) Row(í–‰)ì´ ìˆë‹¤ë©´ ê°€ì¥ ì•ì˜ Row(Indexê°€ ê°€ì¥ ë‚®ì€ Row(í–‰))ì— ['ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›'] ê°ê° í•©í•œ ê°’ì„ ì…ë ¥í•˜ê³ , ë‚˜ë¨¸ì§€ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'] ì˜ ë‚´ìš©ì´ ì¤‘ë³µë˜ëŠ” Row(í–‰)ë¥¼ ì‚­ì œí•˜ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ1: ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'] ì˜ ë‚´ìš©ì´ ëª¨ë‘ ë˜‘ê°™ì€(ì¤‘ë³µë˜ëŠ”) Row(í–‰)
<br></br>
        <img src="images/08-1-3-001.png" style="margin:auto" width=600/>
<br></br>
        - ì˜ˆì‹œ2: ê°€ì¥ ì•ì˜ Row(Indexê°€ ê°€ì¥ ë‚®ì€ Row(í–‰), 15585)ì— ['ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›'] ê°ê° í•©í•œ ê°’ì„ ì…ë ¥
<br></br>
        <img src="images/08-1-3-002.png" style="margin:auto" width=600/>
<br></br>
        - ì˜ˆì‹œ3: ë‚˜ë¨¸ì§€ ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'] ì˜ ë‚´ìš©ì´ ì¤‘ë³µë˜ëŠ” Row(í–‰, 15595)ë¥¼ ì‚­ì œ
<br></br>
        <img src="images/08-1-3-003.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´2: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [38]:
cols = ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­']

# df[df[cols].duplicated()]
df = df_target.drop_duplicates(cols, keep='first')
df

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

In [39]:
df.query("ì‚¬ìš©ì›”==201812 & í˜¸ì„ ëª…=='ê²½ì˜ì„ ' & ì§€í•˜ì² ì—­=='í™ëŒ€ì…êµ¬'")

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­  ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
32888  201812  ê²½ì˜ì„   í™ëŒ€ì…êµ¬   54864    5668   71288    6370  20190103

In [42]:
tmp = df_target.groupby(cols, as_index=False).agg({
	"ìœ ì„ìŠ¹ì°¨ì¸ì›": "sum",
	"ë¬´ì„ìŠ¹ì°¨ì¸ì›": "sum",
	"ìœ ì„í•˜ì°¨ì¸ì›": "sum",
	"ë¬´ì„í•˜ì°¨ì¸ì›": "sum",
	"ì‘ì—…ì¼ì": "first"
})
tmp

          ì‚¬ìš©ì›”  í˜¸ì„ ëª… ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›   ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      201501  1í˜¸ì„   ë™ëŒ€ë¬¸   336981   390926  132944  137814  20150206
1      201501  1í˜¸ì„   ë™ë¬˜ì•   155556   171171  124838  124116  20150206
2      201501  1í˜¸ì„   ì„œìš¸ì—­  1890411  1667163  238403  220008  20150206
3      201501  1í˜¸ì„    ì‹œì²­   639441   636014   87392   85689  20150206
4      201501  1í˜¸ì„   ì‹ ì„¤ë™   374981   363032  124078  118929  20150206
...       ...  ...  ...      ...      ...     ...     ...       ...
51087  202206  ì¤‘ì•™ì„    ì›ë•     5854     6959    5749    6739  20220703
51088  202206  ì¤‘ì•™ì„    ì¤‘ë‘   115112    47960  106287   46789  20220703
51089  202206  ì¤‘ì•™ì„    ì§€í‰      952     1216    1282    1173  20220703
51090  202206  ì¤‘ì•™ì„    íŒ”ë‹¹    23038     9401   24414    9398  20220703
51091  202206  ì¤‘ì•™ì„    íšŒê¸°   597740   121604  572831  119310  20220703

[51092 rows x 8 columns]

In [43]:
tmp.query("ì‚¬ìš©ì›”==201812 & í˜¸ì„ ëª…=='ê²½ì˜ì„ ' & ì§€í•˜ì² ì—­=='í™ëŒ€ì…êµ¬'")

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­  ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
25630  201812  ê²½ì˜ì„   í™ëŒ€ì…êµ¬   54865    5668   71288    6370  20190103

In [46]:
df1 = df[cols]
df1

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­
0      202206  1í˜¸ì„            ì œê¸°ë™
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)
2      202206  1í˜¸ì„             ì¢…ê°
3      202206  1í˜¸ì„            ì„œìš¸ì—­
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€
...       ...  ...           ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ
60057  201501  9í˜¸ì„             ë“±ì´Œ
60058  201501  9í˜¸ì„             ê°€ì–‘
60059  201501  9í˜¸ì„             ë‹¹ì‚°

[51092 rows x 3 columns]

In [55]:
df_merge = df1.merge(tmp, on=['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'], how='left')
df_merge.index = df1.index
df_merge

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

In [56]:
df_merge.query("ì‚¬ìš©ì›”==201812 & í˜¸ì„ ëª…=='ê²½ì˜ì„ ' & ì§€í•˜ì² ì—­=='í™ëŒ€ì…êµ¬'")

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­  ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
32888  201812  ê²½ì˜ì„   í™ëŒ€ì…êµ¬   54865    5668   71288    6370  20190103

In [57]:
def check(df: pd.core.frame.DataFrame):
    question_no, points = 2, 10

    condition_dict = {
        'condition01': len(df) == 51092,
        'condition02': len(df[df.ì‚¬ìš©ì›”==201812]) == 595,
        'condition03': df.loc[32888].values[3:7].sum() == 138191,
        'condition04': df.index.is_monotonic_increasing,
    }

    if sum(condition_dict.values()) == len(condition_dict):
        return True
    else:
        return False

check(df=df_merge)

True

In [58]:
cols = ['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­']

df_idx = df_target.drop_duplicates(cols, keep='first')
df_idx

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

In [59]:
df_val = df_target.groupby(cols, as_index=False).agg({
	"ìœ ì„ìŠ¹ì°¨ì¸ì›": "sum",
	"ë¬´ì„ìŠ¹ì°¨ì¸ì›": "sum",
	"ìœ ì„í•˜ì°¨ì¸ì›": "sum",
	"ë¬´ì„í•˜ì°¨ì¸ì›": "sum",
	"ì‘ì—…ì¼ì": "first"
})
df_val

          ì‚¬ìš©ì›”  í˜¸ì„ ëª… ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›   ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      201501  1í˜¸ì„   ë™ëŒ€ë¬¸   336981   390926  132944  137814  20150206
1      201501  1í˜¸ì„   ë™ë¬˜ì•   155556   171171  124838  124116  20150206
2      201501  1í˜¸ì„   ì„œìš¸ì—­  1890411  1667163  238403  220008  20150206
3      201501  1í˜¸ì„    ì‹œì²­   639441   636014   87392   85689  20150206
4      201501  1í˜¸ì„   ì‹ ì„¤ë™   374981   363032  124078  118929  20150206
...       ...  ...  ...      ...      ...     ...     ...       ...
51087  202206  ì¤‘ì•™ì„    ì›ë•     5854     6959    5749    6739  20220703
51088  202206  ì¤‘ì•™ì„    ì¤‘ë‘   115112    47960  106287   46789  20220703
51089  202206  ì¤‘ì•™ì„    ì§€í‰      952     1216    1282    1173  20220703
51090  202206  ì¤‘ì•™ì„    íŒ”ë‹¹    23038     9401   24414    9398  20220703
51091  202206  ì¤‘ì•™ì„    íšŒê¸°   597740   121604  572831  119310  20220703

[51092 rows x 8 columns]

In [61]:
df_target = df_idx[cols].merge(df_val, on=['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­'], how='left')
df_target.index = df_idx.index
df_target

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

In [62]:
df_target.loc[32888]

ì‚¬ìš©ì›”         201812
í˜¸ì„ ëª…            ê²½ì˜ì„
ì§€í•˜ì² ì—­          í™ëŒ€ì…êµ¬
ìœ ì„ìŠ¹ì°¨ì¸ì›       54865
ë¬´ì„ìŠ¹ì°¨ì¸ì›        5668
ìœ ì„í•˜ì°¨ì¸ì›       71288
ë¬´ì„í•˜ì°¨ì¸ì›        6370
ì‘ì—…ì¼ì      20190103
Name: 32888, dtype: object

In [63]:
# 1-3 10ì 

check_01_03(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 20 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…          ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„            ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„   ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„             ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„            ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„           ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...           ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„            ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„           ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„             ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„             ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„             ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

### ë¬¸ì œ 1-4) DataFrame ì „ì²˜ë¦¬ 03 - Data ìˆ˜ì • 01 (5ì )
- ìœ„ 1-3ì˜ DataFrame(df_target)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: 'í˜¸ì„ ëª…' Column(ì—´)ì˜ Dataê°€ '9í˜¸ì„ 2~3ë‹¨ê³„' ë˜ëŠ” '9í˜¸ì„ 2ë‹¨ê³„'ë¼ë©´ ì´ë¥¼ '9í˜¸ì„ 'ìœ¼ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 'ì§€í•˜ì² ì—­' Column(ì—´)ì˜ Dataì— ê´„í˜¸('(', ')')ê°€ ìˆë‹¤ë©´, ê´„í˜¸ ì•ˆì˜ ë‚´ìš©ê³¼ ê´„í˜¸ ìì²´ë¥¼ ëª¨ë‘ ì§€ì›Œì£¼ì„¸ìš”.
        - ì˜ˆì‹œ: 'ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)' -> 'ì²­ëŸ‰ë¦¬'
<br></br>
    - ì¡°ê±´3: 'ì§€í•˜ì² ì—­' Column(ì—´)ì˜ Dataê°€ 'ì‹ ì²œ'ì´ë¼ë©´ 'ì ì‹¤ìƒˆë‚´'ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [64]:
df_target['í˜¸ì„ ëª…'].unique()

array(['1í˜¸ì„ ', '2í˜¸ì„ ', '3í˜¸ì„ ', '4í˜¸ì„ ', '5í˜¸ì„ ', '6í˜¸ì„ ', '7í˜¸ì„ ', '8í˜¸ì„ ', '9í˜¸ì„ ',
       '9í˜¸ì„ 2~3ë‹¨ê³„', 'ê²½ê°•ì„ ', 'ê²½ë¶€ì„ ', 'ê²½ì›ì„ ', 'ê²½ì˜ì„ ', 'ê²½ì¸ì„ ', 'ê²½ì¶˜ì„ ', 'ê³µí•­ì² ë„ 1í˜¸ì„ ',
       'ê³¼ì²œì„ ', 'ë¶„ë‹¹ì„ ', 'ìˆ˜ì¸ì„ ', 'ì‹ ë¦¼ì„ ', 'ì•ˆì‚°ì„ ', 'ìš°ì´ì‹ ì„¤ì„ ', 'ì¼ì‚°ì„ ', 'ì¥í•­ì„ ', 'ì¤‘ì•™ì„ ',
       '9í˜¸ì„ 2ë‹¨ê³„'], dtype=object)

In [65]:
df_target['ì§€í•˜ì² ì—­'].unique()

array(['ì œê¸°ë™', 'ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)', 'ì¢…ê°', 'ì„œìš¸ì—­', 'ì¢…ë¡œ3ê°€', 'ì¢…ë¡œ5ê°€', 'ë™ëŒ€ë¬¸', 'ì‹œì²­',
       'ë™ë¬˜ì•', 'ì‹ ì„¤ë™', 'ì‹ ë„ë¦¼', 'ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›(DDP)', 'ì‚¼ì„±(ë¬´ì—­ì„¼í„°)', 'ì„ì§€ë¡œ3ê°€',
       'ì˜ë“±í¬êµ¬ì²­', 'ì‹ ì •ë„¤ê±°ë¦¬', 'ì ì‹¤ìƒˆë‚´', 'ì‹ ì´Œ', 'ëŒ€ë¦¼(êµ¬ë¡œêµ¬ì²­)', 'êµ¬ë¡œë””ì§€í„¸ë‹¨ì§€', 'ìš©ë‘(ë™ëŒ€ë¬¸êµ¬ì²­)',
       'ì„±ìˆ˜', 'ì ì‹¤(ì†¡íŒŒêµ¬ì²­)', 'êµëŒ€(ë²•ì›.ê²€ì°°ì²­)', 'ì„œì´ˆ', 'ë¬¸ë˜', 'ì•„í˜„', 'ë‚™ì„±ëŒ€(ê°•ê°ì°¬)', 'ë°©ë°°',
       'ì™•ì‹­ë¦¬(ì„±ë™êµ¬ì²­)', 'ì–‘ì²œêµ¬ì²­', 'ê±´ëŒ€ì…êµ¬', 'ì‹ ë¦¼', 'ì ì‹¤ë‚˜ë£¨', 'ì‚¬ë‹¹', 'ì‹ ë‹µ',
       'ì¶©ì •ë¡œ(ê²½ê¸°ëŒ€ì…êµ¬)', 'í•©ì •', 'í™ëŒ€ì…êµ¬', 'ì„œìš¸ëŒ€ì…êµ¬(ê´€ì•…êµ¬ì²­)', 'ì—­ì‚¼', 'ìƒì™•ì‹­ë¦¬',
       'ê°•ë³€(ë™ì„œìš¸í„°ë¯¸ë„)', 'ë„ë¦¼ì²œ', 'ìš©ë‹µ', 'ê°•ë‚¨', 'ì´ëŒ€', 'ì‹ ë‹¹', 'êµ¬ì˜(ê´‘ì§„êµ¬ì²­)', 'í•œì–‘ëŒ€',
       'ëšì„¬', 'ì¢…í•©ìš´ë™ì¥', 'ë´‰ì²œ', 'ì„ì§€ë¡œ4ê°€', 'ì‹ ëŒ€ë°©', 'ë‹¹ì‚°', 'ì„ì§€ë¡œì…êµ¬', 'ì„ ë¦‰',
       'ê²½ë³µê¶(ì •ë¶€ì„œìš¸ì²­ì‚¬)', 'ê²½ì°°ë³‘ì›', 'ëŒ€ì²­', 'ë…¹ë²ˆ', 'ì‹ ì‚¬', 'ì—°ì‹ ë‚´', 'êµ¬íŒŒë°œ', 'ì˜¤ê¸ˆ', 'ì ì›',
       'ê°€ë½ì‹œì¥', 'í•™ì—¬ìš¸', 'ê¸ˆí˜¸', 'ì§€ì¶•', 'ë¶ˆê´‘', 'ì¼ì›', 'ì¶©ë¬´ë¡œ', 'ì•ˆêµ­', 'ì••êµ¬ì •', 'ë§¤ë´‰',
       'ì–‘ì¬(ì„œì´ˆêµ¬ì²­)', 'ì˜¥ìˆ˜', 'ê³ ì†í„°ë¯¸ë„', 'í™ì œ', 'ë…ë¦½ë¬¸', 'ì•½ìˆ˜', 'ëŒ€ì¹˜', 'ë„ê³¡',
       'ë‚¨ë¶€í„°ë¯¸ë„(ì˜ˆìˆ ì˜ì „ë‹¹)', 'ìˆ˜ì„œ', 'ë¬´ì•…ì¬', 'ë™ëŒ€ì…êµ¬', 'ë…¸ì›', 'ë¯¸ì•„(ì„œìš¸ì‚¬ì´ë²„ëŒ€í•™)', 'ë‚¨íƒœë ¹',
       'ìˆ˜ìœ (ê°•ë¶êµ¬ì²­)', 'ì°½ë™', 'ë‹¹ê³ ê°œ', 'í•œì„±ëŒ€ì…êµ¬(ì‚¼ì„ êµ)', 'ìƒê³„', 'ëª…ë™', 'ì‹ ìš©ì‚°',
       'ì´ì‹ ëŒ€ì…êµ¬(ì´ìˆ˜)', 'í˜œí™”', 'ì‚¼ê°ì§€', 'ë™ì‘(í˜„ì¶©ì›)', 'ì„±ì‹ ì—¬ëŒ€ì…êµ¬(ëˆì•”)', 'ë¯¸ì•„ì‚¬ê±°ë¦¬',
       'ì´ì´Œ(êµ­ë¦½ì¤‘ì•™ë°•ë¬¼ê´€)', 'íšŒí˜„(ë‚¨ëŒ€ë¬¸ì‹œì¥)', 'ê¸¸ìŒ', 'ìŒë¬¸', 'ìˆ™ëŒ€ì…êµ¬(ê°ˆì›”)', 'í™”ê³¡',
       'ì˜¤ëª©êµ(ëª©ë™ìš´ë™ì¥ì•)', 'ì˜ë“±í¬ì‹œì¥', 'ì˜¬ë¦¼í”½ê³µì›(í•œêµ­ì²´ëŒ€)', 'ê°•ì¼', 'ë§ˆì²œ', 'ì²œí˜¸(í’ë‚©í† ì„±)',
       'ë§ˆí¬', 'ì„œëŒ€ë¬¸', 'í–‰ë‹¹', 'ê¸¸ë™', 'ë°©ì´', 'ëª…ì¼', 'ì‹ ì •(ì€í–‰ì •)', 'ì• ì˜¤ê°œ', 'ë‹µì‹­ë¦¬', 'ê±°ì—¬',
       'ë¯¸ì‚¬', 'ë‘”ì´Œë™', 'ê¹Œì¹˜ì‚°', 'ì—¬ì˜ë„', 'ë§ˆì¥', 'ê³µë•', 'êµ°ì(ëŠ¥ë™)', 'í•˜ë‚¨ê²€ë‹¨ì‚°', 'ê°•ë™',
       'í•˜ë‚¨í’ì‚°', 'ê³ ë•', 'ì—¬ì˜ë‚˜ë£¨', 'ê¹€í¬ê³µí•­', 'ì•„ì°¨ì‚°(ì–´ë¦°ì´ëŒ€ê³µì›í›„ë¬¸)', 'ê´‘ë‚˜ë£¨(ì¥ì‹ ëŒ€)', 'ì‹ ê¸¸',
       'ê°œí™”ì‚°', 'ìƒì¼ë™', 'ì†¡ì •', 'ì¥í•œí‰', 'ì‹ ê¸ˆí˜¸', 'ë°©í™”', 'ê´‘í™”ë¬¸(ì„¸ì¢…ë¬¸í™”íšŒê´€)', 'ë§ˆê³¡', 'ì–‘í‰',
       'ë°œì‚°', 'ê°œë¡±', 'ëª©ë™', 'êµ½ì€ë‹¤ë¦¬(ê°•ë™êµ¬ë¯¼íšŒê´€ì•)', 'ì²­êµ¬', 'ìš°ì¥ì‚°', 'í•˜ë‚¨ì‹œì²­(ë•í’?ì‹ ì¥)',
       'ìƒìˆ˜', 'ì°½ì‹ ', 'ë§ì›', 'ë…¹ì‚¬í‰(ìš©ì‚°êµ¬ì²­)', 'íš¨ì°½ê³µì›ì•', 'ì‘ì•”', 'íƒœë¦‰ì…êµ¬', 'ë²„í‹°ê³ ê°œ', 'êµ¬ì‚°',
       'ë…ë°”ìœ„', 'ë´‰í™”ì‚°(ì„œìš¸ì˜ë£Œì›)', 'ì„ê³„', 'ìƒˆì ˆ(ì‹ ì‚¬)', 'ì—­ì´Œ', 'ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°', 'í•œê°•ì§„',
       'ëŒ€í¥(ì„œê°•ëŒ€ì•)', 'ì›”ê³¡(ë™ë•ì—¬ëŒ€)', 'ì›”ë“œì»µê²½ê¸°ì¥(ì„±ì‚°)', 'ë§ˆí¬êµ¬ì²­', 'í™”ë‘ëŒ€(ì„œìš¸ì—¬ëŒ€ì…êµ¬)',
       'ì¦ì‚°(ëª…ì§€ëŒ€ì•)', 'ëŒê³¶ì´', 'ì‹ ë‚´', 'ê³ ë ¤ëŒ€(ì¢…ì•”)', 'ì•ˆì•”(ê³ ëŒ€ë³‘ì›ì•)', 'ê´‘í¥ì°½(ì„œê°•)', 'ì´íƒœì›',
       'ë³´ë¬¸', 'ìƒì›”ê³¡(í•œêµ­ê³¼í•™ê¸°ìˆ ì—°êµ¬ì›)', 'ì‚¬ê°€ì •', 'í•˜ê³„', 'ë‚¨ì„±', 'ì¤‘í™”', 'ë§ˆë“¤', 'ë‚¨êµ¬ë¡œ', 'ì¥ì•”',
       'ìƒë™', 'ìˆ­ì‹¤ëŒ€ì…êµ¬(ì‚´í”¼ì¬)', 'ë„ë´‰ì‚°', 'ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€', 'ë©´ëª©', 'ëšì„¬ìœ ì›ì§€', 'ë…¼í˜„', 'ë³´ë¼ë§¤',
       'ë¨¹ê³¨', 'ìƒë´‰(ì‹œì™¸ë²„ìŠ¤í„°ë¯¸ë„)', 'ë°˜í¬', 'ì–´ë¦°ì´ëŒ€ê³µì›(ì„¸ì¢…ëŒ€)', 'ê´‘ëª…ì‚¬ê±°ë¦¬', 'í•™ë™', 'ë‚´ë°©',
       'ê³µë¦‰(ì„œìš¸ê³¼í•™ê¸°ìˆ ëŒ€)', 'ì¤‘ê³¡', 'ì´ìˆ˜', 'ì²­ë‹´', 'ì˜¨ìˆ˜(ì„±ê³µíšŒëŒ€ì…êµ¬)', 'ì‹ ì¤‘ë™', 'ì²œì™•', 'ê¹Œì¹˜ìš¸',
       'ì² ì‚°', 'ë¶€í‰êµ¬ì²­', 'ê°•ë‚¨êµ¬ì²­', 'ì‹ í’', 'ì‹ ëŒ€ë°©ì‚¼ê±°ë¦¬', 'ì¥ìŠ¹ë°°ê¸°', 'ìš©ë§ˆì‚°(ìš©ë§ˆí­í¬ê³µì›)', 'ìˆ˜ë½ì‚°',
       'ìƒë„', 'ì¤‘ê³„', 'ê°•ë™êµ¬ì²­', 'ë³µì •', 'ë¬¸ì •', 'ì‹ í¥', 'ì†¡íŒŒ', 'ì„ì´Œ', 'ìˆ˜ì§„', 'ë‚¨ìœ„ë¡€',
       'ëª¨ë€', 'ì‚°ì„±', 'ëª½ì´Œí† ì„±(í‰í™”ì˜ë¬¸)', 'ì¥ì§€', 'ë‹¨ëŒ€ì˜¤ê±°ë¦¬', 'ë‚¨í•œì‚°ì„±ì…êµ¬(ì„±ë‚¨ë²•ì›.ê²€ì°°ì²­)', 'ì•”ì‚¬',
       'ì„ ìœ ë„', 'ë§ˆê³¡ë‚˜ë£¨(ì„œìš¸ì‹ë¬¼ì›)', 'êµ¬ë°˜í¬', 'ê³µí•­ì‹œì¥', 'ì‹ ëª©ë™', 'ì‚¬í‰', 'ì–‘ì²œí–¥êµ', 'ê°œí™”',
       'ì‹ ë°˜í¬', 'ê°€ì–‘', 'ìƒ›ê°•', 'ë“±ì´Œ', 'ì‹ ë…¼í˜„', 'ë…¸ëŸ‰ì§„', 'êµ­íšŒì˜ì‚¬ë‹¹', 'ì¦ë¯¸', 'ì—¼ì°½',
       'í‘ì„(ì¤‘ì•™ëŒ€ì…êµ¬)', 'ë…¸ë“¤', 'ì‹ ë°©í™”', 'ì–¸ì£¼', 'ì¤‘ì•™ë³´í›ˆë³‘ì›', 'ì†¡íŒŒë‚˜ë£¨', 'ì‚¼ì „', 'ì„ ì •ë¦‰',
       'ë‘”ì´Œì˜¤ë¥œ', 'ë´‰ì€ì‚¬', 'ì‚¼ì„±ì¤‘ì•™', 'ì„ì´Œê³ ë¶„', 'í•œì„±ë°±ì œ', 'ë¶€ë°œ', 'ì„¸ì¢…ëŒ€ì™•ë¦‰', 'ì´ì²œ', 'ì—¬ì£¼',
       'ì‹ ë‘”ë„ì˜ˆì´Œ', 'ê³¤ì§€ì•”', 'ì‚¼ë™', 'íŒêµ', 'ì´ë§¤', 'ê²½ê¸°ê´‘ì£¼', 'ì´ˆì›”', 'ì§„ìœ„', 'ì˜¤ì‚°', 'í™”ì„œ',
       'ì„¸ë§ˆ', 'ë‚¨ì˜', 'ëª…í•™', 'ê¸ˆì •', 'ìš©ì‚°', 'ì§ì‚°', 'êµ°í¬', 'í‰íƒì§€ì œ', 'ë‘ì •', 'ê´€ì•…', 'ì†¡íƒ„',
       'ì„œì •ë¦¬', 'ì„¸ë¥˜', 'ì˜¤ì‚°ëŒ€', 'ì„ìˆ˜', 'ìˆ˜ì›', 'ë‹¹ì •', 'ì˜ì™•', 'ëŒ€ë°©', 'êµ¬ë¡œ', 'ë…ì‚°',
       'ì˜ë“±í¬', 'ê´‘ëª…', 'í‰íƒ', 'ì²œì•ˆ', 'ì„±ê· ê´€ëŒ€', 'ì•ˆì–‘', 'ì„±í™˜', 'ê¸ˆì²œêµ¬ì²­', 'ì„œë™íƒ„', 'ë³‘ì ',
       'ì™¸ëŒ€ì•', 'ì„œë¹™ê³ ', 'ì†Œìš”ì‚°', 'ë…¹ì–‘', 'ë•ì •', 'ì˜ì •ë¶€', 'ë™ë‘ì²œì¤‘ì•™', 'ë„ë´‰', 'í•œë‚¨', 'ë™ë‘ì²œ',
       'ì›”ê³„', 'ë³´ì‚°', 'ë…¹ì²œ', 'ë§ì›”ì‚¬', 'ê´‘ìš´ëŒ€', 'ì–‘ì£¼', 'ë•ê³„', 'ì§€í–‰', 'ê°€ëŠ¥', 'ì‘ë´‰',
       'ì‹ ì´ë¬¸', 'ë°©í•™', 'íšŒë£¡', 'í’ì‚°', 'ê²€ì•”', 'ì•¼ë‹¹', 'ìˆ˜ìƒ‰', 'ê¸ˆë¦‰', 'ìš´ì •', 'í–‰ì‹ ', 'ì›”ë¡±',
       'ë¬¸ì‚°', 'ê°•ë§¤', 'ì„œê°•ëŒ€', 'í™”ì „', 'ê³„ì–‘', 'ê³¡ì‚°', 'íƒ„í˜„', 'ì„ì§„ê°•', 'ê°€ì¢Œ', 'ë°±ë§ˆ', 'ëŠ¥ê³¡',
       'ê¸ˆì´Œ', 'ì¼ì‚°', 'íŒŒì£¼', 'ì¸ì²œ', 'ë¶€ì²œ', 'ë¶€ê°œ', 'ì†Œì‚¬', 'ë™ì¸ì²œ', 'ê°„ì„', 'ì£¼ì•ˆ', 'ë„ì›',
       'ë™ì•”', 'ì¤‘ë™', 'ë°±ìš´', 'ì˜¤ë¥˜ë™', 'ì†¡ë‚´', 'ì œë¬¼í¬', 'ê°œë´‰', 'ì—­ê³¡', 'êµ¬ì¼', 'ë„í™”', 'ë¶€í‰',
       'í‰ë‚´í˜¸í‰', 'ê°€í‰', 'ìƒì²œ', 'ì‚¬ë¦‰', 'ê¸ˆê³¡', 'ë³„ë‚´', 'ê°•ì´Œ', 'ë‚¨ì¶˜ì²œ', 'ê°ˆë§¤', 'ëŒ€ì„±ë¦¬',
       'êµ´ë´‰ì‚°', 'ë°±ì–‘ë¦¬', 'ì²­í‰', 'í‡´ê³„ì›', 'ë§ˆì„', 'ì²œë§ˆì‚°', 'ê¹€ìœ ì •', 'ì¶˜ì²œ', 'ì˜ì¢…', 'ìš´ì„œ',
       'ì¸ì²œê³µí•­2í„°ë¯¸ë„', 'ì¸ì²œê³µí•­1í„°ë¯¸ë„', 'ì²­ë¼êµ­ì œë„ì‹œ', 'ê³µí•­í™”ë¬¼ì²­ì‚¬', 'í‰ì´Œ', 'ë²”ê³„', 'ëŒ€ê³µì›',
       'ì„ ë°”ìœ„', 'ì •ë¶€ê³¼ì²œì²­ì‚¬', 'ê²½ë§ˆê³µì›', 'ì¸ë•ì›', 'ê³¼ì²œ', 'ìˆ˜ì›ì‹œì²­', 'ì˜¤ë¦¬', 'ë³´ì •', 'ì„œìš¸ìˆ²',
       'ìƒê°ˆ', 'ë§í¬', 'ëŒ€ëª¨ì‚°ì…êµ¬', 'ë¯¸ê¸ˆ', 'êµ¬ë£¡', 'ì‹ ê°ˆ', 'ìˆ˜ë‚´', 'ì•¼íƒ‘', 'í•œí‹°', 'ì••êµ¬ì •ë¡œë°ì˜¤',
       'íƒœí‰', 'ê¸°í¥', 'ì£½ì „', 'ë§¤êµ', 'êµ¬ì„±', 'ê°€ì²œëŒ€', 'ì˜í†µ', 'ì„œí˜„', 'ê°œí¬ë™', 'ì²­ëª…',
       'ë§¤íƒ„ê¶Œì„ ', 'ì •ì', 'ì›ì¸ì¬', 'í˜¸êµ¬í¬', 'ìˆ­ì˜', 'ì›”ê³¶', 'ì†¡ë„', 'ì†Œë˜í¬êµ¬', 'ì•¼ëª©',
       'ë‚¨ë™ì¸ë”ìŠ¤íŒŒí¬', 'ì—°ìˆ˜', 'ì‚¬ë¦¬', 'ë‹¬ì›”', 'ì¸ì²œë…¼í˜„', 'ì¸í•˜ëŒ€', 'ê³ ìƒ‰', 'ì˜¤ëª©ì²œ', 'ì–´ì²œ',
       'ì‹ í¬', 'ê´€ì•…ì‚°(ì„œìš¸ëŒ€)', 'ë³´ë¼ë§¤ë³‘ì›', 'ë‹¹ê³¡', 'ì„œì›', 'ë³´ë¼ë§¤ê³µì›', 'ì„œìš¸ì§€ë°©ë³‘ë¬´ì²­',
       'ì„œìš¸ëŒ€ë²¤ì²˜íƒ€ìš´', 'ì¤‘ì•™', 'ì •ì™•', 'ì•ˆì‚°', 'ê³ ì”', 'ìˆ˜ë¦¬ì‚°', 'ì´ˆì§€', 'ì˜¤ì´ë„', 'ì‚°ë³¸', 'í•œëŒ€ì•',
       'ì‹ ê¸¸ì˜¨ì²œ', 'ëŒ€ì•¼ë¯¸', 'ìƒë¡ìˆ˜', 'ë°˜ì›”', 'ë¶í•œì‚°ë³´êµ­ë¬¸', 'ì‚¼ì–‘', 'í™”ê³„', 'ì‚¼ì–‘ì‚¬ê±°ë¦¬', 'ê°€ì˜¤ë¦¬',
       '4.19ë¯¼ì£¼ë¬˜ì§€', 'ì •ë¦‰', 'ë¶í•œì‚°ìš°ì´', 'ì†”ë°­ê³µì›', 'ì†”ìƒ˜', 'ì •ë°œì‚°', 'ì£¼ì—½', 'ëŒ€í™”', 'ëŒ€ê³¡',
       'ì›í¥', 'ì›ë‹¹', 'í™”ì •', 'ì‚¼ì†¡', 'ë°±ì„', 'ë§ˆë‘', 'ë°°ë°©', 'ì˜¨ì–‘ì˜¨ì²œ', 'ì•„ì‚°', 'ì‹ ì°½(ìˆœì²œí–¥ëŒ€)',
       'íƒ•ì •', 'ë´‰ëª…', 'ìŒìš©(ë‚˜ì‚¬ë ›ëŒ€)', 'ìš´ê¸¸ì‚°', 'ìš©ë¬¸', 'íŒ”ë‹¹', 'êµ­ìˆ˜', 'ë•ì†Œ', 'ì–‘ì›', 'ë§ìš°',
       'êµ¬ë¦¬', 'ì–‘ìˆ˜', 'ì˜¤ë¹ˆ', 'ì¤‘ë‘', 'ì›ë•', 'ì•„ì‹ ', 'ë„ë†', 'ì§€í‰', 'ë„ì‹¬', 'íšŒê¸°', 'ì–‘ì •',
       'ì‹ ì›', 'êµ´í¬ì²œ', 'ë¶€ì²œì‹œì²­', 'ì‚¼ì‚°ì²´ìœ¡ê´€', 'ë¶€ì²œì¢…í•©ìš´ë™ì¥', 'ì¶˜ì˜', 'ì§€ì œ', 'ë‚™ì„±ëŒ€',
       'ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›', 'ìš©ë§ˆì‚°', 'ë§ˆê³¡ë‚˜ë£¨', 'ì¸ì²œêµ­ì œê³µí•­', 'ì‹ ì²œ', 'ì²­ëŸ‰ë¦¬(ì§€í•˜)', 'ìš©ë‘', 'êµ¬ì˜',
       'ì ì‹¤', 'ì‚¼ì„±', 'êµëŒ€', 'ì„œìš¸ëŒ€ì…êµ¬', 'ëŒ€ë¦¼', 'ì¶©ì •ë¡œ', 'ê°•ë³€', 'ê²½ë³µê¶', 'ì–‘ì¬', 'ë‚¨ë¶€í„°ë¯¸ë„',
       'ë¯¸ì•„', 'ì„±ì‹ ì—¬ëŒ€ì…êµ¬', 'í•œì„±ëŒ€ì…êµ¬', 'ìˆ™ëŒ€ì…êµ¬', 'ì´ì´Œ', 'ë™ì‘', 'ì´ì‹ ëŒ€ì…êµ¬', 'íšŒí˜„', 'ì‹ ì •',
       'ì˜¤ëª©êµ', 'ê´‘í™”ë¬¸', 'ì•„ì°¨ì‚°', 'ê´‘ë‚˜ë£¨', 'ì²œí˜¸', 'êµ½ì€ë‹¤ë¦¬', 'ì˜¬ë¦¼í”½ê³µì›', 'êµ°ì', 'ìƒˆì ˆ',
       'ì¦ì‚°', 'ì›”ë“œì»µê²½ê¸°ì¥', 'ê´‘í¥ì°½', 'ëŒ€í¥', 'ì•ˆì•”', 'ê³ ë ¤ëŒ€', 'ì›”ê³¡', 'í™”ë‘ëŒ€', 'ìƒì›”ê³¡', 'ì˜¨ìˆ˜',
       'ê³µë¦‰', 'ìƒë´‰', 'ì–´ë¦°ì´ëŒ€ê³µì›', 'ìˆ­ì‹¤ëŒ€ì…êµ¬', 'ëª½ì´Œí† ì„±', 'ë‚¨í•œì‚°ì„±ì…êµ¬', 'ë™ë‘ì²œ ì¤‘ì•™', 'ì™•ì‹­ë¦¬',
       'ì²­ëŸ‰ë¦¬(ì§€ìƒ)', 'ì‹ ì°½', 'ìŒìš©ë™'], dtype=object)

In [66]:
string = 'ì¶©ì •ë¡œ(ê²½ê¸°ëŒ€ì…êµ¬)'
string.find('(')

3

In [72]:
import re

re.sub(r"\(.*\)", "", string='ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›(DDP)')

'ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›'

In [78]:
df_copy = df_target.copy()

In [79]:
def replace_value(row):
    if row['í˜¸ì„ ëª…'] in ['9í˜¸ì„ 2~3ë‹¨ê³„','9í˜¸ì„ 2ë‹¨ê³„']:
        df_copy.loc[row.name, 'í˜¸ì„ ëª…'] = '9í˜¸ì„ '
    
    df_copy.loc[row.name, 'ì§€í•˜ì² ì—­'] = re.sub(r"\(.*\)", "", row['ì§€í•˜ì² ì—­'])

df_copy.apply(replace_value, axis=1)
df_copy['í˜¸ì„ ëª…'].unique()

array(['1í˜¸ì„ ', '2í˜¸ì„ ', '3í˜¸ì„ ', '4í˜¸ì„ ', '5í˜¸ì„ ', '6í˜¸ì„ ', '7í˜¸ì„ ', '8í˜¸ì„ ', '9í˜¸ì„ ',
       'ê²½ê°•ì„ ', 'ê²½ë¶€ì„ ', 'ê²½ì›ì„ ', 'ê²½ì˜ì„ ', 'ê²½ì¸ì„ ', 'ê²½ì¶˜ì„ ', 'ê³µí•­ì² ë„ 1í˜¸ì„ ', 'ê³¼ì²œì„ ', 'ë¶„ë‹¹ì„ ',
       'ìˆ˜ì¸ì„ ', 'ì‹ ë¦¼ì„ ', 'ì•ˆì‚°ì„ ', 'ìš°ì´ì‹ ì„¤ì„ ', 'ì¼ì‚°ì„ ', 'ì¥í•­ì„ ', 'ì¤‘ì•™ì„ '], dtype=object)

In [80]:
df_copy['ì§€í•˜ì² ì—­'].unique()

array(['ì œê¸°ë™', 'ì²­ëŸ‰ë¦¬', 'ì¢…ê°', 'ì„œìš¸ì—­', 'ì¢…ë¡œ3ê°€', 'ì¢…ë¡œ5ê°€', 'ë™ëŒ€ë¬¸', 'ì‹œì²­', 'ë™ë¬˜ì•',
       'ì‹ ì„¤ë™', 'ì‹ ë„ë¦¼', 'ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›', 'ì‚¼ì„±', 'ì„ì§€ë¡œ3ê°€', 'ì˜ë“±í¬êµ¬ì²­', 'ì‹ ì •ë„¤ê±°ë¦¬', 'ì ì‹¤ìƒˆë‚´',
       'ì‹ ì´Œ', 'ëŒ€ë¦¼', 'êµ¬ë¡œë””ì§€í„¸ë‹¨ì§€', 'ìš©ë‘', 'ì„±ìˆ˜', 'ì ì‹¤', 'êµëŒ€', 'ì„œì´ˆ', 'ë¬¸ë˜', 'ì•„í˜„',
       'ë‚™ì„±ëŒ€', 'ë°©ë°°', 'ì™•ì‹­ë¦¬', 'ì–‘ì²œêµ¬ì²­', 'ê±´ëŒ€ì…êµ¬', 'ì‹ ë¦¼', 'ì ì‹¤ë‚˜ë£¨', 'ì‚¬ë‹¹', 'ì‹ ë‹µ',
       'ì¶©ì •ë¡œ', 'í•©ì •', 'í™ëŒ€ì…êµ¬', 'ì„œìš¸ëŒ€ì…êµ¬', 'ì—­ì‚¼', 'ìƒì™•ì‹­ë¦¬', 'ê°•ë³€', 'ë„ë¦¼ì²œ', 'ìš©ë‹µ',
       'ê°•ë‚¨', 'ì´ëŒ€', 'ì‹ ë‹¹', 'êµ¬ì˜', 'í•œì–‘ëŒ€', 'ëšì„¬', 'ì¢…í•©ìš´ë™ì¥', 'ë´‰ì²œ', 'ì„ì§€ë¡œ4ê°€', 'ì‹ ëŒ€ë°©',
       'ë‹¹ì‚°', 'ì„ì§€ë¡œì…êµ¬', 'ì„ ë¦‰', 'ê²½ë³µê¶', 'ê²½ì°°ë³‘ì›', 'ëŒ€ì²­', 'ë…¹ë²ˆ', 'ì‹ ì‚¬', 'ì—°ì‹ ë‚´', 'êµ¬íŒŒë°œ',
       'ì˜¤ê¸ˆ', 'ì ì›', 'ê°€ë½ì‹œì¥', 'í•™ì—¬ìš¸', 'ê¸ˆí˜¸', 'ì§€ì¶•', 'ë¶ˆê´‘', 'ì¼ì›', 'ì¶©ë¬´ë¡œ', 'ì•ˆêµ­',
       'ì••êµ¬ì •', 'ë§¤ë´‰', 'ì–‘ì¬', 'ì˜¥ìˆ˜', 'ê³ ì†í„°ë¯¸ë„', 'í™ì œ', 'ë…ë¦½ë¬¸', 'ì•½ìˆ˜', 'ëŒ€ì¹˜', 'ë„ê³¡',
       'ë‚¨ë¶€í„°ë¯¸ë„', 'ìˆ˜ì„œ', 'ë¬´ì•…ì¬', 'ë™ëŒ€ì…êµ¬', 'ë…¸ì›', 'ë¯¸ì•„', 'ë‚¨íƒœë ¹', 'ìˆ˜ìœ ', 'ì°½ë™', 'ë‹¹ê³ ê°œ',
       'í•œì„±ëŒ€ì…êµ¬', 'ìƒê³„', 'ëª…ë™', 'ì‹ ìš©ì‚°', 'ì´ì‹ ëŒ€ì…êµ¬', 'í˜œí™”', 'ì‚¼ê°ì§€', 'ë™ì‘', 'ì„±ì‹ ì—¬ëŒ€ì…êµ¬',
       'ë¯¸ì•„ì‚¬ê±°ë¦¬', 'ì´ì´Œ', 'íšŒí˜„', 'ê¸¸ìŒ', 'ìŒë¬¸', 'ìˆ™ëŒ€ì…êµ¬', 'í™”ê³¡', 'ì˜¤ëª©êµ', 'ì˜ë“±í¬ì‹œì¥',
       'ì˜¬ë¦¼í”½ê³µì›', 'ê°•ì¼', 'ë§ˆì²œ', 'ì²œí˜¸', 'ë§ˆí¬', 'ì„œëŒ€ë¬¸', 'í–‰ë‹¹', 'ê¸¸ë™', 'ë°©ì´', 'ëª…ì¼',
       'ì‹ ì •', 'ì• ì˜¤ê°œ', 'ë‹µì‹­ë¦¬', 'ê±°ì—¬', 'ë¯¸ì‚¬', 'ë‘”ì´Œë™', 'ê¹Œì¹˜ì‚°', 'ì—¬ì˜ë„', 'ë§ˆì¥', 'ê³µë•',
       'êµ°ì', 'í•˜ë‚¨ê²€ë‹¨ì‚°', 'ê°•ë™', 'í•˜ë‚¨í’ì‚°', 'ê³ ë•', 'ì—¬ì˜ë‚˜ë£¨', 'ê¹€í¬ê³µí•­', 'ì•„ì°¨ì‚°', 'ê´‘ë‚˜ë£¨',
       'ì‹ ê¸¸', 'ê°œí™”ì‚°', 'ìƒì¼ë™', 'ì†¡ì •', 'ì¥í•œí‰', 'ì‹ ê¸ˆí˜¸', 'ë°©í™”', 'ê´‘í™”ë¬¸', 'ë§ˆê³¡', 'ì–‘í‰',
       'ë°œì‚°', 'ê°œë¡±', 'ëª©ë™', 'êµ½ì€ë‹¤ë¦¬', 'ì²­êµ¬', 'ìš°ì¥ì‚°', 'í•˜ë‚¨ì‹œì²­', 'ìƒìˆ˜', 'ì°½ì‹ ', 'ë§ì›',
       'ë…¹ì‚¬í‰', 'íš¨ì°½ê³µì›ì•', 'ì‘ì•”', 'íƒœë¦‰ì…êµ¬', 'ë²„í‹°ê³ ê°œ', 'êµ¬ì‚°', 'ë…ë°”ìœ„', 'ë´‰í™”ì‚°', 'ì„ê³„',
       'ìƒˆì ˆ', 'ì—­ì´Œ', 'ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°', 'í•œê°•ì§„', 'ëŒ€í¥', 'ì›”ê³¡', 'ì›”ë“œì»µê²½ê¸°ì¥', 'ë§ˆí¬êµ¬ì²­', 'í™”ë‘ëŒ€',
       'ì¦ì‚°', 'ëŒê³¶ì´', 'ì‹ ë‚´', 'ê³ ë ¤ëŒ€', 'ì•ˆì•”', 'ê´‘í¥ì°½', 'ì´íƒœì›', 'ë³´ë¬¸', 'ìƒì›”ê³¡', 'ì‚¬ê°€ì •',
       'í•˜ê³„', 'ë‚¨ì„±', 'ì¤‘í™”', 'ë§ˆë“¤', 'ë‚¨êµ¬ë¡œ', 'ì¥ì•”', 'ìƒë™', 'ìˆ­ì‹¤ëŒ€ì…êµ¬', 'ë„ë´‰ì‚°',
       'ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€', 'ë©´ëª©', 'ëšì„¬ìœ ì›ì§€', 'ë…¼í˜„', 'ë³´ë¼ë§¤', 'ë¨¹ê³¨', 'ìƒë´‰', 'ë°˜í¬', 'ì–´ë¦°ì´ëŒ€ê³µì›',
       'ê´‘ëª…ì‚¬ê±°ë¦¬', 'í•™ë™', 'ë‚´ë°©', 'ê³µë¦‰', 'ì¤‘ê³¡', 'ì´ìˆ˜', 'ì²­ë‹´', 'ì˜¨ìˆ˜', 'ì‹ ì¤‘ë™', 'ì²œì™•',
       'ê¹Œì¹˜ìš¸', 'ì² ì‚°', 'ë¶€í‰êµ¬ì²­', 'ê°•ë‚¨êµ¬ì²­', 'ì‹ í’', 'ì‹ ëŒ€ë°©ì‚¼ê±°ë¦¬', 'ì¥ìŠ¹ë°°ê¸°', 'ìš©ë§ˆì‚°', 'ìˆ˜ë½ì‚°',
       'ìƒë„', 'ì¤‘ê³„', 'ê°•ë™êµ¬ì²­', 'ë³µì •', 'ë¬¸ì •', 'ì‹ í¥', 'ì†¡íŒŒ', 'ì„ì´Œ', 'ìˆ˜ì§„', 'ë‚¨ìœ„ë¡€',
       'ëª¨ë€', 'ì‚°ì„±', 'ëª½ì´Œí† ì„±', 'ì¥ì§€', 'ë‹¨ëŒ€ì˜¤ê±°ë¦¬', 'ë‚¨í•œì‚°ì„±ì…êµ¬', 'ì•”ì‚¬', 'ì„ ìœ ë„', 'ë§ˆê³¡ë‚˜ë£¨',
       'êµ¬ë°˜í¬', 'ê³µí•­ì‹œì¥', 'ì‹ ëª©ë™', 'ì‚¬í‰', 'ì–‘ì²œí–¥êµ', 'ê°œí™”', 'ì‹ ë°˜í¬', 'ê°€ì–‘', 'ìƒ›ê°•', 'ë“±ì´Œ',
       'ì‹ ë…¼í˜„', 'ë…¸ëŸ‰ì§„', 'êµ­íšŒì˜ì‚¬ë‹¹', 'ì¦ë¯¸', 'ì—¼ì°½', 'í‘ì„', 'ë…¸ë“¤', 'ì‹ ë°©í™”', 'ì–¸ì£¼',
       'ì¤‘ì•™ë³´í›ˆë³‘ì›', 'ì†¡íŒŒë‚˜ë£¨', 'ì‚¼ì „', 'ì„ ì •ë¦‰', 'ë‘”ì´Œì˜¤ë¥œ', 'ë´‰ì€ì‚¬', 'ì‚¼ì„±ì¤‘ì•™', 'ì„ì´Œê³ ë¶„',
       'í•œì„±ë°±ì œ', 'ë¶€ë°œ', 'ì„¸ì¢…ëŒ€ì™•ë¦‰', 'ì´ì²œ', 'ì—¬ì£¼', 'ì‹ ë‘”ë„ì˜ˆì´Œ', 'ê³¤ì§€ì•”', 'ì‚¼ë™', 'íŒêµ',
       'ì´ë§¤', 'ê²½ê¸°ê´‘ì£¼', 'ì´ˆì›”', 'ì§„ìœ„', 'ì˜¤ì‚°', 'í™”ì„œ', 'ì„¸ë§ˆ', 'ë‚¨ì˜', 'ëª…í•™', 'ê¸ˆì •', 'ìš©ì‚°',
       'ì§ì‚°', 'êµ°í¬', 'í‰íƒì§€ì œ', 'ë‘ì •', 'ê´€ì•…', 'ì†¡íƒ„', 'ì„œì •ë¦¬', 'ì„¸ë¥˜', 'ì˜¤ì‚°ëŒ€', 'ì„ìˆ˜',
       'ìˆ˜ì›', 'ë‹¹ì •', 'ì˜ì™•', 'ëŒ€ë°©', 'êµ¬ë¡œ', 'ë…ì‚°', 'ì˜ë“±í¬', 'ê´‘ëª…', 'í‰íƒ', 'ì²œì•ˆ',
       'ì„±ê· ê´€ëŒ€', 'ì•ˆì–‘', 'ì„±í™˜', 'ê¸ˆì²œêµ¬ì²­', 'ì„œë™íƒ„', 'ë³‘ì ', 'ì™¸ëŒ€ì•', 'ì„œë¹™ê³ ', 'ì†Œìš”ì‚°', 'ë…¹ì–‘',
       'ë•ì •', 'ì˜ì •ë¶€', 'ë™ë‘ì²œì¤‘ì•™', 'ë„ë´‰', 'í•œë‚¨', 'ë™ë‘ì²œ', 'ì›”ê³„', 'ë³´ì‚°', 'ë…¹ì²œ', 'ë§ì›”ì‚¬',
       'ê´‘ìš´ëŒ€', 'ì–‘ì£¼', 'ë•ê³„', 'ì§€í–‰', 'ê°€ëŠ¥', 'ì‘ë´‰', 'ì‹ ì´ë¬¸', 'ë°©í•™', 'íšŒë£¡', 'í’ì‚°', 'ê²€ì•”',
       'ì•¼ë‹¹', 'ìˆ˜ìƒ‰', 'ê¸ˆë¦‰', 'ìš´ì •', 'í–‰ì‹ ', 'ì›”ë¡±', 'ë¬¸ì‚°', 'ê°•ë§¤', 'ì„œê°•ëŒ€', 'í™”ì „', 'ê³„ì–‘',
       'ê³¡ì‚°', 'íƒ„í˜„', 'ì„ì§„ê°•', 'ê°€ì¢Œ', 'ë°±ë§ˆ', 'ëŠ¥ê³¡', 'ê¸ˆì´Œ', 'ì¼ì‚°', 'íŒŒì£¼', 'ì¸ì²œ', 'ë¶€ì²œ',
       'ë¶€ê°œ', 'ì†Œì‚¬', 'ë™ì¸ì²œ', 'ê°„ì„', 'ì£¼ì•ˆ', 'ë„ì›', 'ë™ì•”', 'ì¤‘ë™', 'ë°±ìš´', 'ì˜¤ë¥˜ë™', 'ì†¡ë‚´',
       'ì œë¬¼í¬', 'ê°œë´‰', 'ì—­ê³¡', 'êµ¬ì¼', 'ë„í™”', 'ë¶€í‰', 'í‰ë‚´í˜¸í‰', 'ê°€í‰', 'ìƒì²œ', 'ì‚¬ë¦‰',
       'ê¸ˆê³¡', 'ë³„ë‚´', 'ê°•ì´Œ', 'ë‚¨ì¶˜ì²œ', 'ê°ˆë§¤', 'ëŒ€ì„±ë¦¬', 'êµ´ë´‰ì‚°', 'ë°±ì–‘ë¦¬', 'ì²­í‰', 'í‡´ê³„ì›',
       'ë§ˆì„', 'ì²œë§ˆì‚°', 'ê¹€ìœ ì •', 'ì¶˜ì²œ', 'ì˜ì¢…', 'ìš´ì„œ', 'ì¸ì²œê³µí•­2í„°ë¯¸ë„', 'ì¸ì²œê³µí•­1í„°ë¯¸ë„',
       'ì²­ë¼êµ­ì œë„ì‹œ', 'ê³µí•­í™”ë¬¼ì²­ì‚¬', 'í‰ì´Œ', 'ë²”ê³„', 'ëŒ€ê³µì›', 'ì„ ë°”ìœ„', 'ì •ë¶€ê³¼ì²œì²­ì‚¬', 'ê²½ë§ˆê³µì›',
       'ì¸ë•ì›', 'ê³¼ì²œ', 'ìˆ˜ì›ì‹œì²­', 'ì˜¤ë¦¬', 'ë³´ì •', 'ì„œìš¸ìˆ²', 'ìƒê°ˆ', 'ë§í¬', 'ëŒ€ëª¨ì‚°ì…êµ¬', 'ë¯¸ê¸ˆ',
       'êµ¬ë£¡', 'ì‹ ê°ˆ', 'ìˆ˜ë‚´', 'ì•¼íƒ‘', 'í•œí‹°', 'ì••êµ¬ì •ë¡œë°ì˜¤', 'íƒœí‰', 'ê¸°í¥', 'ì£½ì „', 'ë§¤êµ',
       'êµ¬ì„±', 'ê°€ì²œëŒ€', 'ì˜í†µ', 'ì„œí˜„', 'ê°œí¬ë™', 'ì²­ëª…', 'ë§¤íƒ„ê¶Œì„ ', 'ì •ì', 'ì›ì¸ì¬', 'í˜¸êµ¬í¬',
       'ìˆ­ì˜', 'ì›”ê³¶', 'ì†¡ë„', 'ì†Œë˜í¬êµ¬', 'ì•¼ëª©', 'ë‚¨ë™ì¸ë”ìŠ¤íŒŒí¬', 'ì—°ìˆ˜', 'ì‚¬ë¦¬', 'ë‹¬ì›”',
       'ì¸ì²œë…¼í˜„', 'ì¸í•˜ëŒ€', 'ê³ ìƒ‰', 'ì˜¤ëª©ì²œ', 'ì–´ì²œ', 'ì‹ í¬', 'ê´€ì•…ì‚°', 'ë³´ë¼ë§¤ë³‘ì›', 'ë‹¹ê³¡', 'ì„œì›',
       'ë³´ë¼ë§¤ê³µì›', 'ì„œìš¸ì§€ë°©ë³‘ë¬´ì²­', 'ì„œìš¸ëŒ€ë²¤ì²˜íƒ€ìš´', 'ì¤‘ì•™', 'ì •ì™•', 'ì•ˆì‚°', 'ê³ ì”', 'ìˆ˜ë¦¬ì‚°', 'ì´ˆì§€',
       'ì˜¤ì´ë„', 'ì‚°ë³¸', 'í•œëŒ€ì•', 'ì‹ ê¸¸ì˜¨ì²œ', 'ëŒ€ì•¼ë¯¸', 'ìƒë¡ìˆ˜', 'ë°˜ì›”', 'ë¶í•œì‚°ë³´êµ­ë¬¸', 'ì‚¼ì–‘',
       'í™”ê³„', 'ì‚¼ì–‘ì‚¬ê±°ë¦¬', 'ê°€ì˜¤ë¦¬', '4.19ë¯¼ì£¼ë¬˜ì§€', 'ì •ë¦‰', 'ë¶í•œì‚°ìš°ì´', 'ì†”ë°­ê³µì›', 'ì†”ìƒ˜',
       'ì •ë°œì‚°', 'ì£¼ì—½', 'ëŒ€í™”', 'ëŒ€ê³¡', 'ì›í¥', 'ì›ë‹¹', 'í™”ì •', 'ì‚¼ì†¡', 'ë°±ì„', 'ë§ˆë‘', 'ë°°ë°©',
       'ì˜¨ì–‘ì˜¨ì²œ', 'ì•„ì‚°', 'ì‹ ì°½', 'íƒ•ì •', 'ë´‰ëª…', 'ìŒìš©', 'ìš´ê¸¸ì‚°', 'ìš©ë¬¸', 'íŒ”ë‹¹', 'êµ­ìˆ˜',
       'ë•ì†Œ', 'ì–‘ì›', 'ë§ìš°', 'êµ¬ë¦¬', 'ì–‘ìˆ˜', 'ì˜¤ë¹ˆ', 'ì¤‘ë‘', 'ì›ë•', 'ì•„ì‹ ', 'ë„ë†', 'ì§€í‰',
       'ë„ì‹¬', 'íšŒê¸°', 'ì–‘ì •', 'ì‹ ì›', 'êµ´í¬ì²œ', 'ë¶€ì²œì‹œì²­', 'ì‚¼ì‚°ì²´ìœ¡ê´€', 'ë¶€ì²œì¢…í•©ìš´ë™ì¥', 'ì¶˜ì˜',
       'ì§€ì œ', 'ì¸ì²œêµ­ì œê³µí•­', 'ì‹ ì²œ', 'ë™ë‘ì²œ ì¤‘ì•™', 'ìŒìš©ë™'], dtype=object)

In [83]:
# 1-4

def replace_value(row):
    if row['í˜¸ì„ ëª…'] in ['9í˜¸ì„ 2~3ë‹¨ê³„','9í˜¸ì„ 2ë‹¨ê³„']:
        df_target.loc[row.name, 'í˜¸ì„ ëª…'] = '9í˜¸ì„ '
    if row['ì§€í•˜ì² ì—­'] == 'ì‹ ì²œ':
        df_target.loc[row.name, 'ì§€í•˜ì² ì—­'] = 'ì ì‹¤ìƒˆë‚´'
    else:
        df_target.loc[row.name, 'ì§€í•˜ì² ì—­'] = re.sub(r"\(.*\)", "", row['ì§€í•˜ì² ì—­'])

df_target.apply(replace_value, axis=1)

check_01_04(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 25 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„    ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„    ì²­ëŸ‰ë¦¬   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„     ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„    ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„   ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...   ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„    ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„   ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„     ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„     ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„     ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

### ë¬¸ì œ 1-5) DataFrame ì „ì²˜ë¦¬ 03 - Data ìˆ˜ì • 02 (10ì )
- ì•„ë˜ Cellì˜ incheon_station_listì— ìˆëŠ” ì—­ì€ ëª¨ë‘ 7í˜¸ì„ ì˜ ì—­ì…ë‹ˆë‹¤. í•´ë‹¹ ì—­ë“¤ì€ ì„œìš¸íŠ¹ë³„ì‹œê°€ ì•„ë‹Œ ì¸ì²œê´‘ì—­ì‹œ(ì¸ì²œêµí†µê³µì‚¬)ê°€ ë‹´ë‹¹í•˜ì—¬ Dataê°€ ë¶€ì •í™•í•œ ê²ƒìœ¼ë¡œ ì¶”ì •ë©ë‹ˆë‹¤. ì´ì— ê¸°ì¡´ 7í˜¸ì„ ê³¼ ì¸ì²œê´‘ì—­ì‹œ ë‹´ë‹¹ 7í˜¸ì„ ì„ êµ¬ë¶„í•˜ë ¤ê³  í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1-4ì˜ DataFrame(df_target)ì„ ì•„ë˜ ì¡°ê±´ì— ë§ê²Œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´1: incheon_station_listì— ìˆëŠ” ì—­ë“¤ì˜ 'í˜¸ì„ ëª…'ì„ '7í˜¸ì„ 'ì—ì„œ '7í˜¸ì„  ì¸ì²œ'ìœ¼ë¡œ ë³€ê²½í•´ì£¼ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ1: '7í˜¸ì„ ' ë³€ê²½ ì „
<br></br>
        <img src="images/08-1-5-001.png" style="margin:auto" width=600/>
<br></br>
        - ì˜ˆì‹œ2: '7í˜¸ì„  ì¸ì²œ'ìœ¼ë¡œ ë³€ê²½ í›„
<br></br>
        <img src="images/08-1-5-002.png" style="margin:auto" width=600/>
<br></br>
    - ì¡°ê±´2: 'ì§€í•˜ì² ì—­' Column(ì—´)ì˜ Dataì— ê´„í˜¸('(', ')')ê°€ ìˆë‹¤ë©´, ê´„í˜¸ ì•ˆì˜ ë‚´ìš©ê³¼ ê´„í˜¸ ìì²´ë¥¼ ëª¨ë‘ ì§€ì›Œì£¼ì„¸ìš”.
        - ì˜ˆì‹œ: 'ì²­ëŸ‰ë¦¬(ì„œìš¸ì‹œë¦½ëŒ€ì…êµ¬)' -> 'ì²­ëŸ‰ë¦¬'
<br></br>
    - ì¡°ê±´1: 'ì§€í•˜ì² ì—­' Column(ì—´)ì˜ Dataê°€ 'ì‹ ì²œ'ì´ë¼ë©´ 'ì ì‹¤ìƒˆë‚´'ë¡œ ë³€ê²½í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: Index, Column ìˆœì„œ ë˜ëŠ” Data ìˆœì„œ(ì •ë ¬)ëŠ” ë³€ê²½í•˜ì§€ ë§ˆì„¸ìš”.
<br></br>
    - ì¡°ê±´3: 'df_target' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_target)ë¥¼ check_01_05 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [85]:
df_copy = df_target.copy()

In [84]:
incheon_station_list = ['ê¹Œì¹˜ìš¸', 'ë¶€ì²œì¢…í•©ìš´ë™ì¥', 'ì¶˜ì˜', 'ì‹ ì¤‘ë™', 'ë¶€ì²œì‹œì²­', 'ìƒë™', 'ì‚¼ì‚°ì²´ìœ¡ê´€', 'êµ´í¬ì²œ', 'ë¶€í‰êµ¬ì²­', 'ì‚°ê³¡', 'ì„ë‚¨']

In [87]:
def change_value(row):
    if row['ì§€í•˜ì² ì—­'] in incheon_station_list:
        df_copy.loc[row.name, 'í˜¸ì„ ëª…'] = '7í˜¸ì„  ì¸ì²œ'
        
df_copy.apply(change_value, axis=1)

0        None
1        None
2        None
3        None
4        None
         ...
60055    None
60056    None
60057    None
60058    None
60059    None
Length: 51092, dtype: object

In [89]:
def check(df: pd.core.frame.DataFrame):
    question_no, points = 4, 10

    condition_dict = {
        'condition01': len(df[df.í˜¸ì„ ëª… == '7í˜¸ì„ ']) == 3780,
        'condition02': len(df[df.í˜¸ì„ ëª… == '7í˜¸ì„  ì¸ì²œ']) == 799,
        'condition03': df[df.í˜¸ì„ ëª… == '7í˜¸ì„ '].ìœ ì„ìŠ¹ì°¨ì¸ì›.sum() == 1342712883,
        'condition04': df.index.is_monotonic_increasing,
    }

    if sum(condition_dict.values()) == len(condition_dict):
        return True
    else:
        return False

check(df_copy)

True

In [90]:
# 1-5

def change_value(row):
    if row['ì§€í•˜ì² ì—­'] in incheon_station_list:
        df_target.loc[row.name, 'í˜¸ì„ ëª…'] = '7í˜¸ì„  ì¸ì²œ'
        
df_target.apply(change_value, axis=1)

check_01_05(df_target)
df_target

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 35 / 100

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0      202206  1í˜¸ì„    ì œê¸°ë™   218782  263173   209109  281985  20220703
1      202206  1í˜¸ì„    ì²­ëŸ‰ë¦¬   328288  246164   325365  249818  20220703
2      202206  1í˜¸ì„     ì¢…ê°   834173  131987   815704  121717  20220703
3      202206  1í˜¸ì„    ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4      202206  1í˜¸ì„   ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
...       ...  ...   ...      ...     ...      ...     ...       ...
60055  201501  9í˜¸ì„    ì‹ ë°©í™”   169119  160054    38500   38259  20150206
60056  201501  9í˜¸ì„   ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206
60057  201501  9í˜¸ì„     ë“±ì´Œ   265941  271132    73910   74472  20150206
60058  201501  9í˜¸ì„     ê°€ì–‘   469127  439698   107695  104082  20150206
60059  201501  9í˜¸ì„     ë‹¹ì‚°   422698  384841    54179   49891  20150206

[51092 rows x 8 columns]

## 2ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 01 - ê¸°ì´ˆ
***

### ë¬¸ì œ 2-1) ê¸°ì´ˆ ì •ë³´ ì–»ê¸° 01 (5ì )
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:2]
<br></br>
        <img src="images/08-2-1-001.png" style="margin:auto" width=400/>
<br></br>
<br></br>
    - ì¡°ê±´1: 2022ë…„ 6ì›” ê¸°ì¤€ ê° ì§€í•˜ì²  ì—­ì˜ [ìœ ì„ìŠ¹ì°¨ì¸ì›, ë¬´ì„ìŠ¹ì°¨ì¸ì›, ìœ ì„í•˜ì°¨ì¸ì›, ë¬´ì„í•˜ì°¨ì¸ì›] ì„ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: í™˜ìŠ¹ì—­(í•œ ì§€í•˜ì² ì—­ì— ì—¬ëŸ¬ê°œì˜ í˜¸ì„ ì´ ìˆëŠ” ì—­)ì´ ìˆë‹¤ë©´ í•©ì‚°í•´ ì£¼ì„¸ìš”.
<br></br>
        - ì˜ˆì‹œ: ì¢…í•©ìš´ë™ì¥ì—­ì˜ ê²½ìš° 2, 9í˜¸ì„  ìœ /ë¬´ì„ ìŠ¹/í•˜ì°¨ì¸ì›ì„ í•©ì³ì„œ ë³´ì—¬ì£¼ì„¸ìš”.
<br></br>
        <img src="images/08-2-1-002.png" style="margin:auto" width=600/>
<br></br>
        <img src="images/08-2-1-003.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´3: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›']
<br></br>
    - ì¡°ê±´4: Index ê¸°ì¤€ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_02_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [92]:
df = df_target.query("ì‚¬ìš©ì›”==202206")
df

        ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
0    202206  1í˜¸ì„    ì œê¸°ë™   218782  263173   209109  281985  20220703
1    202206  1í˜¸ì„    ì²­ëŸ‰ë¦¬   328288  246164   325365  249818  20220703
2    202206  1í˜¸ì„     ì¢…ê°   834173  131987   815704  121717  20220703
3    202206  1í˜¸ì„    ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703
4    202206  1í˜¸ì„   ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703
..      ...  ...   ...      ...     ...      ...     ...       ...
610  202206  ì¤‘ì•™ì„     ì§€í‰      952    1216     1282    1173  20220703
611  202206  ì¤‘ì•™ì„     ë„ì‹¬    51755   18705    38500   17600  20220703
612  202206  ì¤‘ì•™ì„     íšŒê¸°   597740  121604   572831  119310  20220703
613  202206  ì¤‘ì•™ì„     ì–‘ì •    13353    8004    10920    7087  20220703
614  202206  ì¤‘ì•™ì„     ì‹ ì›     3713    3699     3154    3140  20220703

[615 rows x 8 columns]

In [98]:
cols = ['ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›']

df = df[cols].groupby(by='ì§€í•˜ì² ì—­').agg('sum')
df

           ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€    56275   34889    54138   30800
ê°€ëŠ¥         139026   55693   131155   54568
ê°€ë½ì‹œì¥       322711  129590   342636  128815
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€   1431139  117639  1502220  117128
ê°€ì–‘         456785  123819   442530  120665
...           ...     ...      ...     ...
íšŒê¸°         597740  121604   572831  119310
íšŒë£¡         222825  142728   219069  141480
íšŒí˜„         490517  191008   523086  191242
íš¨ì°½ê³µì›ì•      231459   50062   222409   48748
í‘ì„         186994   53158   191190   53327

[524 rows x 4 columns]

In [99]:
def check(df: pd.core.frame.DataFrame):
    question_no, points = 5, 5

    condition_dict = {
        'condition01': df.index.is_monotonic_increasing,
        'condition02': df.iloc[-2].name == 'íš¨ì°½ê³µì›ì•',
        'condition03': df.iloc[256].sum() == 432588,
        'condition04': len(df) == 524,
        'condition05': len(df.columns) == 4,
    }

    if sum(condition_dict.values()) == len(condition_dict):
        return True
    else:
        return False
check(df)

True

In [101]:
df_result = df_target.query("ì‚¬ìš©ì›”==202206")[cols].groupby(by='ì§€í•˜ì² ì—­').agg('sum')
df_result

           ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€    56275   34889    54138   30800
ê°€ëŠ¥         139026   55693   131155   54568
ê°€ë½ì‹œì¥       322711  129590   342636  128815
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€   1431139  117639  1502220  117128
ê°€ì–‘         456785  123819   442530  120665
...           ...     ...      ...     ...
íšŒê¸°         597740  121604   572831  119310
íšŒë£¡         222825  142728   219069  141480
íšŒí˜„         490517  191008   523086  191242
íš¨ì°½ê³µì›ì•      231459   50062   222409   48748
í‘ì„         186994   53158   191190   53327

[524 rows x 4 columns]

In [102]:
# 2-1

check_02_01(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 5ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 40 / 100

           ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€    56275   34889    54138   30800
ê°€ëŠ¥         139026   55693   131155   54568
ê°€ë½ì‹œì¥       322711  129590   342636  128815
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€   1431139  117639  1502220  117128
ê°€ì–‘         456785  123819   442530  120665
...           ...     ...      ...     ...
íšŒê¸°         597740  121604   572831  119310
íšŒë£¡         222825  142728   219069  141480
íšŒí˜„         490517  191008   523086  191242
íš¨ì°½ê³µì›ì•      231459   50062   222409   48748
í‘ì„         186994   53158   191190   53327

[524 rows x 4 columns]

### ë¬¸ì œ 2-2) ê¸°ì´ˆ ì •ë³´ ì–»ê¸° 02 (10ì )
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:4]
<br></br>
        <img src="images/08-2-2-001.png" style="margin:auto" width=100/>
<br></br>
    - ì¡°ê±´1: 2022ë…„ 6ì›” ê¸°ì¤€ ê° ì§€í•˜ì²  ì—­ì˜ í˜¸ì„ ì˜ ìˆ˜ë¥¼ êµ¬í•˜ê³ , í˜¸ì„ ì˜ ìˆ˜ê°€ 3ê°œ ì´ìƒì¸ ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ë§Œë“¤ì–´ í•´ë‹¹ ì—­ì˜ í˜¸ì„  ìˆ˜ë¥¼ ì…ë ¥í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['í˜¸ì„ ìˆ˜']
<br></br>
    - ì¡°ê±´4: 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³ , 'í˜¸ì„ ìˆ˜'ê°€ ê°™ë‹¤ë©´ Index('ì§€í•˜ì² ì—­')ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_02_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [111]:
df = df_target.query("ì‚¬ìš©ì›”==202206").groupby(by='ì§€í•˜ì² ì—­').agg("count")
df = df.sort_values('í˜¸ì„ ëª…', ascending=False)['í˜¸ì„ ëª…'].to_frame()
df = df.query("í˜¸ì„ ëª… >= 3")
df

           í˜¸ì„ ëª…
ì§€í•˜ì² ì—­
ì„œìš¸ì—­          5
ê³µë•           4
ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°     3
í™ëŒ€ì…êµ¬         3
ì‹ ì„¤ë™          3
ì™•ì‹­ë¦¬          3
ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›    3
ì¢…ë¡œ3ê°€         3
ê¹€í¬ê³µí•­         3
ê³ ì†í„°ë¯¸ë„        3

In [112]:
df.query("í˜¸ì„ ëª… == 3").sort_index(ascending=False)

           í˜¸ì„ ëª…
ì§€í•˜ì² ì—­
í™ëŒ€ì…êµ¬         3
ì¢…ë¡œ3ê°€         3
ì™•ì‹­ë¦¬          3
ì‹ ì„¤ë™          3
ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°     3
ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›    3
ê¹€í¬ê³µí•­         3
ê³ ì†í„°ë¯¸ë„        3

In [115]:
df_result = pd.concat([df.query("í˜¸ì„ ëª… > 3"), df.query("í˜¸ì„ ëª… == 3").sort_index(ascending=False)])
df_result = df_result.rename(columns={"í˜¸ì„ ëª…":"í˜¸ì„ ìˆ˜"})
df_result

           í˜¸ì„ ìˆ˜
ì§€í•˜ì² ì—­
ì„œìš¸ì—­          5
ê³µë•           4
í™ëŒ€ì…êµ¬         3
ì¢…ë¡œ3ê°€         3
ì™•ì‹­ë¦¬          3
ì‹ ì„¤ë™          3
ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°     3
ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›    3
ê¹€í¬ê³µí•­         3
ê³ ì†í„°ë¯¸ë„        3

In [116]:
# 2-2

check_02_02(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 50 / 100

           í˜¸ì„ ìˆ˜
ì§€í•˜ì² ì—­
ì„œìš¸ì—­          5
ê³µë•           4
í™ëŒ€ì…êµ¬         3
ì¢…ë¡œ3ê°€         3
ì™•ì‹­ë¦¬          3
ì‹ ì„¤ë™          3
ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°     3
ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›    3
ê¹€í¬ê³µí•­         3
ê³ ì†í„°ë¯¸ë„        3

### ë¬¸ì œ 2-3) ê¸°ì´ˆ ì •ë³´ ì–»ê¸° 03 (10ì )
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ê³ , ìœ„ 2-2ì˜ DataFrame(df_result)ë¥¼ ì‘ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:4]
<br></br>
        <img src="images/08-2-3-001.png" style="margin:auto" width=400/>
<br></br>
    - ì¡°ê±´1: ìœ„ 2-2ë¥¼ ì°¸ê³ í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ 'í˜¸ì„ ìˆ˜'ë¥¼ êµ¬í•˜ì„¸ìš”.
        - 2022ë…„ 6ì›” ê¸°ì¤€ ê° ì§€í•˜ì²  ì—­ì˜ í˜¸ì„ ì˜ ìˆ˜ë¥¼ êµ¬í•˜ê³ , í˜¸ì„ ì˜ ìˆ˜ê°€ 3ê°œ ì´ìƒì¸ ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
        - 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ë§Œë“¤ì–´ í•´ë‹¹ ì—­ì˜ í˜¸ì„  ìˆ˜ë¥¼ ì…ë ¥í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 2022ë…„ 6ì›” ê¸°ì¤€ 'í™˜ìŠ¹í˜¸ì„ ' Column(ì—´)ì„ ë§Œë“¤ì–´ ì•„ë˜ì™€ ê°™ì´ í•´ë‹¹ ì—­ì˜ í™˜ìŠ¹ ê°€ëŠ¥ í˜¸ì„ ì„ ë‚˜ì—´í•´ì£¼ì„¸ìš”.
        - í™˜ìŠ¹ í˜¸ì„ ë“¤ì€ ', '(ì‰¼í‘œ+ë„ì–´ì“°ê¸°)ë¡œ êµ¬ë¶„ë˜ëŠ” stringì…ë‹ˆë‹¤.
        - í™˜ìŠ¹ í˜¸ì„ ë“¤ì€ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬ í›„ ë‚˜ì—´í•´ì£¼ì„¸ìš”.
        - ìœ„ ì˜ˆì‹œë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['í˜¸ì„ ìˆ˜', 'í™˜ìŠ¹í˜¸ì„ ']
<br></br>
    - ì¡°ê±´4: 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³ , 'í˜¸ì„ ìˆ˜'ê°€ ê°™ë‹¤ë©´ 'í™˜ìŠ¹í˜¸ì„ ' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_02_03 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [120]:
def join_values(series):
    return ', '.join(series.sort_values())

In [128]:
df = df_target.query("ì‚¬ìš©ì›”==202206").groupby(by='ì§€í•˜ì² ì—­').aggregate({"í˜¸ì„ ëª…":["count", join_values]}).droplevel(0, axis=1)
df.rename(columns={"count":"í˜¸ì„ ìˆ˜", "join_values":"í™˜ìŠ¹í˜¸ì„ "}, inplace=True)
df.sort_values(by=['í˜¸ì„ ìˆ˜', 'í™˜ìŠ¹í˜¸ì„ '], ascending=[False, True], inplace=True)
df_result = df.query("í˜¸ì„ ìˆ˜ >= 3")
df_result

           í˜¸ì„ ìˆ˜                          í™˜ìŠ¹í˜¸ì„
ì§€í•˜ì² ì—­
ì„œìš¸ì—­          5  1í˜¸ì„ , 4í˜¸ì„ , ê²½ë¶€ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ê³µë•           4       5í˜¸ì„ , 6í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ì‹ ì„¤ë™          3               1í˜¸ì„ , 2í˜¸ì„ , ìš°ì´ì‹ ì„¤ì„
ì¢…ë¡œ3ê°€         3                 1í˜¸ì„ , 3í˜¸ì„ , 5í˜¸ì„
ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›    3                 2í˜¸ì„ , 4í˜¸ì„ , 5í˜¸ì„
ì™•ì‹­ë¦¬          3                 2í˜¸ì„ , 5í˜¸ì„ , ê²½ì›ì„
í™ëŒ€ì…êµ¬         3            2í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ê³ ì†í„°ë¯¸ë„        3                 3í˜¸ì„ , 7í˜¸ì„ , 9í˜¸ì„
ê¹€í¬ê³µí•­         3            5í˜¸ì„ , 9í˜¸ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°     3            6í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„

In [129]:
# 2-3

check_02_03(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 60 / 100

           í˜¸ì„ ìˆ˜                          í™˜ìŠ¹í˜¸ì„
ì§€í•˜ì² ì—­
ì„œìš¸ì—­          5  1í˜¸ì„ , 4í˜¸ì„ , ê²½ë¶€ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ê³µë•           4       5í˜¸ì„ , 6í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ì‹ ì„¤ë™          3               1í˜¸ì„ , 2í˜¸ì„ , ìš°ì´ì‹ ì„¤ì„
ì¢…ë¡œ3ê°€         3                 1í˜¸ì„ , 3í˜¸ì„ , 5í˜¸ì„
ë™ëŒ€ë¬¸ì—­ì‚¬ë¬¸í™”ê³µì›    3                 2í˜¸ì„ , 4í˜¸ì„ , 5í˜¸ì„
ì™•ì‹­ë¦¬          3                 2í˜¸ì„ , 5í˜¸ì„ , ê²½ì›ì„
í™ëŒ€ì…êµ¬         3            2í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ê³ ì†í„°ë¯¸ë„        3                 3í˜¸ì„ , 7í˜¸ì„ , 9í˜¸ì„
ê¹€í¬ê³µí•­         3            5í˜¸ì„ , 9í˜¸ì„ , ê³µí•­ì² ë„ 1í˜¸ì„
ë””ì§€í„¸ë¯¸ë””ì–´ì‹œí‹°     3            6í˜¸ì„ , ê²½ì˜ì„ , ê³µí•­ì² ë„ 1í˜¸ì„

### ë¬¸ì œ 2-4) ê¸°ì´ˆ ì •ë³´ ì–»ê¸° 04 (10ì )
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ê³ , ìœ„ 2-2ì˜ DataFrame(df_result)ë¥¼ ì‘ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:4]
<br></br>
        <img src="images/08-2-4-001.png" style="margin:auto" width=300/>
<br></br>
    - ì¡°ê±´1: ìœ„ 2-2ë¥¼ ì°¸ê³ í•˜ì—¬ ì•„ë˜ì™€ ê°™ì´ 'í˜¸ì„ ìˆ˜'ë¥¼ êµ¬í•˜ì„¸ìš”.
        - 2022ë…„ 6ì›” ê¸°ì¤€ ê° ì§€í•˜ì²  ì—­ì˜ í˜¸ì„ ì˜ ìˆ˜ë¥¼ êµ¬í•˜ê³ , í˜¸ì„ ì˜ ìˆ˜ê°€ 2ê°œ ì´ìƒì¸ ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
        - 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ë§Œë“¤ì–´ í•´ë‹¹ ì—­ì˜ í˜¸ì„  ìˆ˜ë¥¼ ì…ë ¥í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 2022ë…„ 6ì›” ê¸°ì¤€ ['ìœ ì„ìŠ¹í•˜ì°¨ìœ¨', 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨', 'ìŠ¹í•˜ì°¨ìœ¨'] Column(ì—´)ì„ ë§Œë“¤ì–´ ì•„ë˜ì™€ ê°™ì´ ê°ê°ì˜ ìŠ¹í•˜ì°¨ìœ¨ì„ êµ¬í•˜ì„¸ìš”.
        - ìœ ì„ìŠ¹í•˜ì°¨ìœ¨ = ìœ ì„ìŠ¹ì°¨ì¸ì› / ìœ ì„í•˜ì°¨ì¸ì› * 100
        - ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨ = ë¬´ì„ìŠ¹ì°¨ì¸ì› / ë¬´ì„í•˜ì°¨ì¸ì› * 100
        - ìŠ¹í•˜ì°¨ìœ¨ = (ìœ ì„ìŠ¹ì°¨ì¸ì› + ë¬´ì„ìŠ¹ì°¨ì¸ì›) / (ìœ ì„í•˜ì°¨ì¸ì› + ë¬´ì„í•˜ì°¨ì¸ì›) * 100
        - ê°ê°ì˜ ìŠ¹í•˜ì°¨ìœ¨ì€ ì†Œìˆ«ì  ì…‹ì§¸ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ë‘˜ì§¸ìë¦¬ê¹Œì§€ í‘œê¸°í•©ë‹ˆë‹¤.
        - 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨'ì´ 'ìŠ¹í•˜ì°¨ìœ¨'ë³´ë‹¤ í¬ë©´ì„œ, 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨'ì´ 102 ì´ìƒì¸ ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
        - ìœ„ ì˜ˆì‹œë¥¼ ì°¸ê³ í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´3: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['í˜¸ì„ ìˆ˜', 'ìœ ì„ìŠ¹í•˜ì°¨ìœ¨', 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨', 'ìŠ¹í•˜ì°¨ìœ¨']
<br></br>
    - ì¡°ê±´4: 'í˜¸ì„ ìˆ˜' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³ , 'í˜¸ì„ ìˆ˜'ê°€ ê°™ë‹¤ë©´ 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•´ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´5: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_02_04 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [130]:
df_target.columns

Index(['ì‚¬ìš©ì›”', 'í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ìœ ì„ìŠ¹ì°¨ì¸ì›', 'ë¬´ì„ìŠ¹ì°¨ì¸ì›', 'ìœ ì„í•˜ì°¨ì¸ì›', 'ë¬´ì„í•˜ì°¨ì¸ì›', 'ì‘ì—…ì¼ì'], dtype='object')

In [133]:
df = df_target.query("ì‚¬ìš©ì›”==202206").groupby(by='ì§€í•˜ì² ì—­').aggregate({
	"í˜¸ì„ ëª…":"count",
	'ìœ ì„ìŠ¹ì°¨ì¸ì›':"sum",
 	'ë¬´ì„ìŠ¹ì°¨ì¸ì›':"sum",
  	'ìœ ì„í•˜ì°¨ì¸ì›':"sum",
   	'ë¬´ì„í•˜ì°¨ì¸ì›':"sum"
})
df = df.rename(columns={"í˜¸ì„ ëª…":"í˜¸ì„ ìˆ˜"})
df

          í˜¸ì„ ìˆ˜   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€    1    56275   34889    54138   30800
ê°€ëŠ¥          1   139026   55693   131155   54568
ê°€ë½ì‹œì¥        2   322711  129590   342636  128815
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€     2  1431139  117639  1502220  117128
ê°€ì–‘          1   456785  123819   442530  120665
...       ...      ...     ...      ...     ...
íšŒê¸°          1   597740  121604   572831  119310
íšŒë£¡          1   222825  142728   219069  141480
íšŒí˜„          1   490517  191008   523086  191242
íš¨ì°½ê³µì›ì•       2   231459   50062   222409   48748
í‘ì„          1   186994   53158   191190   53327

[524 rows x 5 columns]

In [142]:
df['ìœ ì„ìŠ¹í•˜ì°¨ìœ¨'] = (df['ìœ ì„ìŠ¹ì°¨ì¸ì›'] / df['ìœ ì„í•˜ì°¨ì¸ì›'] * 100).round(2)
df['ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨'] = (df['ë¬´ì„ìŠ¹ì°¨ì¸ì›'] / df['ë¬´ì„í•˜ì°¨ì¸ì›'] * 100).round(2)
df['ìŠ¹í•˜ì°¨ìœ¨'] = ((df['ìœ ì„ìŠ¹ì°¨ì¸ì›'] + df['ë¬´ì„ìŠ¹ì°¨ì¸ì›']) / (df['ìœ ì„í•˜ì°¨ì¸ì›'] + df['ë¬´ì„í•˜ì°¨ì¸ì›']) * 100).round(2)
df

,í˜¸ì„ ìˆ˜,ìœ ì„ìŠ¹ì°¨ì¸ì›,ë¬´ì„ìŠ¹ì°¨ì¸ì›,ìœ ì„í•˜ì°¨ì¸ì›,ë¬´ì„í•˜ì°¨ì¸ì›,ìœ ì„ìŠ¹ì°¨ìœ¨,ë¬´ì„ìŠ¹ì°¨ìœ¨,ìŠ¹ì°¨ìœ¨,ìœ ì„ìŠ¹í•˜ì°¨ìœ¨,ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨,ìŠ¹í•˜ì°¨ìœ¨
ì§€í•˜ì² ì—­,,,,,,,,,,,
4.19ë¯¼ì£¼ë¬˜ì§€,1,56275,34889,54138,30800,103.95,113.28,107.33,103.95,113.28,107.33
ê°€ëŠ¥,1,139026,55693,131155,54568,106.00,102.06,104.84,106.00,102.06,104.84
ê°€ë½ì‹œì¥,2,322711,129590,342636,128815,94.18,100.60,95.94,94.18,100.60,95.94
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€,2,1431139,117639,1502220,117128,95.27,100.44,95.64,95.27,100.44,95.64
ê°€ì–‘,1,456785,123819,442530,120665,103.22,102.61,103.09,103.22,102.61,103.09
...,...,...,...,...,...,...,...,...,...,...,...
íšŒê¸°,1,597740,121604,572831,119310,104.35,101.92,103.93,104.35,101.92,103.93
íšŒë£¡,1,222825,142728,219069,141480,101.71,100.88,101.39,101.71,100.88,101.39
íšŒí˜„,1,490517,191008,523086,191242,93.77,99.88,95.41,93.77,99.88,95.41
íš¨ì°½ê³µì›ì•,2,231459,50062,222409,48748,104.07,102.70,103.82,104.07,102.70,103.82
í‘ì„,1,186994,53158,191190,53327,97.81,99.68,98.21,97.81,99.68,98.21

In [145]:
df = df[['í˜¸ì„ ìˆ˜', 'ìœ ì„ìŠ¹í•˜ì°¨ìœ¨', 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨', 'ìŠ¹í•˜ì°¨ìœ¨']]
df

          í˜¸ì„ ìˆ˜  ìœ ì„ìŠ¹í•˜ì°¨ìœ¨  ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨    ìŠ¹í•˜ì°¨ìœ¨
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€    1  103.95  113.28  107.33
ê°€ëŠ¥          1  106.00  102.06  104.84
ê°€ë½ì‹œì¥        2   94.18  100.60   95.94
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€     2   95.27  100.44   95.64
ê°€ì–‘          1  103.22  102.61  103.09
...       ...     ...     ...     ...
íšŒê¸°          1  104.35  101.92  103.93
íšŒë£¡          1  101.71  100.88  101.39
íšŒí˜„          1   93.77   99.88   95.41
íš¨ì°½ê³µì›ì•       2  104.07  102.70  103.82
í‘ì„          1   97.81   99.68   98.21

[524 rows x 4 columns]

In [150]:
df_result = df.query("í˜¸ì„ ìˆ˜>=2 & ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨>ìŠ¹í•˜ì°¨ìœ¨ & ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨>=102").sort_values(by=['í˜¸ì„ ìˆ˜', 'ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨'], ascending=[False, False])
df_result

        í˜¸ì„ ìˆ˜  ìœ ì„ìŠ¹í•˜ì°¨ìœ¨  ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨    ìŠ¹í•˜ì°¨ìœ¨
ì§€í•˜ì² ì—­
ì„œìš¸ì—­       5   98.69  102.94   99.21
ê³µë•        4   97.96  104.65   98.79
í™ëŒ€ì…êµ¬      3   92.93  103.17   93.43
ì¢…ë¡œ3ê°€      3  100.54  102.67  101.21
ê³ ì†í„°ë¯¸ë„     3   99.67  102.58  100.07
ì™•ì‹­ë¦¬       3  101.06  102.29  101.22
ì—¬ì˜ë„       2   97.69  106.58   98.23
ì‹œì²­        2  101.17  106.16  101.69
ì²­êµ¬        2  102.47  105.86  103.14
ì‚¼ê°ì§€       2  101.20  105.85  101.74
ì˜¬ë¦¼í”½ê³µì›     2  104.39  105.25  104.55
ë„ê³¡        2   99.71  105.15  100.79
ì´ì´Œ        2  100.87  105.01  101.73
ì•½ìˆ˜        2  101.73  104.95  102.40
ì ì‹¤        2   98.08  104.49   98.72
ì„ ë¦‰        2   98.43  104.26   99.18
ë³´ë¼ë§¤       2  102.35  103.77  102.60
êµëŒ€        2  100.96  103.64  101.41
íƒœë¦‰ì…êµ¬      2   99.43  103.43  100.12
ì‹ ë„ë¦¼       2   98.65  102.74   99.24
ì„±ì‹ ì—¬ëŒ€ì…êµ¬    2  101.68  102.65  101.83
ì„ì§€ë¡œ3ê°€     2   98.09  102.58   98.67
í•©ì •        2   94.15  102.36   94.77

In [151]:
# 2-4

check_02_04(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 10ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 70 / 100

        í˜¸ì„ ìˆ˜  ìœ ì„ìŠ¹í•˜ì°¨ìœ¨  ë¬´ì„ìŠ¹í•˜ì°¨ìœ¨    ìŠ¹í•˜ì°¨ìœ¨
ì§€í•˜ì² ì—­
ì„œìš¸ì—­       5   98.69  102.94   99.21
ê³µë•        4   97.96  104.65   98.79
í™ëŒ€ì…êµ¬      3   92.93  103.17   93.43
ì¢…ë¡œ3ê°€      3  100.54  102.67  101.21
ê³ ì†í„°ë¯¸ë„     3   99.67  102.58  100.07
ì™•ì‹­ë¦¬       3  101.06  102.29  101.22
ì—¬ì˜ë„       2   97.69  106.58   98.23
ì‹œì²­        2  101.17  106.16  101.69
ì²­êµ¬        2  102.47  105.86  103.14
ì‚¼ê°ì§€       2  101.20  105.85  101.74
ì˜¬ë¦¼í”½ê³µì›     2  104.39  105.25  104.55
ë„ê³¡        2   99.71  105.15  100.79
ì´ì´Œ        2  100.87  105.01  101.73
ì•½ìˆ˜        2  101.73  104.95  102.40
ì ì‹¤        2   98.08  104.49   98.72
ì„ ë¦‰        2   98.43  104.26   99.18
ë³´ë¼ë§¤       2  102.35  103.77  102.60
êµëŒ€        2  100.96  103.64  101.41
íƒœë¦‰ì…êµ¬      2   99.43  103.43  100.12
ì‹ ë„ë¦¼       2   98.65  102.74   99.24
ì„±ì‹ ì—¬ëŒ€ì…êµ¬    2  101.68  102.65  101.83
ì„ì§€ë¡œ3ê°€     2   98.09  102.58   98.67
í•©ì •        2   94.15  102.36   94.77

## 3ë‹¨ê³„: ì›í•˜ëŠ” ì •ë³´ ì–»ê¸° 02 - ì‹¬í™”
***

### ë¬¸ì œ 3-1) ì‹¬í™” ì •ë³´ ì–»ê¸° 01 (15ì )
- 2022ë…„ 1ì›” ëŒ€ë¹„ 2022ë…„ 6ì›”ì— ìœ ë™ì¸êµ¬ê°€ ì–¼ë§ˆë‚˜ ì¦ê°€/ê°ì†Œí•˜ì˜€ëŠ”ì§€ í™•ì¸í•´ë³´ê³ ì í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:2]
<br></br>
        <img src="images/08-3-1-001.png" style="margin:auto" width=150/>
<br></br>
    - ì¡°ê±´1: 'ìœ ë™ì¸êµ¬ì¦ê°ë¥ ' Column(ì—´)ì„ ë§Œë“¤ì–´ 2022ë…„ 1ì›” ëŒ€ë¹„ 2022ë…„ 6ì›”ì˜ ìœ ë™ì¸êµ¬ ì¦ê°€ìœ¨ì„ ì…ë ¥í•˜ì„¸ìš”.
        - ìœ ë™ì¸êµ¬ = 'ìœ ì„ìŠ¹ì°¨ì¸ì›' + 'ë¬´ì„ìŠ¹ì°¨ì¸ì›' + 'ìœ ì„í•˜ì°¨ì¸ì›' + 'ë¬´ì„í•˜ì°¨ì¸ì›'
        - ìœ ë™ì¸êµ¬ ì¦ê°ë¥  = (2022ë…„ 6ì›”ì˜ ìœ ë™ì¸êµ¬ / 2022ë…„ 1ì›”ì˜ ìœ ë™ì¸êµ¬ - 1) * 100
        - ìœ ë™ì¸êµ¬ ì¦ê°ë¥ ì€ ì†Œìˆ«ì  ì…‹ì§¸ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ë‘˜ì§¸ìë¦¬ê¹Œì§€ í‘œê¸°í•©ë‹ˆë‹¤.
        - ìœ ë™ì¸êµ¬ê°€ ê°ì†Œí•œ(ìœ ë™ì¸êµ¬ ì¦ê°ë¥ ì´ 0ë³´ë‹¤ ì‘ì€) ì—­ë§Œ ë³´ì—¬ì£¼ì„¸ìš”.
<br></br>
    - ì¡°ê±´2: 2022ë…„ 1ì›” ì´í›„ì— ì—­ì´ ì‹ ì„¤ë˜ì–´ 2022ë…„ 1ì›” ìœ ë™ì¸êµ¬ Dataê°€ ì—†ëŠ” ê²½ìš° ì œì™¸í•˜ê³  ê³„ì‚°í•˜ì„¸ìš”.
        - 'ì‹ ë¦¼ì„ 'ì˜ ì—­ë“¤ì€ 2022ë…„ 5ì›”ì— ìš´ì˜ ì‹œì‘í•˜ì˜€ìŠµë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´3: ìœ„ 1-5ë¥¼ ì°¸ê³ í•˜ì—¬ 'í˜¸ì„ ëª…' Column(ì—´) Dataê°€ '7í˜¸ì„  ì¸ì²œ'ì¸ ê²½ìš°ëŠ” ì œì™¸í•˜ê³  êµ¬í•˜ì„¸ìš”.
        - ì•ì„œ ì–¸ê¸‰í•˜ì˜€ë‹¤ì‹œí”¼ Dataì— ì˜¤ë¥˜ê°€ ìˆëŠ” ê²ƒìœ¼ë¡œ ì¶”ì •ë˜ì–´ ì œì™¸í•©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´4: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 'ì§€í•˜ì² ì—­'
        - Column: ['ìœ ë™ì¸êµ¬ì¦ê°ë¥ ']
<br></br>
    - ì¡°ê±´5: 'ìœ ë™ì¸êµ¬ì¦ê°€ìœ¨' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´6: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_03_01 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [162]:
df_target['í˜¸ì„ ëª…'].unique()

array(['1í˜¸ì„ ', '2í˜¸ì„ ', '3í˜¸ì„ ', '4í˜¸ì„ ', '5í˜¸ì„ ', '6í˜¸ì„ ', '7í˜¸ì„ ', '7í˜¸ì„  ì¸ì²œ', '8í˜¸ì„ ',
       '9í˜¸ì„ ', 'ê²½ê°•ì„ ', 'ê²½ë¶€ì„ ', 'ê²½ì›ì„ ', 'ê²½ì˜ì„ ', 'ê²½ì¸ì„ ', 'ê²½ì¶˜ì„ ', 'ê³µí•­ì² ë„ 1í˜¸ì„ ', 'ê³¼ì²œì„ ',
       'ë¶„ë‹¹ì„ ', 'ìˆ˜ì¸ì„ ', 'ì‹ ë¦¼ì„ ', 'ì•ˆì‚°ì„ ', 'ìš°ì´ì‹ ì„¤ì„ ', 'ì¼ì‚°ì„ ', 'ì¥í•­ì„ ', 'ì¤‘ì•™ì„ '],
      dtype=object)

In [167]:
df = df_target.query("í˜¸ì„ ëª…!='7í˜¸ì„  ì¸ì²œ'")
df['í˜¸ì„ ëª…'].unique()

array(['1í˜¸ì„ ', '2í˜¸ì„ ', '3í˜¸ì„ ', '4í˜¸ì„ ', '5í˜¸ì„ ', '6í˜¸ì„ ', '7í˜¸ì„ ', '8í˜¸ì„ ', '9í˜¸ì„ ',
       'ê²½ê°•ì„ ', 'ê²½ë¶€ì„ ', 'ê²½ì›ì„ ', 'ê²½ì˜ì„ ', 'ê²½ì¸ì„ ', 'ê²½ì¶˜ì„ ', 'ê³µí•­ì² ë„ 1í˜¸ì„ ', 'ê³¼ì²œì„ ', 'ë¶„ë‹¹ì„ ',
       'ìˆ˜ì¸ì„ ', 'ì‹ ë¦¼ì„ ', 'ì•ˆì‚°ì„ ', 'ìš°ì´ì‹ ì„¤ì„ ', 'ì¼ì‚°ì„ ', 'ì¥í•­ì„ ', 'ì¤‘ì•™ì„ '], dtype=object)

In [163]:
list01 = df.query("ì‚¬ìš©ì›”==202201")['ì§€í•˜ì² ì—­'].unique()
list06 = df.query("ì‚¬ìš©ì›”==202206")['ì§€í•˜ì² ì—­'].unique()

In [164]:
for subway in list06:
    if subway not in list01:
        print(subway)

ê´€ì•…ì‚°
ë³´ë¼ë§¤ë³‘ì›
ë‹¹ê³¡
ì„œì›
ë³´ë¼ë§¤ê³µì›
ì„œìš¸ì§€ë°©ë³‘ë¬´ì²­
ì„œìš¸ëŒ€ë²¤ì²˜íƒ€ìš´

In [168]:
df.iloc[:,3]

0         218782
1         328288
2         834173
3        1150754
4         450317
          ...
60055     169119
60056     169461
60057     265941
60058     469127
60059     422698
Name: ìœ ì„ìŠ¹ì°¨ì¸ì›, Length: 50293, dtype: int64

In [169]:
df['ìœ ë™ì¸êµ¬'] = df['ìœ ì„ìŠ¹ì°¨ì¸ì›'] + df['ë¬´ì„ìŠ¹ì°¨ì¸ì›'] + df['ìœ ì„í•˜ì°¨ì¸ì›'] + df['ë¬´ì„í•˜ì°¨ì¸ì›']
df

C:\Users\happy\AppData\Local\Temp\ipykernel_18676\2831325637.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:,'ìœ ë™ì¸êµ¬'] = df.iloc[:,3] + df.iloc[:,4] + df.iloc[:,5] + df.iloc[:,6]

          ì‚¬ìš©ì›”  í˜¸ì„ ëª…  ì§€í•˜ì² ì—­   ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›   ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì     ìœ ë™ì¸êµ¬
0      202206  1í˜¸ì„    ì œê¸°ë™   218782  263173   209109  281985  20220703   973049
1      202206  1í˜¸ì„    ì²­ëŸ‰ë¦¬   328288  246164   325365  249818  20220703  1149635
2      202206  1í˜¸ì„     ì¢…ê°   834173  131987   815704  121717  20220703  1903581
3      202206  1í˜¸ì„    ì„œìš¸ì—­  1150754  194717  1123193  187155  20220703  2655819
4      202206  1í˜¸ì„   ì¢…ë¡œ3ê°€   450317  299617   404106  278151  20220703  1432191
...       ...  ...   ...      ...     ...      ...     ...       ...      ...
60055  201501  9í˜¸ì„    ì‹ ë°©í™”   169119  160054    38500   38259  20150206   405932
60056  201501  9í˜¸ì„   ì–‘ì²œí–¥êµ   169461  165605    35179   35196  20150206   405441
60057  201501  9í˜¸ì„     ë“±ì´Œ   265941  271132    73910   74472  20150206   685455
60058  201501  9í˜¸ì„     ê°€ì–‘   469127  439698   107695  104082  20150206  1120602
60059  201501  9í˜¸ì„     ë‹¹ì‚°   422698  384841    54179   49891  20150206   911609

[50293 rows x 9 columns]

In [197]:
df_01 = df.query("ì‚¬ìš©ì›”==202201").groupby(by='ì§€í•˜ì² ì—­').aggregate("sum")['ìœ ë™ì¸êµ¬'].to_frame()
df_01 = df_01.sort_index()
df_01

             ìœ ë™ì¸êµ¬
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€   141088
ê°€ëŠ¥         324552
ê°€ë½ì‹œì¥       871696
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€   3012449
ê°€ì–‘        1010967
...           ...
íšŒê¸°        1194440
íšŒë£¡         630818
íšŒí˜„        1203283
íš¨ì°½ê³µì›ì•      481270
í‘ì„         408170

[513 rows x 1 columns]

In [198]:
df_06 = df.query("ì‚¬ìš©ì›”==202206").groupby(by='ì§€í•˜ì² ì—­').aggregate("sum")['ìœ ë™ì¸êµ¬'].to_frame()
df_06 = df_06.sort_index()
df_06

             ìœ ë™ì¸êµ¬
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€   176102
ê°€ëŠ¥         380442
ê°€ë½ì‹œì¥       923752
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€   3168126
ê°€ì–‘        1143799
...           ...
íšŒê¸°        1411485
íšŒë£¡         726102
íšŒí˜„        1395853
íš¨ì°½ê³µì›ì•      552678
í‘ì„         484669

[520 rows x 1 columns]

In [199]:
merged_df = pd.merge(df_01, df_06, left_index=True, right_index=True, how='left')
merged_df

           ìœ ë™ì¸êµ¬_x   ìœ ë™ì¸êµ¬_y
ì§€í•˜ì² ì—­
4.19ë¯¼ì£¼ë¬˜ì§€   141088   176102
ê°€ëŠ¥         324552   380442
ê°€ë½ì‹œì¥       871696   923752
ê°€ì‚°ë””ì§€í„¸ë‹¨ì§€   3012449  3168126
ê°€ì–‘        1010967  1143799
...           ...      ...
íšŒê¸°        1194440  1411485
íšŒë£¡         630818   726102
íšŒí˜„        1203283  1395853
íš¨ì°½ê³µì›ì•      481270   552678
í‘ì„         408170   484669

[513 rows x 2 columns]

In [213]:
merged_df['ìœ ë™ì¸êµ¬ì¦ê°ë¥ '] = ((merged_df['ìœ ë™ì¸êµ¬_y']/merged_df['ìœ ë™ì¸êµ¬_x'] -1) * 100).round(2)
df_result = merged_df.query("ìœ ë™ì¸êµ¬ì¦ê°ë¥ <0").sort_values(by='ìœ ë™ì¸êµ¬ì¦ê°ë¥ ', ascending=False)['ìœ ë™ì¸êµ¬ì¦ê°ë¥ '].to_frame()
df_result

      ìœ ë™ì¸êµ¬ì¦ê°ë¥
ì§€í•˜ì² ì—­
ë…¼í˜„      -1.29
ì‹ ì‚¬      -2.74
êµ¬ë°˜í¬     -2.87
ì‚¬ë¦‰     -10.15
ë‹¹ê³ ê°œ    -22.42
ë°±ì–‘ë¦¬    -62.19

In [214]:
# 3-1

check_03_01(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 85 / 100

      ìœ ë™ì¸êµ¬ì¦ê°ë¥
ì§€í•˜ì² ì—­
ë…¼í˜„      -1.29
ì‹ ì‚¬      -2.74
êµ¬ë°˜í¬     -2.87
ì‚¬ë¦‰     -10.15
ë‹¹ê³ ê°œ    -22.42
ë°±ì–‘ë¦¬    -62.19

### ë¬¸ì œ 3-2) ì‹¬í™” ì •ë³´ ì–»ê¸° 02 (15ì )
- 2015ë…„ë¶€í„° 2022ë…„ê¹Œì§€ ì§€í•˜ì²  1~9í˜¸ì„ ì—ì„œ ì‹ ì„¤ëœ ì—­ì„ í™•ì¸í•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
- ìœ„ 1ë‹¨ê³„ì˜ DataFrame(df_target)ì„ ì´ìš©í•˜ì—¬ ì•„ë˜ ì˜ˆì‹œ ë° ì¡°ê±´ì— ë§ëŠ” ì •ë³´ë¥¼ êµ¬í•˜ì„¸ìš”.
<br></br>
    - ì˜ˆì‹œ: df_result.iloc[:2]
<br></br>
        <img src="images/08-3-2-001.png" style="margin:auto" width=200/>
<br></br>
    - ì¡°ê±´1: 2015ë…„ë¶€í„° 2022ë…„ê¹Œì§€ ì§€í•˜ì²  1~9í˜¸ì„ ì—ì„œ ì‹ ì„¤ëœ ì—­ì„ í™•ì¸í•˜ê³ ì í•©ë‹ˆë‹¤.
<br></br>
        - ìœ„ 1-5ë¥¼ ì°¸ê³ í•˜ì—¬ 'í˜¸ì„ ëª…' Column(ì—´) Dataê°€ '7í˜¸ì„  ì¸ì²œ'ì¸ ê²½ìš°ëŠ” ì œì™¸í•˜ê³  êµ¬í•˜ì„¸ìš”.
<br></br>
        - ì‹ ì„¤ ì—­: 2015ë…„ 1ì›”ë¶€í„° 2022ë…„ 6ì›”ê¹Œì§€ì˜ ê¸°ê°„ ì¤‘ ìœ ë™ì¸êµ¬('ìœ ì„ìŠ¹ì°¨ì¸ì›' + 'ë¬´ì„ìŠ¹ì°¨ì¸ì›' + 'ìœ ì„í•˜ì°¨ì¸ì›' + 'ë¬´ì„í•˜ì°¨ì¸ì›') Dataê°€ ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ê²½ìš° í•´ë‹¹ ì›”ì— í•´ë‹¹ ì—­ì€ ì¡´ì¬í•˜ì§€ ì•ŠëŠ”ë‹¤ê³  íŒë‹¨í•©ë‹ˆë‹¤. ì˜ˆë¥¼ë“¤ì–´ 2018ë…„ 3ì›”ë¶€í„° ìœ ë™ì¸êµ¬ Dataê°€ ìˆë‹¤ë©´ í•´ë‹¹ ì—­ì€ 2018ë…„ 3ì›”ì— ì‹ ì„¤ë˜ì—ˆë‹¤ê³  íŒë‹¨í•©ë‹ˆë‹¤.
<br></br>
        - ì˜ˆì‹œ: 9í˜¸ì„  'ë‘”ì´Œì˜¤ë¥œ'ì—­ì˜ ê²½ìš° Dataê°€ 2018ë…„ 12ì›” ë¶€í„° 2022ë…„ 6ì›”ê¹Œì§€ ì¡´ì¬í•©ë‹ˆë‹¤. ë”°ë¼ì„œ 9í˜¸ì„  'ë‘”ì´Œì˜¤ë¥œ'ì—­ì€ 2018ë…„ 12ì›”ì— ì‹ ì„¤ëœ ì—­ìœ¼ë¡œ íŒë‹¨í•©ë‹ˆë‹¤.
<br></br>
    - ì¡°ê±´2: Indexì™€ Columnì€ ì•„ë˜ì™€ ê°™ì´ ì§€ì •í•´ ì£¼ì„¸ìš”.
        - Index: 0ë¶€í„° ì‹œì‘í•˜ëŠ” ì—°ì†ì˜ ìˆ«ì
        - Column: ['í˜¸ì„ ëª…', 'ì§€í•˜ì² ì—­', 'ì‹ ì„¤ì›”']
<br></br>
    - ì¡°ê±´3: ì•„ë˜ì™€ ê°™ì´ DataFrameì„ ì •ë ¬í•˜ê³  Indexë¥¼ ì´ˆê¸°í™” í•˜ì„¸ìš”..
        - 'í˜¸ì„ ëª…' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
        - 'í˜¸ì„ ëª…'ì´ ê°™ë‹¤ë©´, 'ì‹ ì„¤ì›”' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
        - 'í˜¸ì„ ëª…'ê³¼ 'ì‹ ì„¤ì›”'ì´ ê°™ë‹¤ë©´, 'ì§€í•˜ì² ì—­' Column(ì—´)ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì„¸ìš”.
        - ìœ„ì™€ ê°™ì´ ì •ë ¬ í›„ Indexë¥¼ Resetí•˜ê³ , ê¸°ì¡´ IndexëŠ” ì‚­ì œ(drop)í•˜ì„¸ìš”.
<br></br>
    - ì¡°ê±´4: 'df_result' ë³€ìˆ˜ì— ê²°ê³¼ DataFrameì„ í• ë‹¹í•˜ì„¸ìš”.
<br></br>
<br></br>
- ì™„ë£Œ í›„ ê²°ê³¼ DataFrame ë³€ìˆ˜(df_result)ë¥¼ check_03_02 í•¨ìˆ˜ì— ì…ë ¥í•˜ì—¬ ì±„ì í•˜ì„¸ìš”.

In [216]:
df_temp = df_target.groupby(['ì§€í•˜ì² ì—­', 'ì‚¬ìš©ì›”']).sum()
df_temp

                   í˜¸ì„ ëª…  ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
ì§€í•˜ì² ì—­     ì‚¬ìš©ì›”
4.19ë¯¼ì£¼ë¬˜ì§€ 201709  ìš°ì´ì‹ ì„¤ì„    64367   27955   65819   24756  20171003
         201710  ìš°ì´ì‹ ì„¤ì„    59273   27495   60627   25397  20171103
         201711  ìš°ì´ì‹ ì„¤ì„    67463   25318   70959   23925  20171203
         201712  ìš°ì´ì‹ ì„¤ì„    53242   23156   54411   22130  20180103
         201801  ìš°ì´ì‹ ì„¤ì„    44162   22451   45023   21363  20180203
...                ...     ...     ...     ...     ...       ...
í‘ì„       202202    9í˜¸ì„   130579   38993  137840   39894  20220303
         202203    9í˜¸ì„   176653   45100  179164   45462  20220403
         202204    9í˜¸ì„   189703   49966  191136   49713  20220503
         202205    9í˜¸ì„   212180   55128  214046   55176  20220613
         202206    9í˜¸ì„   186994   53158  191190   53327  20220703

[43869 rows x 6 columns]

In [218]:
df_target['í˜¸ì„ ëª…'].unique()

array(['1í˜¸ì„ ', '2í˜¸ì„ ', '3í˜¸ì„ ', '4í˜¸ì„ ', '5í˜¸ì„ ', '6í˜¸ì„ ', '7í˜¸ì„ ', '7í˜¸ì„  ì¸ì²œ', '8í˜¸ì„ ',
       '9í˜¸ì„ ', 'ê²½ê°•ì„ ', 'ê²½ë¶€ì„ ', 'ê²½ì›ì„ ', 'ê²½ì˜ì„ ', 'ê²½ì¸ì„ ', 'ê²½ì¶˜ì„ ', 'ê³µí•­ì² ë„ 1í˜¸ì„ ', 'ê³¼ì²œì„ ',
       'ë¶„ë‹¹ì„ ', 'ìˆ˜ì¸ì„ ', 'ì‹ ë¦¼ì„ ', 'ì•ˆì‚°ì„ ', 'ìš°ì´ì‹ ì„¤ì„ ', 'ì¼ì‚°ì„ ', 'ì¥í•­ì„ ', 'ì¤‘ì•™ì„ '],
      dtype=object)

In [259]:
lines = ['1í˜¸ì„ ', '2í˜¸ì„ ', '3í˜¸ì„ ', '4í˜¸ì„ ', '5í˜¸ì„ ', '6í˜¸ì„ ', '7í˜¸ì„ ', '8í˜¸ì„ ', '9í˜¸ì„ ']

df = df_target[df_target['í˜¸ì„ ëª…'].isin(lines)].sort_values(by='ì‚¬ìš©ì›”')
df

          ì‚¬ìš©ì›”  í˜¸ì„ ëª… ì§€í•˜ì² ì—­  ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
60059  201501  9í˜¸ì„    ë‹¹ì‚°  422698  384841   54179   49891  20150206
59850  201501  3í˜¸ì„   ë…ë¦½ë¬¸  151167  155842   70110   69443  20150206
59851  201501  3í˜¸ì„    ì•½ìˆ˜  349755  329772   86639   84094  20150206
59852  201501  4í˜¸ì„   ë™ëŒ€ë¬¸  588698  624002  141139  134293  20150206
59853  201501  4í˜¸ì„   ì‚¼ê°ì§€  138257  178987   32268   36116  20150206
...       ...  ...  ...     ...     ...     ...     ...       ...
210    202206  6í˜¸ì„    ì•ˆì•”  286914   33552  287617   32461  20220703
211    202206  6í˜¸ì„   ê´‘í¥ì°½  200897   48708  191623   48096  20220703
212    202206  6í˜¸ì„   ì´íƒœì›  326397   29471  364830   30740  20220703
205    202206  6í˜¸ì„   í™”ë‘ëŒ€  273872   45222  208423   40918  20220703
0      202206  1í˜¸ì„   ì œê¸°ë™  218782  263173  209109  281985  20220703

[27286 rows x 8 columns]

In [260]:
df['í˜¸ì„ ëª…'].unique()

array(['9í˜¸ì„ ', '3í˜¸ì„ ', '4í˜¸ì„ ', '5í˜¸ì„ ', '2í˜¸ì„ ', '1í˜¸ì„ ', '7í˜¸ì„ ', '8í˜¸ì„ ', '6í˜¸ì„ '],
      dtype=object)

In [227]:
df.groupby(['ì§€í•˜ì² ì—­', 'ì‚¬ìš©ì›”']).sum()

                í˜¸ì„ ëª…  ìœ ì„ìŠ¹ì°¨ì¸ì›  ë¬´ì„ìŠ¹ì°¨ì¸ì›  ìœ ì„í•˜ì°¨ì¸ì›  ë¬´ì„í•˜ì°¨ì¸ì›      ì‘ì—…ì¼ì
ì§€í•˜ì² ì—­ ì‚¬ìš©ì›”
ê°€ë½ì‹œì¥ 201501  3í˜¸ì„ 8í˜¸ì„   364105  375552  104562  101624  40300412
     201502  3í˜¸ì„ 8í˜¸ì„   309961  320240   92501   90570  40300622
     201503  3í˜¸ì„ 8í˜¸ì„   379007  391375  108075  104719  40300816
     201504  3í˜¸ì„ 8í˜¸ì„   366587  379209  107728  104711  40301016
     201505  3í˜¸ì„ 8í˜¸ì„   352468  363248  105841  103547  40301216
...             ...     ...     ...     ...     ...       ...
í‘ì„   202202     9í˜¸ì„   130579   38993  137840   39894  20220303
     202203     9í˜¸ì„   176653   45100  179164   45462  20220403
     202204     9í˜¸ì„   189703   49966  191136   49713  20220503
     202205     9í˜¸ì„   212180   55128  214046   55176  20220613
     202206     9í˜¸ì„   186994   53158  191190   53327  20220703

[23512 rows x 6 columns]

In [261]:
df = df.groupby(by=['ì§€í•˜ì² ì—­'], as_index=False).aggregate("first").query("ì‚¬ìš©ì›”!=201501")
df = df[['í˜¸ì„ ëª…','ì§€í•˜ì² ì—­','ì‚¬ìš©ì›”']].rename(columns={"ì‚¬ìš©ì›”":"ì‹ ì„¤ì›”"})
df

     í˜¸ì„ ëª…    ì§€í•˜ì² ì—­     ì‹ ì„¤ì›”
8    5í˜¸ì„       ê°•ì¼  202103
44   8í˜¸ì„      ë‚¨ìœ„ë¡€  202112
74   9í˜¸ì„     ë‘”ì´Œì˜¤ë¥œ  201812
98   5í˜¸ì„       ë¯¸ì‚¬  202008
110  9í˜¸ì„      ë´‰ì€ì‚¬  201503
120  9í˜¸ì„     ì‚¼ì„±ì¤‘ì•™  201503
121  9í˜¸ì„       ì‚¼ì „  201812
137  9í˜¸ì„     ì„ì´Œê³ ë¶„  201812
140  9í˜¸ì„      ì„ ì •ë¦‰  201503
145  9í˜¸ì„     ì†¡íŒŒë‚˜ë£¨  201812
155  6í˜¸ì„       ì‹ ë‚´  201912
188  9í˜¸ì„       ì–¸ì£¼  201503
233  9í˜¸ì„   ì¤‘ì•™ë³´í›ˆë³‘ì›  201812
251  5í˜¸ì„    í•˜ë‚¨ê²€ë‹¨ì‚°  202103
252  5í˜¸ì„     í•˜ë‚¨ì‹œì²­  202103
253  5í˜¸ì„     í•˜ë‚¨í’ì‚°  202008
258  9í˜¸ì„     í•œì„±ë°±ì œ  201812

In [263]:
df_result = df.sort_values(by=['í˜¸ì„ ëª…','ì‹ ì„¤ì›”'], ascending=[True, False]).reset_index(drop=True)
df_result

    í˜¸ì„ ëª…    ì§€í•˜ì² ì—­     ì‹ ì„¤ì›”
0   5í˜¸ì„       ê°•ì¼  202103
1   5í˜¸ì„    í•˜ë‚¨ê²€ë‹¨ì‚°  202103
2   5í˜¸ì„     í•˜ë‚¨ì‹œì²­  202103
3   5í˜¸ì„       ë¯¸ì‚¬  202008
4   5í˜¸ì„     í•˜ë‚¨í’ì‚°  202008
5   6í˜¸ì„       ì‹ ë‚´  201912
6   8í˜¸ì„      ë‚¨ìœ„ë¡€  202112
7   9í˜¸ì„     ë‘”ì´Œì˜¤ë¥œ  201812
8   9í˜¸ì„       ì‚¼ì „  201812
9   9í˜¸ì„     ì„ì´Œê³ ë¶„  201812
10  9í˜¸ì„     ì†¡íŒŒë‚˜ë£¨  201812
11  9í˜¸ì„   ì¤‘ì•™ë³´í›ˆë³‘ì›  201812
12  9í˜¸ì„     í•œì„±ë°±ì œ  201812
13  9í˜¸ì„      ë´‰ì€ì‚¬  201503
14  9í˜¸ì„     ì‚¼ì„±ì¤‘ì•™  201503
15  9í˜¸ì„      ì„ ì •ë¦‰  201503
16  9í˜¸ì„       ì–¸ì£¼  201503

In [264]:
# 3-2

check_03_02(df_result)
df_result

ì •ë‹µì…ë‹ˆë‹¤! 15ì  ëˆ„ì  ë˜ì—ˆìŠµë‹ˆë‹¤!
í˜„ì¬ ëˆ„ì  ì ìˆ˜: 100 / 100

    í˜¸ì„ ëª…    ì§€í•˜ì² ì—­     ì‹ ì„¤ì›”
0   5í˜¸ì„       ê°•ì¼  202103
1   5í˜¸ì„    í•˜ë‚¨ê²€ë‹¨ì‚°  202103
2   5í˜¸ì„     í•˜ë‚¨ì‹œì²­  202103
3   5í˜¸ì„       ë¯¸ì‚¬  202008
4   5í˜¸ì„     í•˜ë‚¨í’ì‚°  202008
5   6í˜¸ì„       ì‹ ë‚´  201912
6   8í˜¸ì„      ë‚¨ìœ„ë¡€  202112
7   9í˜¸ì„     ë‘”ì´Œì˜¤ë¥œ  201812
8   9í˜¸ì„       ì‚¼ì „  201812
9   9í˜¸ì„     ì„ì´Œê³ ë¶„  201812
10  9í˜¸ì„     ì†¡íŒŒë‚˜ë£¨  201812
11  9í˜¸ì„   ì¤‘ì•™ë³´í›ˆë³‘ì›  201812
12  9í˜¸ì„     í•œì„±ë°±ì œ  201812
13  9í˜¸ì„      ë´‰ì€ì‚¬  201503
14  9í˜¸ì„     ì‚¼ì„±ì¤‘ì•™  201503
15  9í˜¸ì„      ì„ ì •ë¦‰  201503
16  9í˜¸ì„       ì–¸ì£¼  201503

***

### ğŸŠ ë¬¸ì œê°€ ëë‚¬ìŠµë‹ˆë‹¤. ì œì¶œì–‘ì‹ê³¼ ì¼ì •ì— ë§ì¶° ì œì¶œí•´ì£¼ì‹œê¸°ë¥¼ ë°”ëë‹ˆë‹¤!

### ì œì¶œì–‘ì‹
- ì´ íŒŒì¼ì€ EDA TEST 8íšŒì°¨ ë…¸íŠ¸ë¶ì…ë‹ˆë‹¤. ë”°ë¼ì„œ ì œì¶œì‹œ íŒŒì¼ëª…ì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤. 
- [DS]edalvtest_08_yourname.ipynb

***

# ë¬¸ì˜ì‚¬í•­ ë° ì˜ê²¬ì´ ìˆëŠ” ê²½ìš° ì‘ì„±í•´ì£¼ì„¸ìš”.