# ì„œìš¸ì‹œ ë²”ì£„ í˜„í™© ë°ì´í„° ê°œìš” í™•ì¸

In [1]:
import pandas as pd
import numpy as np

#### ğŸ”° ë°ì´í„° ì½ê¸°

- `thousands` paramì€ ë‹¨ìœ„ êµ¬ë¶„ ë¬¸ì(ì½¤ë§ˆ)ê°€ ì°íŒ ìˆ«ìë¥¼ ë¬¸ìë¡œ ì¸ì‹í•  ìˆ˜ ìˆê¸° ë•Œë¬¸ì— ì„¤ì •ìœ¼ë¡œ ë„£ì–´ì¤€ë‹¤.

	- ìˆ«ìê°’ë“¤ì´ ì½¤ë§ˆ(,)ë¥¼ ì‚¬ìš©í•˜ê³  ìˆì–´ì„œ ë¬¸ìë¡œ ì¸ì‹ë  ìˆ˜ ìˆë‹¤.
	- ì²œë‹¨ìœ„ êµ¬ë¶„(thousands=',')ì´ë¼ê³  ì•Œë ¤ì£¼ë©´ ì»´ë§ˆë¥¼ ì œê±°í•˜ê³  ìˆ«ìí˜•ìœ¼ë¡œ ì½ì–´ì˜¨ë‹¤.

In [2]:
crime_raw_data = pd.read_csv("../data/02. crime_in_Seoul.csv", thousands=',', encoding='euc-kr')
crime_raw_data.head()

   êµ¬ë¶„  ì£„ì¢… ë°œìƒê²€ê±°     ê±´ìˆ˜
0  ì¤‘ë¶€  ì‚´ì¸   ë°œìƒ    2.0
1  ì¤‘ë¶€  ì‚´ì¸   ê²€ê±°    2.0
2  ì¤‘ë¶€  ê°•ë„   ë°œìƒ    3.0
3  ì¤‘ë¶€  ê°•ë„   ê²€ê±°    3.0
4  ì¤‘ë¶€  ê°•ê°„   ë°œìƒ  141.0

#### ğŸ”° ê¸°ë³¸ ì •ë³´ í™•ì¸

- `info()` ë©”ì„œë“œë¡œ ë°ì´í„°ì˜ ê°œìš”ë¥¼ í™•ì¸í•œë‹¤.

In [3]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   êµ¬ë¶„      310 non-null    object
 1   ì£„ì¢…      310 non-null    object
 2   ë°œìƒê²€ê±°    310 non-null    object
 3   ê±´ìˆ˜      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

ğŸ‘† RangeIndex: 65534 entries, 0 to 65533 </br>

- ìë£ŒëŠ” 310ê°œì¸ë° ì¸ë±ìŠ¤ê°€ 6ë§Œê°œê°€ ë„˜ëŠ”ë‹¤.

- íŠ¹ì • ì»¬ëŸ¼ì—ì„œ unique ì¡°ì‚¬

In [4]:
crime_raw_data["ì£„ì¢…"].unique()

array(['ì‚´ì¸', 'ê°•ë„', 'ê°•ê°„', 'ì ˆë„', 'í­ë ¥', nan], dtype=object)

ğŸ‘† "ì£„ì¢…" ì»¬ëŸ¼ì— nan ê°’ì´ ë“¤ì–´ê°€ ìˆìŒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

- `isnull()` ë©”ì„œë“œë¥¼ ì´ìš©í•´ Valueê°€ Nullì¸ì§€ ì•„ë‹Œì§€ True, Falseë¡œ ê²°ê³¼ë¥¼ ì¶œë ¥í•´ ë³¸ë‹¤.

In [5]:
crime_raw_data["ì£„ì¢…"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
65529     True
65530     True
65531     True
65532     True
65533     True
Name: ì£„ì¢…, Length: 65534, dtype: bool

- crime_raw_dataë¡œ ë§ˆìŠ¤í‚¹ì„ ì”Œì›Œ Trueì¸ ê°’ë“¤ë§Œ DataFrameí˜•íƒœë¡œ ì¶œë ¥í•œë‹¤.

In [6]:
crime_raw_data[crime_raw_data["ì£„ì¢…"].isnull()].head()

      êµ¬ë¶„   ì£„ì¢… ë°œìƒê²€ê±°  ê±´ìˆ˜
310  NaN  NaN  NaN NaN
311  NaN  NaN  NaN NaN
312  NaN  NaN  NaN NaN
313  NaN  NaN  NaN NaN
314  NaN  NaN  NaN NaN

ğŸ‘† Index [310]ë¶€í„° NaNê°’ìœ¼ë¡œ ì±„ì›Œì§„ ê²ƒì„ í™•ì¸í•  ìˆ˜ ìˆë‹¤.

- ì´ëŸ´ ë•ŒëŠ” NaNì„ ì œê±°í•˜ëŠ” ê²ƒì´ ì•„ë‹ˆë¼ NaNê°’ì„ ì œì™¸í•˜ê³  í•„ìš”í•œ ë°ì´í„°ë§Œ ê°€ì ¸ì˜¨ë‹¤.

In [7]:
crime_raw_data[crime_raw_data["ì£„ì¢…"].notnull()]

     êµ¬ë¶„  ì£„ì¢… ë°œìƒê²€ê±°      ê±´ìˆ˜
0    ì¤‘ë¶€  ì‚´ì¸   ë°œìƒ     2.0
1    ì¤‘ë¶€  ì‚´ì¸   ê²€ê±°     2.0
2    ì¤‘ë¶€  ê°•ë„   ë°œìƒ     3.0
3    ì¤‘ë¶€  ê°•ë„   ê²€ê±°     3.0
4    ì¤‘ë¶€  ê°•ê°„   ë°œìƒ   141.0
..   ..  ..  ...     ...
305  ìˆ˜ì„œ  ê°•ê°„   ê²€ê±°   144.0
306  ìˆ˜ì„œ  ì ˆë„   ë°œìƒ  1149.0
307  ìˆ˜ì„œ  ì ˆë„   ê²€ê±°   789.0
308  ìˆ˜ì„œ  í­ë ¥   ë°œìƒ  1666.0
309  ìˆ˜ì„œ  í­ë ¥   ê²€ê±°  1431.0

[310 rows x 4 columns]

In [11]:
crime_raw_data = crime_raw_data[crime_raw_data["ì£„ì¢…"].notnull()]
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   êµ¬ë¶„      310 non-null    object
 1   ì£„ì¢…      310 non-null    object
 2   ë°œìƒê²€ê±°    310 non-null    object
 3   ê±´ìˆ˜      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

ğŸ‘† NaNì„ ì •ë¦¬í•˜ê³  ë‚˜ë‹ˆ ë°ì´í„°ì˜ í¬ê¸°ê°€ 2MBì—ì„œ 12.1KBê°€ ë˜ì—ˆë‹¤.

- head()ì™€ tail()ë¡œ ê°’ì„ ì°ì–´ ë¬¸ì œê°€ ì—†ëŠ”ì§€ í™•ì¸í•œë‹¤.

In [12]:
crime_raw_data.head()

   êµ¬ë¶„  ì£„ì¢… ë°œìƒê²€ê±°     ê±´ìˆ˜
0  ì¤‘ë¶€  ì‚´ì¸   ë°œìƒ    2.0
1  ì¤‘ë¶€  ì‚´ì¸   ê²€ê±°    2.0
2  ì¤‘ë¶€  ê°•ë„   ë°œìƒ    3.0
3  ì¤‘ë¶€  ê°•ë„   ê²€ê±°    3.0
4  ì¤‘ë¶€  ê°•ê°„   ë°œìƒ  141.0

In [13]:
crime_raw_data.tail()

     êµ¬ë¶„  ì£„ì¢… ë°œìƒê²€ê±°      ê±´ìˆ˜
305  ìˆ˜ì„œ  ê°•ê°„   ê²€ê±°   144.0
306  ìˆ˜ì„œ  ì ˆë„   ë°œìƒ  1149.0
307  ìˆ˜ì„œ  ì ˆë„   ê²€ê±°   789.0
308  ìˆ˜ì„œ  í­ë ¥   ë°œìƒ  1666.0
309  ìˆ˜ì„œ  í­ë ¥   ê²€ê±°  1431.0

- ì´ ë°ì´í„°ì˜ í˜•íƒœë¡œëŠ” ì˜ë¯¸ìˆëŠ” insightë¥¼ ë„ì¶œí•˜ê¸° ì–´ë µë‹¤.
- í˜•íƒœê°€ ì„¸ë¡œì¶•ì— ì„œìš¸ê¸° êµ¬ì´ë¦„ì´ ìˆê³ , ê°€ë¡œì¶•ì— 5ëŒ€ ë²”ì£„ ìˆ˜ì¹˜ê°€ ìˆìœ¼ë©´ ì¢‹ì„ ê²ƒê°™ë‹¤.
- ì¦‰, ë‹¨ìˆœ ë‚˜ì—´ëœ ë°ì´í„°ë¥¼ ì›í•˜ëŠ” ë°ì´í„° ì—´ë¡œ ì¬ë°°ì¹˜í•  í•„ìš”ê°€ ìˆë‹¤.

- ì´ê²ƒì„ ì‰½ê²Œ í•´ì£¼ëŠ” ê²ƒì´ Pandasì˜ `pivot_table`ì´ë‹¤.

In [16]:
crime_raw_data.to_csv("./result_data/01_crime_raw_data.csv", encoding='utf-8', index=False)