# êµ¬ë³„ ë²”ì£„ í˜„í™© ë°ì´í„° ìƒì„±

In [22]:
import pandas as pd

crime_anal_station = pd.read_csv(
    "./result_data/03_crime_in_seoul_raw_data.csv", encoding='utf-8'
    , index_col=0 # "êµ¬ë¶„" ì»¬ëŸ¼ì„ Indexë¡œ ì„¤ì •
)
crime_anal_station.head()

,ê°•ê°„ê²€ê±°,ê°•ê°„ë°œìƒ,ê°•ë„ê²€ê±°,ê°•ë„ë°œìƒ,ì‚´ì¸ê²€ê±°,ì‚´ì¸ë°œìƒ,ì ˆë„ê²€ê±°,ì ˆë„ë°œìƒ,í­ë ¥ê²€ê±°,í­ë ¥ë°œìƒ,êµ¬ë³„,lat,lng
êµ¬ë¶„,,,,,,,,,,,,,
ê°•ë‚¨,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,ê°•ë‚¨êµ¬,37.509435,127.066958
ê°•ë™,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,ê°•ë™êµ¬,37.528511,127.126822
ê°•ë¶,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,ê°•ë¶êµ¬,37.643480,127.011184
ê°•ì„œ,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,ê°•ì„œêµ¬,37.551362,126.850280
ê´€ì•…,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,ê´€ì•…êµ¬,37.474395,126.951349

#### ğŸ”° êµ¬ë³„ ë°ì´í„°ë¡œ ì •ë¦¬

> ì„œìš¸ì€ í•œ êµ¬ì— ê²½ì°°ì„œê°€ ë‘ ê³³ì¸ êµ¬ê°€ ìˆìœ¼ë¯€ë¡œ êµ¬ì˜ ì´ë¦„ìœ¼ë¡œ ë‹¤ì‹œ ì •ë ¬í•œë‹¤.

- ì„œìš¸ì‹œ êµ¬ëŠ” 25ê°œ, ì„œìš¸ ë‚´ ê²½ì°°ì„œëŠ” 31ê³³

In [23]:
crime_anal_station.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, ê°•ë‚¨ to í˜œí™”
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ê°•ê°„ê²€ê±°    31 non-null     float64
 1   ê°•ê°„ë°œìƒ    31 non-null     float64
 2   ê°•ë„ê²€ê±°    31 non-null     float64
 3   ê°•ë„ë°œìƒ    31 non-null     float64
 4   ì‚´ì¸ê²€ê±°    31 non-null     float64
 5   ì‚´ì¸ë°œìƒ    31 non-null     float64
 6   ì ˆë„ê²€ê±°    31 non-null     float64
 7   ì ˆë„ë°œìƒ    31 non-null     float64
 8   í­ë ¥ê²€ê±°    31 non-null     float64
 9   í­ë ¥ë°œìƒ    31 non-null     float64
 10  êµ¬ë³„      31 non-null     object
 11  lat     31 non-null     float64
 12  lng     31 non-null     float64
dtypes: float64(12), object(1)
memory usage: 3.4+ KB

In [24]:
import numpy as np

crime_anal_gu = pd.pivot_table(crime_anal_station, index="êµ¬ë³„", aggfunc=np.sum)
crime_anal_gu.head()

,lat,lng,ê°•ê°„ê²€ê±°,ê°•ê°„ë°œìƒ,ê°•ë„ê²€ê±°,ê°•ë„ë°œìƒ,ì‚´ì¸ê²€ê±°,ì‚´ì¸ë°œìƒ,ì ˆë„ê²€ê±°,ì ˆë„ë°œìƒ,í­ë ¥ê²€ê±°,í­ë ¥ë°œìƒ
êµ¬ë³„,,,,,,,,,,,,
ê°•ë‚¨êµ¬,75.002925,254.144170,413.0,516.0,42.0,39.0,5.0,5.0,1918.0,3587.0,3527.0,4002.0
ê°•ë™êµ¬,37.528511,127.126822,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0
ê°•ë¶êµ¬,37.643480,127.011184,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0
ê°•ì„œêµ¬,37.551362,126.850280,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0
ê´€ì•…êµ¬,37.474395,126.951349,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0

In [25]:
crime_anal_gu.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, ê°•ë‚¨êµ¬ to ì¤‘ë‘êµ¬
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lat     25 non-null     float64
 1   lng     25 non-null     float64
 2   ê°•ê°„ê²€ê±°    25 non-null     float64
 3   ê°•ê°„ë°œìƒ    25 non-null     float64
 4   ê°•ë„ê²€ê±°    25 non-null     float64
 5   ê°•ë„ë°œìƒ    25 non-null     float64
 6   ì‚´ì¸ê²€ê±°    25 non-null     float64
 7   ì‚´ì¸ë°œìƒ    25 non-null     float64
 8   ì ˆë„ê²€ê±°    25 non-null     float64
 9   ì ˆë„ë°œìƒ    25 non-null     float64
 10  í­ë ¥ê²€ê±°    25 non-null     float64
 11  í­ë ¥ë°œìƒ    25 non-null     float64
dtypes: float64(12)
memory usage: 2.5+ KB

- í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì œê±°

In [26]:
del crime_anal_gu["lat"]
del crime_anal_gu["lng"]

crime_anal_gu.head()

      ê°•ê°„ê²€ê±°   ê°•ê°„ë°œìƒ  ê°•ë„ê²€ê±°  ê°•ë„ë°œìƒ  ì‚´ì¸ê²€ê±°  ì‚´ì¸ë°œìƒ    ì ˆë„ê²€ê±°    ì ˆë„ë°œìƒ    í­ë ¥ê²€ê±°    í­ë ¥ë°œìƒ
êµ¬ë³„
ê°•ë‚¨êµ¬  413.0  516.0  42.0  39.0   5.0   5.0  1918.0  3587.0  3527.0  4002.0
ê°•ë™êµ¬  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
ê°•ë¶êµ¬  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
ê°•ì„œêµ¬  239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
ê´€ì•…êµ¬  264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0

#### ğŸ”° ê²€ê±°ìœ¨ ë°ì´í„° ìƒì„±

- í•˜ë‚˜ì˜ ì»¬ëŸ¼ì„ ë‹¤ë¥¸ ì»¬ëŸ¼ìœ¼ë¡œ ë‚˜ëˆ„ê¸°

In [27]:
crime_anal_gu["ê°•ë„ê²€ê±°"] / crime_anal_gu["ê°•ë„ë°œìƒ"]

êµ¬ë³„
ê°•ë‚¨êµ¬     1.076923
ê°•ë™êµ¬     0.928571
ê°•ë¶êµ¬     0.800000
ê°•ì„œêµ¬     1.000000
ê´€ì•…êµ¬     0.833333
ê´‘ì§„êµ¬     0.545455
êµ¬ë¡œêµ¬     1.300000
ê¸ˆì²œêµ¬     1.000000
ë…¸ì›êµ¬     1.500000
ë„ë´‰êµ¬     1.000000
ë™ëŒ€ë¬¸êµ¬    1.200000
ë™ì‘êµ¬     1.000000
ë§ˆí¬êµ¬     1.750000
ì„œëŒ€ë¬¸êµ¬    0.800000
ì„œì´ˆêµ¬     0.769231
ì„±ë™êµ¬     1.666667
ì„±ë¶êµ¬     1.000000
ì†¡íŒŒêµ¬     0.800000
ì–‘ì²œêµ¬     1.000000
ì˜ë“±í¬êµ¬    0.736842
ìš©ì‚°êµ¬     1.111111
ì€í‰êµ¬     0.777778
ì¢…ë¡œêµ¬     0.750000
ì¤‘êµ¬      0.875000
ì¤‘ë‘êµ¬     1.000000
dtype: float64

- ë‹¤ìˆ˜ì˜ ì»¬ëŸ¼ì„ ë‹¤ë¥¸ ì»¬ëŸ¼ìœ¼ë¡œ ë‚˜ëˆ„ê¸°

In [28]:
crime_anal_gu[["ê°•ë„ê²€ê±°", "ì‚´ì¸ê²€ê±°"]].div(crime_anal_gu["ê°•ë„ë°œìƒ"], axis=0).head()

         ê°•ë„ê²€ê±°      ì‚´ì¸ê²€ê±°
êµ¬ë³„
ê°•ë‚¨êµ¬  1.076923  0.128205
ê°•ë™êµ¬  0.928571  0.357143
ê°•ë¶êµ¬  0.800000  1.200000
ê°•ì„œêµ¬  1.000000  1.000000
ê´€ì•…êµ¬  0.833333  0.583333

- ë‹¤ìˆ˜ì˜ ì»¬ëŸ¼ì„ ë‹¤ìˆ˜ì˜ ì»¬ëŸ¼ìœ¼ë¡œ ê°ê° ë‚˜ëˆ„ê¸°

In [29]:
num = ["ê°•ê°„ê²€ê±°", "ê°•ë„ê²€ê±°", "ì‚´ì¸ê²€ê±°", "ì ˆë„ê²€ê±°", "í­ë ¥ê²€ê±°"]
den = ["ê°•ê°„ë°œìƒ", "ê°•ë„ë°œìƒ", "ì‚´ì¸ë°œìƒ", "ì ˆë„ë°œìƒ", "í­ë ¥ë°œìƒ"]

crime_anal_gu[num].div(crime_anal_gu[den].values).head()

         ê°•ê°„ê²€ê±°      ê°•ë„ê²€ê±°      ì‚´ì¸ê²€ê±°      ì ˆë„ê²€ê±°      í­ë ¥ê²€ê±°
êµ¬ë³„
ê°•ë‚¨êµ¬  0.800388  1.076923  1.000000  0.534709  0.881309
ê°•ë™êµ¬  0.950000  0.928571  1.250000  0.514253  0.869960
ê°•ë¶êµ¬  0.732719  0.800000  0.857143  0.549918  0.893449
ê°•ì„œêµ¬  0.869091  1.000000  1.111111  0.548156  0.863920
ê´€ì•…êµ¬  0.819876  0.833333  1.166667  0.445554  0.836785

- "ê²€ê±°ìœ¨" ì»¬ëŸ¼ ìƒì„±

In [30]:
target = ["ê°•ê°„ê²€ê±°ìœ¨", "ê°•ë„ê²€ê±°ìœ¨", "ì‚´ì¸ê²€ê±°ìœ¨", "ì ˆë„ê²€ê±°ìœ¨", "í­ë ¥ê²€ê±°ìœ¨"]

crime_anal_gu[target] = crime_anal_gu[num].div(crime_anal_gu[den].values) * 100
crime_anal_gu.head()

,ê°•ê°„ê²€ê±°,ê°•ê°„ë°œìƒ,ê°•ë„ê²€ê±°,ê°•ë„ë°œìƒ,ì‚´ì¸ê²€ê±°,ì‚´ì¸ë°œìƒ,ì ˆë„ê²€ê±°,ì ˆë„ë°œìƒ,í­ë ¥ê²€ê±°,í­ë ¥ë°œìƒ,ê°•ê°„ê²€ê±°ìœ¨,ê°•ë„ê²€ê±°ìœ¨,ì‚´ì¸ê²€ê±°ìœ¨,ì ˆë„ê²€ê±°ìœ¨,í­ë ¥ê²€ê±°ìœ¨
êµ¬ë³„,,,,,,,,,,,,,,,
ê°•ë‚¨êµ¬,413.0,516.0,42.0,39.0,5.0,5.0,1918.0,3587.0,3527.0,4002.0,80.038760,107.692308,100.000000,53.470867,88.130935
ê°•ë™êµ¬,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,95.000000,92.857143,125.000000,51.425314,86.996047
ê°•ë¶êµ¬,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
ê°•ì„œêµ¬,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,86.909091,100.000000,111.111111,54.815574,86.392010
ê´€ì•…êµ¬,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,81.987578,83.333333,116.666667,44.555397,83.678516

- í•„ìš” ì—†ëŠ” ì»¬ëŸ¼ ì œê±°

In [31]:
crime_anal_gu.drop(["ê°•ê°„ê²€ê±°", "ê°•ë„ê²€ê±°", "ì‚´ì¸ê²€ê±°", "ì ˆë„ê²€ê±°", "í­ë ¥ê²€ê±°"], axis=1, inplace=True)
crime_anal_gu.head()

,ê°•ê°„ë°œìƒ,ê°•ë„ë°œìƒ,ì‚´ì¸ë°œìƒ,ì ˆë„ë°œìƒ,í­ë ¥ë°œìƒ,ê°•ê°„ê²€ê±°ìœ¨,ê°•ë„ê²€ê±°ìœ¨,ì‚´ì¸ê²€ê±°ìœ¨,ì ˆë„ê²€ê±°ìœ¨,í­ë ¥ê²€ê±°ìœ¨
êµ¬ë³„,,,,,,,,,,
ê°•ë‚¨êµ¬,516.0,39.0,5.0,3587.0,4002.0,80.038760,107.692308,100.000000,53.470867,88.130935
ê°•ë™êµ¬,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,125.000000,51.425314,86.996047
ê°•ë¶êµ¬,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
ê°•ì„œêµ¬,275.0,10.0,9.0,1952.0,3204.0,86.909091,100.000000,111.111111,54.815574,86.392010
ê´€ì•…êµ¬,322.0,12.0,6.0,2103.0,3235.0,81.987578,83.333333,116.666667,44.555397,83.678516

ğŸ‘† ê²€ê±°ìœ¨ ê°’ ì¤‘ 100ì´ ë„˜ëŠ” ê²ƒë“¤ì´ ìˆë‹¤.

- ê²€ê±°ìœ¨ 100 ì´ìƒì˜ ìˆ˜ì¹˜ëŠ” ê°•ì œë¡œ 100ì„ ë§Œë“¤ì–´ ì¤€ë‹¤.

In [32]:
crime_anal_gu[crime_anal_gu[target] > 100]

,ê°•ê°„ë°œìƒ,ê°•ë„ë°œìƒ,ì‚´ì¸ë°œìƒ,ì ˆë„ë°œìƒ,í­ë ¥ë°œìƒ,ê°•ê°„ê²€ê±°ìœ¨,ê°•ë„ê²€ê±°ìœ¨,ì‚´ì¸ê²€ê±°ìœ¨,ì ˆë„ê²€ê±°ìœ¨,í­ë ¥ê²€ê±°ìœ¨
êµ¬ë³„,,,,,,,,,,
ê°•ë‚¨êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,107.692308,NaN,NaN,NaN
ê°•ë™êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.000000,NaN,NaN
ê°•ë¶êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ê°•ì„œêµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111.111111,NaN,NaN
ê´€ì•…êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.666667,NaN,NaN
ê´‘ì§„êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
êµ¬ë¡œêµ¬,NaN,NaN,NaN,NaN,NaN,NaN,130.000000,NaN,NaN,NaN
ê¸ˆì²œêµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ë…¸ì›êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,150.000000,120.000000,NaN,NaN
ë„ë´‰êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ë™ëŒ€ë¬¸êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,120.000000,NaN,NaN,NaN
ë™ì‘êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ë§ˆí¬êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,175.000000,NaN,NaN,NaN
ì„œëŒ€ë¬¸êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116.666667,NaN,NaN
ì„œì´ˆêµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ì„±ë™êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,166.666667,125.000000,NaN,NaN
ì„±ë¶êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ì†¡íŒŒêµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ì–‘ì²œêµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ì˜ë“±í¬êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ìš©ì‚°êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,111.111111,NaN,NaN,NaN
ì€í‰êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ì¢…ë¡œêµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ì¤‘êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ì¤‘ë‘êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# 100ë³´ë‹¤ í° ìˆ«ì ì°¾ì•„ì„œ ë°”ê¾¸ê¸°

crime_anal_gu[crime_anal_gu[target] > 100] = 100
crime_anal_gu.head()

,ê°•ê°„ë°œìƒ,ê°•ë„ë°œìƒ,ì‚´ì¸ë°œìƒ,ì ˆë„ë°œìƒ,í­ë ¥ë°œìƒ,ê°•ê°„ê²€ê±°ìœ¨,ê°•ë„ê²€ê±°ìœ¨,ì‚´ì¸ê²€ê±°ìœ¨,ì ˆë„ê²€ê±°ìœ¨,í­ë ¥ê²€ê±°ìœ¨
êµ¬ë³„,,,,,,,,,,
ê°•ë‚¨êµ¬,516.0,39.0,5.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
ê°•ë™êµ¬,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,100.000000,51.425314,86.996047
ê°•ë¶êµ¬,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
ê°•ì„œêµ¬,275.0,10.0,9.0,1952.0,3204.0,86.909091,100.000000,100.000000,54.815574,86.392010
ê´€ì•…êµ¬,322.0,12.0,6.0,2103.0,3235.0,81.987578,83.333333,100.000000,44.555397,83.678516

#### ğŸ”° ì»¬ëŸ¼ëª… ë³€ê²½

In [34]:
crime_anal_gu.rename(
	columns={
		"ê°•ê°„ë°œìƒ": "ê°•ê°„",
		"ê°•ë„ë°œìƒ": "ê°•ë„",		
		"ì‚´ì¸ë°œìƒ": "ì‚´ì¸",		
		"ì ˆë„ë°œìƒ": "ì ˆë„",		
		"í­ë ¥ë°œìƒ": "í­ë ¥",		
	},
	inplace=True
)
crime_anal_gu.head()

,ê°•ê°„,ê°•ë„,ì‚´ì¸,ì ˆë„,í­ë ¥,ê°•ê°„ê²€ê±°ìœ¨,ê°•ë„ê²€ê±°ìœ¨,ì‚´ì¸ê²€ê±°ìœ¨,ì ˆë„ê²€ê±°ìœ¨,í­ë ¥ê²€ê±°ìœ¨
êµ¬ë³„,,,,,,,,,,
ê°•ë‚¨êµ¬,516.0,39.0,5.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
ê°•ë™êµ¬,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,100.000000,51.425314,86.996047
ê°•ë¶êµ¬,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
ê°•ì„œêµ¬,275.0,10.0,9.0,1952.0,3204.0,86.909091,100.000000,100.000000,54.815574,86.392010
ê´€ì•…êµ¬,322.0,12.0,6.0,2103.0,3235.0,81.987578,83.333333,100.000000,44.555397,83.678516

In [38]:
crime_anal_gu.to_csv("./result_data/04_crime_anal_gu.csv", encoding='utf-8')