# 1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

#### ğŸ”° ëª¨ë“ˆ ë¶ˆëŸ¬ì˜¤ê¸°

In [1]:
import pandas as pd

In [2]:
# ë§Œì•½ ìœ„ ì½”ë“œê°€ ì œëŒ€ë¡œ ì‹¤í–‰ë˜ì§€ ì•ŠëŠ”ë‹¤ë©´ ì—¬ê¸°ì„œ(jupyter notebook ë‚´ì—ì„œ) pipë¥¼ ì´ìš©í•´ íŒë‹¤ìŠ¤ë¥¼ ì„¤ì¹˜í•´ì¤€ë‹¤.
# !conda install -y pandas

-----

#### ğŸ”° .csv ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°: ì„œìš¸ì‹œ êµ¬ë³„ CCTV

- pathì—ì„œ ".."ì€ ìƒìœ„ í´ë”ë¡œ ê°€ë¼ëŠ” ì˜ë¯¸ì´ë‹¤.
- í•œê¸€ì´ ê¹¨ì ¸ì„œ ë‚˜ì˜¬ ê²½ìš° ë’¤ì— (..., `encoding='utf-8'`)ë¥¼ ë¶™ì—¬ì¤€ë‹¤.

In [3]:
CCTV_Seoul = pd.read_csv("../data/01. Seoul_CCTV.csv")

- head()ì˜ ê¸°ë³¸ê°’ì€ 5ì´ë‹¤. ë°ì´í„° ë‚´ ìƒìœ„ 5ê°œì˜ rows(idx[0]~[4])ë¥¼ ë°˜í™˜í•œë‹¤.

In [4]:
CCTV_Seoul.head()

   ê¸°ê´€ëª…    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
0  ê°•ë‚¨êµ¬  3238       1292    430    584    932
1  ê°•ë™êµ¬  1010        379     99    155    377
2  ê°•ë¶êµ¬   831        369    120    138    204
3  ê°•ì„œêµ¬   911        388    258    184     81
4  ê´€ì•…êµ¬  2109        846    260    390    613

In [5]:
CCTV_Seoul.head(2)

   ê¸°ê´€ëª…    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
0  ê°•ë‚¨êµ¬  3238       1292    430    584    932
1  ê°•ë™êµ¬  1010        379     99    155    377

- ë’¤ì—ì„œ 5ê°œë¥¼ ì½ì–´ì˜¤ë©´ ì „ì²´ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ì•Œ ìˆ˜ ìˆë‹¤.

In [6]:
CCTV_Seoul.tail()

    ê¸°ê´€ëª…    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
20  ìš©ì‚°êµ¬  2096       1368    218    112    398
21  ì€í‰êµ¬  2108       1138    224    278    468
22  ì¢…ë¡œêµ¬  1619        464    314    211    630
23   ì¤‘êµ¬  1023        413    190     72    348
24  ì¤‘ë‘êµ¬   916        509    121    177    109

#### ğŸ”° ì»¬ëŸ¼ëª… ë°”ê¾¸ê¸°

- columnì˜ ì´ë¦„ì„ ì¡°íšŒí•œë‹¤.

- ì„œìš¸ì‹œ êµ¬ì˜ ì´ë¦„ì„ Valueë¡œ ê°€ì§„ ì»¬ëŸ¼ì˜ ì´ë¦„ì„ 'ê¸°ê´€ëª…'ì—ì„œ 'êµ¬ë³„'ë¡œ ë°”ê¾¼ë‹¤.

In [7]:
CCTV_Seoul.columns # ì»¬ëŸ¼ëª…ì„ ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ë°˜í™˜í•œë‹¤.

Index(['ê¸°ê´€ëª…', 'ì†Œê³„', '2013ë…„ë„ ì´ì „', '2014ë…„', '2015ë…„', '2016ë…„'], dtype='object')

In [8]:
CCTV_Seoul.columns[0]

'ê¸°ê´€ëª…'

In [9]:
CCTV_Seoul.rename(columns={CCTV_Seoul.columns[0]: "êµ¬ë³„"})

      êµ¬ë³„    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
0    ê°•ë‚¨êµ¬  3238       1292    430    584    932
1    ê°•ë™êµ¬  1010        379     99    155    377
2    ê°•ë¶êµ¬   831        369    120    138    204
3    ê°•ì„œêµ¬   911        388    258    184     81
4    ê´€ì•…êµ¬  2109        846    260    390    613
5    ê´‘ì§„êµ¬   878        573     78     53    174
6    êµ¬ë¡œêµ¬  1884       1142    173    246    323
7    ê¸ˆì²œêµ¬  1348        674     51    269    354
8    ë…¸ì›êµ¬  1566        542     57    451    516
9    ë„ë´‰êµ¬   825        238    159     42    386
10  ë™ëŒ€ë¬¸êµ¬  1870       1070     23    198    579
11   ë™ì‘êµ¬  1302        544    341    103    314
12   ë§ˆí¬êµ¬   980        314    118    169    379
13  ì„œëŒ€ë¬¸êµ¬  1254        844     50     68    292
14   ì„œì´ˆêµ¬  2297       1406    157    336    398
15   ì„±ë™êµ¬  1327        730     91    241    265
16   ì„±ë¶êµ¬  1651       1009     78    360    204
17   ì†¡íŒŒêµ¬  1081        529     21     68    463
18   ì–‘ì²œêµ¬  2482       1843    142     30    467
19  ì˜ë“±í¬êµ¬  1277        495    214    195    373
20   ìš©ì‚°êµ¬  2096       1368    218    112    398
21   ì€í‰êµ¬  2108       1138    224    278    468
22   ì¢…ë¡œêµ¬  1619        464    314    211    630
23    ì¤‘êµ¬  1023        413    190     72    348
24   ì¤‘ë‘êµ¬   916        509    121    177    109

ğŸ’¡ ì»¬ëŸ¼ëª…ì´ ë°”ë€ ê²ƒì²˜ëŸ¼ ë³´ì´ì§€ë§Œ ì‹¤ì œ ë¶ˆëŸ¬ì˜¨ ì›ë³¸ ë°ì´í„°ì—ì„œëŠ” ë³€ê²½ë˜ì§€ ì•Šì•˜ë‹¤.
- ë‹¤ì‹œ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¤ë©´ ì»¬ëŸ¼[0]ëª…ì´ "ê¸°ê´€ëª…"ìœ¼ë¡œ ë‚˜íƒ€ë‚œë‹¤.

In [10]:
CCTV_Seoul.head()

   ê¸°ê´€ëª…    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
0  ê°•ë‚¨êµ¬  3238       1292    430    584    932
1  ê°•ë™êµ¬  1010        379     99    155    377
2  ê°•ë¶êµ¬   831        369    120    138    204
3  ê°•ì„œêµ¬   911        388    258    184     81
4  ê´€ì•…êµ¬  2109        846    260    390    613

ğŸ‘‰ ì´ë•Œ inplace paramì„ ì‚¬ìš©í•œë‹¤. (in place of = instead of ~ ëŒ€ì‹ ì—)

- `inplace=True` : ë¶ˆëŸ¬ì˜¨ ì›ë³¸ ë°ì´í„°ì— ë³€ê²½ ì‚¬í•­ì„ ë°˜ì˜í•œë‹¤.

In [11]:
CCTV_Seoul.rename(columns={"ê¸°ê´€ëª…": "êµ¬ë³„"}, inplace=True)
CCTV_Seoul.head()

    êµ¬ë³„    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
0  ê°•ë‚¨êµ¬  3238       1292    430    584    932
1  ê°•ë™êµ¬  1010        379     99    155    377
2  ê°•ë¶êµ¬   831        369    120    138    204
3  ê°•ì„œêµ¬   911        388    258    184     81
4  ê´€ì•…êµ¬  2109        846    260    390    613

#### ğŸ”° .csv ë°ì´í„° ì €ì¥

In [15]:
CCTV_Seoul.to_csv("./result_data/01_CCTV_result.csv", encoding='utf-8') # sep : str, default ','

-----

#### ğŸ”° .xls ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° : ì„œìš¸ì‹œ êµ¬ë³„ ì¸êµ¬(population)ìˆ˜

íŒë‹¤ìŠ¤ ê³µì‹ ë¬¸ì„œ í™œìš© : https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [12]:
popul_seoul = pd.read_excel("../data/01. Seoul_Population.xls")
popul_seoul.head()

,ê¸°ê°„,ìì¹˜êµ¬,ì„¸ëŒ€,ì¸êµ¬,ì¸êµ¬.1,ì¸êµ¬.2,ì¸êµ¬.3,ì¸êµ¬.4,ì¸êµ¬.5,ì¸êµ¬.6,ì¸êµ¬.7,ì¸êµ¬.8,ì„¸ëŒ€ë‹¹ì¸êµ¬,65ì„¸ì´ìƒê³ ë ¹ì
0,ê¸°ê°„,ìì¹˜êµ¬,ì„¸ëŒ€,í•©ê³„,í•©ê³„,í•©ê³„,í•œêµ­ì¸,í•œêµ­ì¸,í•œêµ­ì¸,ë“±ë¡ì™¸êµ­ì¸,ë“±ë¡ì™¸êµ­ì¸,ë“±ë¡ì™¸êµ­ì¸,ì„¸ëŒ€ë‹¹ì¸êµ¬,65ì„¸ì´ìƒê³ ë ¹ì
1,ê¸°ê°„,ìì¹˜êµ¬,ì„¸ëŒ€,ê³„,ë‚¨ì,ì—¬ì,ê³„,ë‚¨ì,ì—¬ì,ê³„,ë‚¨ì,ì—¬ì,ì„¸ëŒ€ë‹¹ì¸êµ¬,65ì„¸ì´ìƒê³ ë ¹ì
2,2017,í•©ê³„,4220082,10124579,4957857,5166722,9857426,4830206,5027220,267153,127651,139502,2.34,1365126
3,2017,ì¢…ë¡œêµ¬,73594,164257,80094,84163,154770,75967,78803,9487,4127,5360,2.1,26182
4,2017,ì¤‘êµ¬,60412,134593,66337,68256,125709,62253,63456,8884,4084,4800,2.08,21384

- ì¤‘ì²©ëœ 3ê°œì˜ ì»¬ëŸ¼ ì¤‘ ìƒìœ„ ë‘ ì—´ì€ í•„ìš”ì—†ìœ¼ë¯€ë¡œ ê°€ì ¸ì˜¬ ë•Œ ë‚ ë¦¬ê³  ë‘ë²ˆì§¸ ì¤„(header=2)ë¶€í„° ê°€ì ¸ì˜¨ë‹¤.
- ê·¸ë¦¬ê³  í•„ìš”í•œ ì»¬ëŸ¼ì´ 'ê³„'(excel ë‚´ì—ì„œ 'B', 'D', 'G', 'J', 'N') ë¶€ë¶„ë§Œ ë¶ˆëŸ¬ì˜¨ë‹¤.

In [13]:
popul_seoul = pd.read_excel(
	"../data/01. Seoul_Population.xls", header=2, usecols="B, D, G, J, N"
)
popul_seoul.head()

   ìì¹˜êµ¬         ê³„      ê³„.1     ê³„.2  65ì„¸ì´ìƒê³ ë ¹ì
0   í•©ê³„  10124579  9857426  267153   1365126
1  ì¢…ë¡œêµ¬    164257   154770    9487     26182
2   ì¤‘êµ¬    134593   125709    8884     21384
3  ìš©ì‚°êµ¬    244444   229161   15283     36882
4  ì„±ë™êµ¬    312711   304808    7903     41273

#### ğŸ”° ì»¬ëŸ¼ëª… ë³€ê²½

íŒë‹¤ìŠ¤ ê³µì‹ ë¬¸ì„œ ì°¸ê³  : [DataFrame.rename()](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html)

In [14]:
popul_seoul.rename(
	columns={
		popul_seoul.columns[0]: "êµ¬ë³„",
		popul_seoul.columns[1]: "ì¸êµ¬ìˆ˜",
		popul_seoul.columns[2]: "í•œêµ­ì¸",
		popul_seoul.columns[3]: "ì™¸êµ­ì¸",
		popul_seoul.columns[4]: "ê³ ë ¹ì"
	},
	inplace=True
)
popul_seoul.head()

    êµ¬ë³„       ì¸êµ¬ìˆ˜      í•œêµ­ì¸     ì™¸êµ­ì¸      ê³ ë ¹ì
0   í•©ê³„  10124579  9857426  267153  1365126
1  ì¢…ë¡œêµ¬    164257   154770    9487    26182
2   ì¤‘êµ¬    134593   125709    8884    21384
3  ìš©ì‚°êµ¬    244444   229161   15283    36882
4  ì„±ë™êµ¬    312711   304808    7903    41273

#### ğŸ”° .xlsx ë°ì´í„° ì €ì¥

In [17]:
popul_seoul.to_excel("./result_data/01_Popul_result.xlsx")

-----