# 1. CCTV ë°ì´í„° í›‘ì–´ë³´ê¸°

In [1]:
import pandas as pd

CCTV_Seoul = pd.read_csv("./result_data/01_CCTV_result.csv")

In [2]:
CCTV_Seoul.head()

   Unnamed: 0   êµ¬ë³„    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
0           0  ê°•ë‚¨êµ¬  3238       1292    430    584    932
1           1  ê°•ë™êµ¬  1010        379     99    155    377
2           2  ê°•ë¶êµ¬   831        369    120    138    204
3           3  ê°•ì„œêµ¬   911        388    258    184     81
4           4  ê´€ì•…êµ¬  2109        846    260    390    613

In [3]:
CCTV_Seoul.columns

Index(['Unnamed: 0', 'êµ¬ë³„', 'ì†Œê³„', '2013ë…„ë„ ì´ì „', '2014ë…„', '2015ë…„', '2016ë…„'], dtype='object')

In [4]:
del CCTV_Seoul['Unnamed: 0']
CCTV_Seoul.head()

    êµ¬ë³„    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
0  ê°•ë‚¨êµ¬  3238       1292    430    584    932
1  ê°•ë™êµ¬  1010        379     99    155    377
2  ê°•ë¶êµ¬   831        369    120    138    204
3  ê°•ì„œêµ¬   911        388    258    184     81
4  ê´€ì•…êµ¬  2109        846    260    390    613

In [7]:
CCTV_Seoul.tail()

     êµ¬ë³„    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
20  ìš©ì‚°êµ¬  2096       1368    218    112    398
21  ì€í‰êµ¬  2108       1138    224    278    468
22  ì¢…ë¡œêµ¬  1619        464    314    211    630
23   ì¤‘êµ¬  1023        413    190     72    348
24  ì¤‘ë‘êµ¬   916        509    121    177    109

ğŸ‘† ì´ 25ê°œì˜ ìë£Œê°€ ì¡´ì¬í•˜ëŠ” ê²ƒì„ ì•Œ ìˆ˜ ìˆë‹¤.

#### ğŸ”° ê°€ì¥ ë§ì€ CCTVë¥¼ ë³´ìœ í•œ êµ¬

In [8]:
CCTV_Seoul.sort_values(by='ì†Œê³„', ascending=False).head()

     êµ¬ë³„    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
0   ê°•ë‚¨êµ¬  3238       1292    430    584    932
18  ì–‘ì²œêµ¬  2482       1843    142     30    467
14  ì„œì´ˆêµ¬  2297       1406    157    336    398
4   ê´€ì•…êµ¬  2109        846    260    390    613
21  ì€í‰êµ¬  2108       1138    224    278    468

In [9]:
CCTV_Seoul.sort_values(by='ì†Œê³„').head()

     êµ¬ë³„   ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„
9   ë„ë´‰êµ¬  825        238    159     42    386
2   ê°•ë¶êµ¬  831        369    120    138    204
5   ê´‘ì§„êµ¬  878        573     78     53    174
3   ê°•ì„œêµ¬  911        388    258    184     81
24  ì¤‘ë‘êµ¬  916        509    121    177    109

#### ğŸ”° "ìµœê·¼ì¦ê°€ìœ¨" ì»¬ëŸ¼ ì¶”ê°€

- ì´ì „ì— ë³´ìœ í•œ CCTV ê°œìˆ˜ ëŒ€ë¹„ ìµœê·¼ 3ë…„(2014~2016)ê°„ CCTVë¥¼ ê°€ì¥ ë§ì´ ì„¤ì¹˜í•œ êµ¬ëŠ”?

In [11]:
CCTV_Seoul["ìµœê·¼ì¦ê°€ìœ¨"] = (
	(CCTV_Seoul["2014ë…„"] + CCTV_Seoul["2015ë…„"] + CCTV_Seoul["2016ë…„"]) / CCTV_Seoul["2013ë…„ë„ ì´ì „"] * 100
)

CCTV_Seoul.sort_values(by='ìµœê·¼ì¦ê°€ìœ¨', ascending=False).head()

     êµ¬ë³„    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„       ìµœê·¼ì¦ê°€ìœ¨
22  ì¢…ë¡œêµ¬  1619        464    314    211    630  248.922414
9   ë„ë´‰êµ¬   825        238    159     42    386  246.638655
12  ë§ˆí¬êµ¬   980        314    118    169    379  212.101911
8   ë…¸ì›êµ¬  1566        542     57    451    516  188.929889
1   ê°•ë™êµ¬  1010        379     99    155    377  166.490765

In [23]:
CCTV_Seoul.to_csv('./result_data/02_CCTV_result.csv', encoding='utf-8', index=False)

</br>

-----

</br>

# 2. ì¸êµ¬ ë°ì´í„° í›‘ì–´ë³´ê¸°

In [5]:
popul_seoul = pd.read_excel("./result_data/01_Popul_result.xlsx")
popul_seoul.head()

   Unnamed: 0   êµ¬ë³„       ì¸êµ¬ìˆ˜      í•œêµ­ì¸     ì™¸êµ­ì¸      ê³ ë ¹ì
0           0   í•©ê³„  10124579  9857426  267153  1365126
1           1  ì¢…ë¡œêµ¬    164257   154770    9487    26182
2           2   ì¤‘êµ¬    134593   125709    8884    21384
3           3  ìš©ì‚°êµ¬    244444   229161   15283    36882
4           4  ì„±ë™êµ¬    312711   304808    7903    41273

In [6]:
del popul_seoul['Unnamed: 0']
popul_seoul.head()

    êµ¬ë³„       ì¸êµ¬ìˆ˜      í•œêµ­ì¸     ì™¸êµ­ì¸      ê³ ë ¹ì
0   í•©ê³„  10124579  9857426  267153  1365126
1  ì¢…ë¡œêµ¬    164257   154770    9487    26182
2   ì¤‘êµ¬    134593   125709    8884    21384
3  ìš©ì‚°êµ¬    244444   229161   15283    36882
4  ì„±ë™êµ¬    312711   304808    7903    41273

In [12]:
popul_seoul.tail()

     êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì
21  ê´€ì•…êµ¬  520929  503297  17632  70046
22  ì„œì´ˆêµ¬  445401  441102   4299  53205
23  ê°•ë‚¨êµ¬  561052  556164   4888  65060
24  ì†¡íŒŒêµ¬  671173  664496   6677  76582
25  ê°•ë™êµ¬  440359  436223   4136  56161

ğŸ‘† CCTV ìë£Œì˜ ê°œìˆ˜(25)ì™€ ë§ì¶°ì£¼ê¸° ìœ„í•´ [0]ë²ˆ "í•©ê³„" Rowë¥¼ ì‚­ì œí•œë‹¤.

#### ğŸ”° ì²« í–‰(row[0])ì˜ 'í•©ê³„' ë°ì´í„° ì‚­ì œ

- 'í•©ê³„' ë°ì´í„°ëŠ” í•„ìš” ì—†ìœ¼ë¯€ë¡œ í–‰ì„ ì§€ìš°ëŠ” ëª…ë ¹ì¸ drop() ë©”ì„œë“œë¥¼ ì‚¬ìš©í•´ ì§€ìš´ë‹¤.

In [13]:
popul_seoul.drop([0], inplace=True) # axis=0ì€ Defaultê°’ì´ë¯€ë¡œ ëª…ì‹œí•˜ì§€ ì•ŠìŒ.
popul_seoul.head()

    êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì
1  ì¢…ë¡œêµ¬  164257  154770   9487  26182
2   ì¤‘êµ¬  134593  125709   8884  21384
3  ìš©ì‚°êµ¬  244444  229161  15283  36882
4  ì„±ë™êµ¬  312711  304808   7903  41273
5  ê´‘ì§„êµ¬  372298  357703  14595  43953

#### ğŸ”° unique ì¡°ì‚¬

- ë°ì´í„°ê°€ ë§ì•„ì§€ë©´ unique ì¡°ì‚¬ë¥¼ í†µí•´ ë°ì´í„°ë¥¼ ëˆˆìœ¼ë¡œ ì´ˆë°˜ ê²€ì¦í•œë‹¤.

- unique() : ì¤‘ë³µê°’ì„ ì œê±°í•˜ê³  ê³ ìœ í•œ ê°’ì— ë¬´ì—‡ì´ ìˆëŠ”ì§€ ë¦¬ìŠ¤íŠ¸ë¡œ ë°˜í™˜í•´ ì¤€ë‹¤.

In [14]:
popul_seoul["êµ¬ë³„"].unique()

array(['ì¢…ë¡œêµ¬', 'ì¤‘êµ¬', 'ìš©ì‚°êµ¬', 'ì„±ë™êµ¬', 'ê´‘ì§„êµ¬', 'ë™ëŒ€ë¬¸êµ¬', 'ì¤‘ë‘êµ¬', 'ì„±ë¶êµ¬', 'ê°•ë¶êµ¬',
       'ë„ë´‰êµ¬', 'ë…¸ì›êµ¬', 'ì€í‰êµ¬', 'ì„œëŒ€ë¬¸êµ¬', 'ë§ˆí¬êµ¬', 'ì–‘ì²œêµ¬', 'ê°•ì„œêµ¬', 'êµ¬ë¡œêµ¬', 'ê¸ˆì²œêµ¬',
       'ì˜ë“±í¬êµ¬', 'ë™ì‘êµ¬', 'ê´€ì•…êµ¬', 'ì„œì´ˆêµ¬', 'ê°•ë‚¨êµ¬', 'ì†¡íŒŒêµ¬', 'ê°•ë™êµ¬'], dtype=object)

In [15]:
len(popul_seoul["êµ¬ë³„"].unique())

25

#### ğŸ”° ì™¸êµ­ì¸ê³¼ ê³ ë ¹ì ë¹„ìœ¨ ì»¬ëŸ¼ ì¶”ê°€

- ë°ì´í„° í–‰ 25ê°œë¥¼ ì»¬ëŸ¼ ì—°ì‚°ìœ¼ë¡œ í•œë²ˆì— ì—°ì‚°ì´ ê°€ëŠ¥í•˜ë‹¤.

In [16]:
popul_seoul["ì™¸êµ­ì¸ë¹„ìœ¨"] = popul_seoul["ì™¸êµ­ì¸"] / popul_seoul["ì¸êµ¬ìˆ˜"] * 100
popul_seoul["ê³ ë ¹ìë¹„ìœ¨"] = popul_seoul["ê³ ë ¹ì"] / popul_seoul["ì¸êµ¬ìˆ˜"] * 100
popul_seoul.head()

    êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
1  ì¢…ë¡œêµ¬  164257  154770   9487  26182  5.775705  15.939656
2   ì¤‘êµ¬  134593  125709   8884  21384  6.600640  15.887899
3  ìš©ì‚°êµ¬  244444  229161  15283  36882  6.252148  15.088118
4  ì„±ë™êµ¬  312711  304808   7903  41273  2.527254  13.198448
5  ê´‘ì§„êµ¬  372298  357703  14595  43953  3.920247  11.805865

#### ğŸ”° ì •ë ¬ë¡œ ì •ë³´ í™•ì¸

- ì¸êµ¬ìˆ˜ê°€ ê°€ì¥ ë§ì€ êµ¬ëŠ”?

In [18]:
popul_seoul.sort_values(['ì¸êµ¬ìˆ˜'], ascending=False).head()

     êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
24  ì†¡íŒŒêµ¬  671173  664496   6677  76582  0.994825  11.410173
16  ê°•ì„œêµ¬  608255  601691   6564  76032  1.079153  12.500021
23  ê°•ë‚¨êµ¬  561052  556164   4888  65060  0.871220  11.596073
11  ë…¸ì›êµ¬  558075  554403   3672  74243  0.657976  13.303409
21  ê´€ì•…êµ¬  520929  503297  17632  70046  3.384722  13.446362

- ì™¸êµ­ì¸ì´ ë§ì€ êµ¬ëŠ”?

In [19]:
popul_seoul.sort_values(['ì™¸êµ­ì¸'], ascending=False).head()

      êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
19  ì˜ë“±í¬êµ¬  402024  368550  33474  53981  8.326369  13.427308
17   êµ¬ë¡œêµ¬  441559  410742  30817  58794  6.979135  13.315095
18   ê¸ˆì²œêµ¬  253491  235154  18337  34170  7.233787  13.479769
21   ê´€ì•…êµ¬  520929  503297  17632  70046  3.384722  13.446362
6   ë™ëŒ€ë¬¸êµ¬  366011  350647  15364  55718  4.197688  15.223040

- ì™¸êµ­ì¸ ë¹„ìœ¨ì´ ë†’ì€ êµ¬ëŠ”?

In [20]:
popul_seoul.sort_values(['ì™¸êµ­ì¸ë¹„ìœ¨'], ascending=False).head()

      êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
19  ì˜ë“±í¬êµ¬  402024  368550  33474  53981  8.326369  13.427308
18   ê¸ˆì²œêµ¬  253491  235154  18337  34170  7.233787  13.479769
17   êµ¬ë¡œêµ¬  441559  410742  30817  58794  6.979135  13.315095
2     ì¤‘êµ¬  134593  125709   8884  21384  6.600640  15.887899
3    ìš©ì‚°êµ¬  244444  229161  15283  36882  6.252148  15.088118

- ê³ ë ¹ìê°€ ë§ì€ êµ¬ëŠ”?

In [21]:
popul_seoul.sort_values(['ê³ ë ¹ì'], ascending=False).head()

     êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
24  ì†¡íŒŒêµ¬  671173  664496   6677  76582  0.994825  11.410173
16  ê°•ì„œêµ¬  608255  601691   6564  76032  1.079153  12.500021
12  ì€í‰êµ¬  491202  486794   4408  74559  0.897390  15.178888
11  ë…¸ì›êµ¬  558075  554403   3672  74243  0.657976  13.303409
21  ê´€ì•…êµ¬  520929  503297  17632  70046  3.384722  13.446362

- ê³ ë ¹ì ë¹„ìœ¨ì´ ë†’ì€ êµ¬ëŠ”?

In [22]:
popul_seoul.sort_values(['ê³ ë ¹ìë¹„ìœ¨'], ascending=False).head()

      êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
9    ê°•ë¶êµ¬  328002  324479   3523  56530  1.074079  17.234651
1    ì¢…ë¡œêµ¬  164257  154770   9487  26182  5.775705  15.939656
2     ì¤‘êµ¬  134593  125709   8884  21384  6.600640  15.887899
10   ë„ë´‰êµ¬  346234  344166   2068  53488  0.597284  15.448512
6   ë™ëŒ€ë¬¸êµ¬  366011  350647  15364  55718  4.197688  15.223040

In [24]:
popul_seoul.to_excel("./result_data/02_Popul_result.xlsx", index=False)