# CCTV & Ïù∏Íµ¨ Îç∞Ïù¥ÌÑ∞ Ìï©ÏπòÍ∏∞

In [4]:
import pandas as pd

CCTV_Seoul = pd.read_csv("./result_data/02_CCTV_result.csv")
popul_seoul = pd.read_excel("./result_data/02_Popul_result.xlsx")

In [5]:
CCTV_Seoul.head(1)

    Íµ¨Î≥Ñ    ÏÜåÍ≥Ñ  2013ÎÖÑÎèÑ Ïù¥Ï†Ñ  2014ÎÖÑ  2015ÎÖÑ  2016ÎÖÑ       ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®
0  Í∞ïÎÇ®Íµ¨  3238       1292    430    584    932  150.619195

In [6]:
popul_seoul.head(1)

    Íµ¨Î≥Ñ     Ïù∏Íµ¨Ïàò     ÌïúÍµ≠Ïù∏   Ïô∏Íµ≠Ïù∏    Í≥†Î†πÏûê     Ïô∏Íµ≠Ïù∏ÎπÑÏú®      Í≥†Î†πÏûêÎπÑÏú®
0  Ï¢ÖÎ°úÍµ¨  164257  154770  9487  26182  5.775705  15.939656

#### üî∞ Îëê Îç∞Ïù¥ÌÑ∞ Î≥ëÌï©

In [8]:
merge_data = pd.merge(CCTV_Seoul, popul_seoul, on="Íµ¨Î≥Ñ")
merge_data.head()

,Íµ¨Î≥Ñ,ÏÜåÍ≥Ñ,2013ÎÖÑÎèÑ Ïù¥Ï†Ñ,2014ÎÖÑ,2015ÎÖÑ,2016ÎÖÑ,ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Ïô∏Íµ≠Ïù∏ÎπÑÏú®,Í≥†Î†πÏûêÎπÑÏú®
0,Í∞ïÎÇ®Íµ¨,3238,1292,430,584,932,150.619195,561052,556164,4888,65060,0.871220,11.596073
1,Í∞ïÎèôÍµ¨,1010,379,99,155,377,166.490765,440359,436223,4136,56161,0.939234,12.753458
2,Í∞ïÎ∂ÅÍµ¨,831,369,120,138,204,125.203252,328002,324479,3523,56530,1.074079,17.234651
3,Í∞ïÏÑúÍµ¨,911,388,258,184,81,134.793814,608255,601691,6564,76032,1.079153,12.500021
4,Í¥ÄÏïÖÍµ¨,2109,846,260,390,613,149.290780,520929,503297,17632,70046,3.384722,13.446362

#### üî∞ ÌïÑÏöî ÏóÜÎäî Ïó∞ÎèÑÎ≥Ñ Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº ÏÇ≠Ï†ú

- del
- drop()

In [9]:
del merge_data["2013ÎÖÑÎèÑ Ïù¥Ï†Ñ"]
del merge_data["2014ÎÖÑ"]
merge_data.head(3)

,Íµ¨Î≥Ñ,ÏÜåÍ≥Ñ,2015ÎÖÑ,2016ÎÖÑ,ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Ïô∏Íµ≠Ïù∏ÎπÑÏú®,Í≥†Î†πÏûêÎπÑÏú®
0,Í∞ïÎÇ®Íµ¨,3238,584,932,150.619195,561052,556164,4888,65060,0.871220,11.596073
1,Í∞ïÎèôÍµ¨,1010,155,377,166.490765,440359,436223,4136,56161,0.939234,12.753458
2,Í∞ïÎ∂ÅÍµ¨,831,138,204,125.203252,328002,324479,3523,56530,1.074079,17.234651

In [10]:
merge_data.drop(["2015ÎÖÑ", "2016ÎÖÑ"], axis=1, inplace=True)
merge_data.head()

    Íµ¨Î≥Ñ    ÏÜåÍ≥Ñ       ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®     Ïù∏Íµ¨Ïàò     ÌïúÍµ≠Ïù∏    Ïô∏Íµ≠Ïù∏    Í≥†Î†πÏûê     Ïô∏Íµ≠Ïù∏ÎπÑÏú®      Í≥†Î†πÏûêÎπÑÏú®
0  Í∞ïÎÇ®Íµ¨  3238  150.619195  561052  556164   4888  65060  0.871220  11.596073
1  Í∞ïÎèôÍµ¨  1010  166.490765  440359  436223   4136  56161  0.939234  12.753458
2  Í∞ïÎ∂ÅÍµ¨   831  125.203252  328002  324479   3523  56530  1.074079  17.234651
3  Í∞ïÏÑúÍµ¨   911  134.793814  608255  601691   6564  76032  1.079153  12.500021
4  Í¥ÄÏïÖÍµ¨  2109  149.290780  520929  503297  17632  70046  3.384722  13.446362

#### üî∞ Index ÏßÄÏ†ï

- ÏãúÍ∞ÅÌôî ÏûëÏóÖÏùÑ ÏúÑÌï¥ Ïù∏Îç±Ïä§Î•º Î≥ÄÍ≤ΩÌïúÎã§.
- Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌïòÎ†§Î©¥ Ï§ëÎ≥µÎêòÎäî Í∞íÏù¥ ÏóÜÏñ¥Ïïº ÌïúÎã§.
- Ïù∏Îç±Ïä§Î•º Ïû¨Ï†ïÏùò ÌïòÎäî Î©îÏÑúÎìúÎäî `set_index()`Ïù¥Îã§.
- `set_index(__column)`Îäî ÏÑ†ÌÉùÌïú Ïª¨ÎüºÏùÑ DataFrameÏùò Ïù∏Îç±Ïä§Î°ú ÏßÄÏ†ïÌïúÎã§.

In [11]:
merge_data.set_index("Íµ¨Î≥Ñ", inplace=True)
merge_data.head()

       ÏÜåÍ≥Ñ       ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®     Ïù∏Íµ¨Ïàò     ÌïúÍµ≠Ïù∏    Ïô∏Íµ≠Ïù∏    Í≥†Î†πÏûê     Ïô∏Íµ≠Ïù∏ÎπÑÏú®      Í≥†Î†πÏûêÎπÑÏú®
Íµ¨Î≥Ñ
Í∞ïÎÇ®Íµ¨  3238  150.619195  561052  556164   4888  65060  0.871220  11.596073
Í∞ïÎèôÍµ¨  1010  166.490765  440359  436223   4136  56161  0.939234  12.753458
Í∞ïÎ∂ÅÍµ¨   831  125.203252  328002  324479   3523  56530  1.074079  17.234651
Í∞ïÏÑúÍµ¨   911  134.793814  608255  601691   6564  76032  1.079153  12.500021
Í¥ÄÏïÖÍµ¨  2109  149.290780  520929  503297  17632  70046  3.384722  13.446362

#### üî∞ ÏÉÅÍ¥ÄÍ≥ÑÏàò 

- `corr()`
- correlationÏùò ÏïΩÏûêÏù¥Îã§.

- Îç∞Ïù¥ÌÑ∞Ïùò Í¥ÄÍ≥ÑÎ•º Ï∞æÏùÑ Îïå, ÏµúÏÜåÌïúÏùò Í∑ºÍ±∞Í∞Ä ÏûàÏñ¥Ïïº Ìï¥Îãπ Îç∞Ïù¥ÌÑ∞Î•º ÎπÑÍµêÌïòÎäî ÏùòÎØ∏Í∞Ä ÏûàÎã§.
- ÏÉÅÍ¥ÄÍ≥ÑÏàòÍ∞Ä 0.2 Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Î•º ÎπÑÍµêÌïòÎäî Í≤ÉÏùÄ ÏùòÎØ∏Í∞Ä ÏûàÎã§.
- ÏÉÅÍ¥ÄÍ≥ÑÏàò Ïó∞ÏÉÅÏùÑ ÏúÑÌï¥ÏÑúÎäî intÎÇò float ÏûêÎ£åÌòïÏù¥Ïñ¥Ïïº ÌïúÎã§.
- valueÍ∞Ä objectÏóê Ìï¥ÎãπÌïòÎäî stringÏùº Í≤ΩÏö∞ ÏÉÅÍ¥ÄÍ≥ÑÏàò Ïó∞ÏÇ∞ÏùÄ Î∂àÍ∞ÄÎä•ÌïòÎã§.

In [12]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, Í∞ïÎÇ®Íµ¨ to Ï§ëÎûëÍµ¨
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ÏÜåÍ≥Ñ      25 non-null     int64
 1   ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®   25 non-null     float64
 2   Ïù∏Íµ¨Ïàò     25 non-null     int64
 3   ÌïúÍµ≠Ïù∏     25 non-null     int64
 4   Ïô∏Íµ≠Ïù∏     25 non-null     int64
 5   Í≥†Î†πÏûê     25 non-null     int64
 6   Ïô∏Íµ≠Ïù∏ÎπÑÏú®   25 non-null     float64
 7   Í≥†Î†πÏûêÎπÑÏú®   25 non-null     float64
dtypes: float64(3), int64(5)
memory usage: 1.8+ KB

In [13]:
merge_data.corr()

,ÏÜåÍ≥Ñ,ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Ïô∏Íµ≠Ïù∏ÎπÑÏú®,Í≥†Î†πÏûêÎπÑÏú®
ÏÜåÍ≥Ñ,1.000000,-0.264378,0.232555,0.227852,0.030421,0.163905,-0.045956,-0.267841
ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®,-0.264378,1.000000,-0.097165,-0.086341,-0.156421,-0.072251,-0.047102,0.190396
Ïù∏Íµ¨Ïàò,0.232555,-0.097165,1.000000,0.998151,-0.167243,0.936737,-0.601076,-0.637414
ÌïúÍµ≠Ïù∏,0.227852,-0.086341,0.998151,1.000000,-0.226853,0.936155,-0.645463,-0.628360
Ïô∏Íµ≠Ïù∏,0.030421,-0.156421,-0.167243,-0.226853,1.000000,-0.175318,0.838612,-0.021147
Í≥†Î†πÏûê,0.163905,-0.072251,0.936737,0.936155,-0.175318,1.000000,-0.620300,-0.348840
Ïô∏Íµ≠Ïù∏ÎπÑÏú®,-0.045956,-0.047102,-0.601076,-0.645463,0.838612,-0.620300,1.000000,0.242816
Í≥†Î†πÏûêÎπÑÏú®,-0.267841,0.190396,-0.637414,-0.628360,-0.021147,-0.348840,0.242816,1.000000

- CCTV Ï†ÑÏ≤¥ Ïàò(ÏÜåÍ≥Ñ)ÏôÄ Í∞ÄÏû• ÏÉÅÍ¥ÄÍ¥ÄÍ≥ÑÍ∞Ä ÏûàÎäî Îç∞Ïù¥ÌÑ∞Îäî "Ïù∏Íµ¨Ïàò"(0.232555)Ïù¥Îã§.

- Ïù∏Íµ¨ÎåÄÎπÑ CCTV ÎπÑÏú®ÏùÑ ÏÉàÎ°úÏö¥ Ïª¨ÎüºÏúºÎ°ú ÎßåÎì†Îã§.

In [14]:
merge_data["CCTVÎπÑÏú®"] = merge_data["ÏÜåÍ≥Ñ"] / merge_data["Ïù∏Íµ¨Ïàò"] * 100
merge_data.head()

,ÏÜåÍ≥Ñ,ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Ïô∏Íµ≠Ïù∏ÎπÑÏú®,Í≥†Î†πÏûêÎπÑÏú®,CCTVÎπÑÏú®
Íµ¨Î≥Ñ,,,,,,,,,
Í∞ïÎÇ®Íµ¨,3238,150.619195,561052,556164,4888,65060,0.871220,11.596073,0.577130
Í∞ïÎèôÍµ¨,1010,166.490765,440359,436223,4136,56161,0.939234,12.753458,0.229358
Í∞ïÎ∂ÅÍµ¨,831,125.203252,328002,324479,3523,56530,1.074079,17.234651,0.253352
Í∞ïÏÑúÍµ¨,911,134.793814,608255,601691,6564,76032,1.079153,12.500021,0.149773
Í¥ÄÏïÖÍµ¨,2109,149.290780,520929,503297,17632,70046,3.384722,13.446362,0.404854

- Ïù∏Íµ¨ÎåÄÎπÑ CCTV ÎπÑÏú®Ïù¥ ÎÜíÏùÄ Íµ¨Îäî?

In [15]:
merge_data.sort_values(by="CCTVÎπÑÏú®", ascending=False).head()

,ÏÜåÍ≥Ñ,ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Ïô∏Íµ≠Ïù∏ÎπÑÏú®,Í≥†Î†πÏûêÎπÑÏú®,CCTVÎπÑÏú®
Íµ¨Î≥Ñ,,,,,,,,,
Ï¢ÖÎ°úÍµ¨,1619,248.922414,164257,154770,9487,26182,5.775705,15.939656,0.985651
Ïö©ÏÇ∞Íµ¨,2096,53.216374,244444,229161,15283,36882,6.252148,15.088118,0.857456
Ï§ëÍµ¨,1023,147.699758,134593,125709,8884,21384,6.600640,15.887899,0.760069
Í∞ïÎÇ®Íµ¨,3238,150.619195,561052,556164,4888,65060,0.871220,11.596073,0.577130
Í∏àÏ≤úÍµ¨,1348,100.000000,253491,235154,18337,34170,7.233787,13.479769,0.531774

- Ïù∏Íµ¨ÎåÄÎπÑ CCTV ÎπÑÏú®Ïù¥ ÎÇÆÏùÄ Íµ¨Îäî?

In [16]:
merge_data.sort_values(["CCTVÎπÑÏú®"]).head()

,ÏÜåÍ≥Ñ,ÏµúÍ∑ºÏ¶ùÍ∞ÄÏú®,Ïù∏Íµ¨Ïàò,ÌïúÍµ≠Ïù∏,Ïô∏Íµ≠Ïù∏,Í≥†Î†πÏûê,Ïô∏Íµ≠Ïù∏ÎπÑÏú®,Í≥†Î†πÏûêÎπÑÏú®,CCTVÎπÑÏú®
Íµ¨Î≥Ñ,,,,,,,,,
Í∞ïÏÑúÍµ¨,911,134.793814,608255,601691,6564,76032,1.079153,12.500021,0.149773
ÏÜ°ÌååÍµ¨,1081,104.347826,671173,664496,6677,76582,0.994825,11.410173,0.161061
Ï§ëÎûëÍµ¨,916,79.960707,412780,408226,4554,59262,1.103251,14.356800,0.221910
Í∞ïÎèôÍµ¨,1010,166.490765,440359,436223,4136,56161,0.939234,12.753458,0.229358
Í¥ëÏßÑÍµ¨,878,53.228621,372298,357703,14595,43953,3.920247,11.805865,0.235833

In [18]:
merge_data.to_excel("./result_data/03_merge_data_result.xlsx")