# CCTV & ì¸êµ¬ ë°ì´í„° í•©ì¹˜ê¸°

In [4]:
import pandas as pd

CCTV_Seoul = pd.read_csv("./result_data/02_CCTV_result.csv")
popul_seoul = pd.read_excel("./result_data/02_Popul_result.xlsx")

In [5]:
CCTV_Seoul.head(1)

    êµ¬ë³„    ì†Œê³„  2013ë…„ë„ ì´ì „  2014ë…„  2015ë…„  2016ë…„       ìµœê·¼ì¦ê°€ìœ¨
0  ê°•ë‚¨êµ¬  3238       1292    430    584    932  150.619195

In [6]:
popul_seoul.head(1)

    êµ¬ë³„     ì¸êµ¬ìˆ˜     í•œêµ­ì¸   ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
0  ì¢…ë¡œêµ¬  164257  154770  9487  26182  5.775705  15.939656

#### ğŸ”° ë‘ ë°ì´í„° ë³‘í•©

In [8]:
merge_data = pd.merge(CCTV_Seoul, popul_seoul, on="êµ¬ë³„")
merge_data.head()

,êµ¬ë³„,ì†Œê³„,2013ë…„ë„ ì´ì „,2014ë…„,2015ë…„,2016ë…„,ìµœê·¼ì¦ê°€ìœ¨,ì¸êµ¬ìˆ˜,í•œêµ­ì¸,ì™¸êµ­ì¸,ê³ ë ¹ì,ì™¸êµ­ì¸ë¹„ìœ¨,ê³ ë ¹ìë¹„ìœ¨
0,ê°•ë‚¨êµ¬,3238,1292,430,584,932,150.619195,561052,556164,4888,65060,0.871220,11.596073
1,ê°•ë™êµ¬,1010,379,99,155,377,166.490765,440359,436223,4136,56161,0.939234,12.753458
2,ê°•ë¶êµ¬,831,369,120,138,204,125.203252,328002,324479,3523,56530,1.074079,17.234651
3,ê°•ì„œêµ¬,911,388,258,184,81,134.793814,608255,601691,6564,76032,1.079153,12.500021
4,ê´€ì•…êµ¬,2109,846,260,390,613,149.290780,520929,503297,17632,70046,3.384722,13.446362

#### ğŸ”° í•„ìš” ì—†ëŠ” ì—°ë„ë³„ ë°ì´í„° ì»¬ëŸ¼ ì‚­ì œ

- del
- drop()

In [9]:
del merge_data["2013ë…„ë„ ì´ì „"]
del merge_data["2014ë…„"]
merge_data.head(3)

,êµ¬ë³„,ì†Œê³„,2015ë…„,2016ë…„,ìµœê·¼ì¦ê°€ìœ¨,ì¸êµ¬ìˆ˜,í•œêµ­ì¸,ì™¸êµ­ì¸,ê³ ë ¹ì,ì™¸êµ­ì¸ë¹„ìœ¨,ê³ ë ¹ìë¹„ìœ¨
0,ê°•ë‚¨êµ¬,3238,584,932,150.619195,561052,556164,4888,65060,0.871220,11.596073
1,ê°•ë™êµ¬,1010,155,377,166.490765,440359,436223,4136,56161,0.939234,12.753458
2,ê°•ë¶êµ¬,831,138,204,125.203252,328002,324479,3523,56530,1.074079,17.234651

In [10]:
merge_data.drop(["2015ë…„", "2016ë…„"], axis=1, inplace=True)
merge_data.head()

    êµ¬ë³„    ì†Œê³„       ìµœê·¼ì¦ê°€ìœ¨     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
0  ê°•ë‚¨êµ¬  3238  150.619195  561052  556164   4888  65060  0.871220  11.596073
1  ê°•ë™êµ¬  1010  166.490765  440359  436223   4136  56161  0.939234  12.753458
2  ê°•ë¶êµ¬   831  125.203252  328002  324479   3523  56530  1.074079  17.234651
3  ê°•ì„œêµ¬   911  134.793814  608255  601691   6564  76032  1.079153  12.500021
4  ê´€ì•…êµ¬  2109  149.290780  520929  503297  17632  70046  3.384722  13.446362

#### ğŸ”° Index ì§€ì •

- ì‹œê°í™” ì‘ì—…ì„ ìœ„í•´ ì¸ë±ìŠ¤ë¥¼ ë³€ê²½í•œë‹¤.
- ì¸ë±ìŠ¤ë¡œ ì§€ì •í•˜ë ¤ë©´ ì¤‘ë³µë˜ëŠ” ê°’ì´ ì—†ì–´ì•¼ í•œë‹¤.
- ì¸ë±ìŠ¤ë¥¼ ì¬ì •ì˜ í•˜ëŠ” ë©”ì„œë“œëŠ” `set_index()`ì´ë‹¤.
- `set_index(__column)`ëŠ” ì„ íƒí•œ ì»¬ëŸ¼ì„ DataFrameì˜ ì¸ë±ìŠ¤ë¡œ ì§€ì •í•œë‹¤.

In [11]:
merge_data.set_index("êµ¬ë³„", inplace=True)
merge_data.head()

       ì†Œê³„       ìµœê·¼ì¦ê°€ìœ¨     ì¸êµ¬ìˆ˜     í•œêµ­ì¸    ì™¸êµ­ì¸    ê³ ë ¹ì     ì™¸êµ­ì¸ë¹„ìœ¨      ê³ ë ¹ìë¹„ìœ¨
êµ¬ë³„
ê°•ë‚¨êµ¬  3238  150.619195  561052  556164   4888  65060  0.871220  11.596073
ê°•ë™êµ¬  1010  166.490765  440359  436223   4136  56161  0.939234  12.753458
ê°•ë¶êµ¬   831  125.203252  328002  324479   3523  56530  1.074079  17.234651
ê°•ì„œêµ¬   911  134.793814  608255  601691   6564  76032  1.079153  12.500021
ê´€ì•…êµ¬  2109  149.290780  520929  503297  17632  70046  3.384722  13.446362

#### ğŸ”° ìƒê´€ê³„ìˆ˜ 

- `corr()`
- correlationì˜ ì•½ìì´ë‹¤.

- ë°ì´í„°ì˜ ê´€ê³„ë¥¼ ì°¾ì„ ë•Œ, ìµœì†Œí•œì˜ ê·¼ê±°ê°€ ìˆì–´ì•¼ í•´ë‹¹ ë°ì´í„°ë¥¼ ë¹„êµí•˜ëŠ” ì˜ë¯¸ê°€ ìˆë‹¤.
- ìƒê´€ê³„ìˆ˜ê°€ 0.2 ì´ìƒì¸ ë°ì´í„°ë¥¼ ë¹„êµí•˜ëŠ” ê²ƒì€ ì˜ë¯¸ê°€ ìˆë‹¤.
- ìƒê´€ê³„ìˆ˜ ì—°ìƒì„ ìœ„í•´ì„œëŠ” intë‚˜ float ìë£Œí˜•ì´ì–´ì•¼ í•œë‹¤.
- valueê°€ objectì— í•´ë‹¹í•˜ëŠ” stringì¼ ê²½ìš° ìƒê´€ê³„ìˆ˜ ì—°ì‚°ì€ ë¶ˆê°€ëŠ¥í•˜ë‹¤.

In [12]:
merge_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25 entries, ê°•ë‚¨êµ¬ to ì¤‘ë‘êµ¬
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì†Œê³„      25 non-null     int64
 1   ìµœê·¼ì¦ê°€ìœ¨   25 non-null     float64
 2   ì¸êµ¬ìˆ˜     25 non-null     int64
 3   í•œêµ­ì¸     25 non-null     int64
 4   ì™¸êµ­ì¸     25 non-null     int64
 5   ê³ ë ¹ì     25 non-null     int64
 6   ì™¸êµ­ì¸ë¹„ìœ¨   25 non-null     float64
 7   ê³ ë ¹ìë¹„ìœ¨   25 non-null     float64
dtypes: float64(3), int64(5)
memory usage: 1.8+ KB

In [13]:
merge_data.corr()

,ì†Œê³„,ìµœê·¼ì¦ê°€ìœ¨,ì¸êµ¬ìˆ˜,í•œêµ­ì¸,ì™¸êµ­ì¸,ê³ ë ¹ì,ì™¸êµ­ì¸ë¹„ìœ¨,ê³ ë ¹ìë¹„ìœ¨
ì†Œê³„,1.000000,-0.264378,0.232555,0.227852,0.030421,0.163905,-0.045956,-0.267841
ìµœê·¼ì¦ê°€ìœ¨,-0.264378,1.000000,-0.097165,-0.086341,-0.156421,-0.072251,-0.047102,0.190396
ì¸êµ¬ìˆ˜,0.232555,-0.097165,1.000000,0.998151,-0.167243,0.936737,-0.601076,-0.637414
í•œêµ­ì¸,0.227852,-0.086341,0.998151,1.000000,-0.226853,0.936155,-0.645463,-0.628360
ì™¸êµ­ì¸,0.030421,-0.156421,-0.167243,-0.226853,1.000000,-0.175318,0.838612,-0.021147
ê³ ë ¹ì,0.163905,-0.072251,0.936737,0.936155,-0.175318,1.000000,-0.620300,-0.348840
ì™¸êµ­ì¸ë¹„ìœ¨,-0.045956,-0.047102,-0.601076,-0.645463,0.838612,-0.620300,1.000000,0.242816
ê³ ë ¹ìë¹„ìœ¨,-0.267841,0.190396,-0.637414,-0.628360,-0.021147,-0.348840,0.242816,1.000000

- CCTV ì „ì²´ ìˆ˜(ì†Œê³„)ì™€ ê°€ì¥ ìƒê´€ê´€ê³„ê°€ ìˆëŠ” ë°ì´í„°ëŠ” "ì¸êµ¬ìˆ˜"(0.232555)ì´ë‹¤.

- ì¸êµ¬ëŒ€ë¹„ CCTV ë¹„ìœ¨ì„ ìƒˆë¡œìš´ ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“ ë‹¤.

In [14]:
merge_data["CCTVë¹„ìœ¨"] = merge_data["ì†Œê³„"] / merge_data["ì¸êµ¬ìˆ˜"] * 100
merge_data.head()

,ì†Œê³„,ìµœê·¼ì¦ê°€ìœ¨,ì¸êµ¬ìˆ˜,í•œêµ­ì¸,ì™¸êµ­ì¸,ê³ ë ¹ì,ì™¸êµ­ì¸ë¹„ìœ¨,ê³ ë ¹ìë¹„ìœ¨,CCTVë¹„ìœ¨
êµ¬ë³„,,,,,,,,,
ê°•ë‚¨êµ¬,3238,150.619195,561052,556164,4888,65060,0.871220,11.596073,0.577130
ê°•ë™êµ¬,1010,166.490765,440359,436223,4136,56161,0.939234,12.753458,0.229358
ê°•ë¶êµ¬,831,125.203252,328002,324479,3523,56530,1.074079,17.234651,0.253352
ê°•ì„œêµ¬,911,134.793814,608255,601691,6564,76032,1.079153,12.500021,0.149773
ê´€ì•…êµ¬,2109,149.290780,520929,503297,17632,70046,3.384722,13.446362,0.404854

- ì¸êµ¬ëŒ€ë¹„ CCTV ë¹„ìœ¨ì´ ë†’ì€ êµ¬ëŠ”?

In [15]:
merge_data.sort_values(by="CCTVë¹„ìœ¨", ascending=False).head()

,ì†Œê³„,ìµœê·¼ì¦ê°€ìœ¨,ì¸êµ¬ìˆ˜,í•œêµ­ì¸,ì™¸êµ­ì¸,ê³ ë ¹ì,ì™¸êµ­ì¸ë¹„ìœ¨,ê³ ë ¹ìë¹„ìœ¨,CCTVë¹„ìœ¨
êµ¬ë³„,,,,,,,,,
ì¢…ë¡œêµ¬,1619,248.922414,164257,154770,9487,26182,5.775705,15.939656,0.985651
ìš©ì‚°êµ¬,2096,53.216374,244444,229161,15283,36882,6.252148,15.088118,0.857456
ì¤‘êµ¬,1023,147.699758,134593,125709,8884,21384,6.600640,15.887899,0.760069
ê°•ë‚¨êµ¬,3238,150.619195,561052,556164,4888,65060,0.871220,11.596073,0.577130
ê¸ˆì²œêµ¬,1348,100.000000,253491,235154,18337,34170,7.233787,13.479769,0.531774

- ì¸êµ¬ëŒ€ë¹„ CCTV ë¹„ìœ¨ì´ ë‚®ì€ êµ¬ëŠ”?

In [16]:
merge_data.sort_values(["CCTVë¹„ìœ¨"]).head()

,ì†Œê³„,ìµœê·¼ì¦ê°€ìœ¨,ì¸êµ¬ìˆ˜,í•œêµ­ì¸,ì™¸êµ­ì¸,ê³ ë ¹ì,ì™¸êµ­ì¸ë¹„ìœ¨,ê³ ë ¹ìë¹„ìœ¨,CCTVë¹„ìœ¨
êµ¬ë³„,,,,,,,,,
ê°•ì„œêµ¬,911,134.793814,608255,601691,6564,76032,1.079153,12.500021,0.149773
ì†¡íŒŒêµ¬,1081,104.347826,671173,664496,6677,76582,0.994825,11.410173,0.161061
ì¤‘ë‘êµ¬,916,79.960707,412780,408226,4554,59262,1.103251,14.356800,0.221910
ê°•ë™êµ¬,1010,166.490765,440359,436223,4136,56161,0.939234,12.753458,0.229358
ê´‘ì§„êµ¬,878,53.228621,372298,357703,14595,43953,3.920247,11.805865,0.235833

In [18]:
merge_data.to_excel("./result_data/03_merge_data_result.xlsx")