# Pandas Í∏∞Ï¥à

- PythonÏóêÏÑú R ÎßåÌÅºÏùò Í∞ïÎ†•Ìïú Îç∞Ïù¥ÌÑ∞ Ìï∏Îì§ÎßÅ ÏÑ±Îä•ÏùÑ Ï†úÍ≥µÌïòÎäî Î™®ÎìàÏù¥Îã§.
- ÏΩîÎî© Í∞ÄÎä•ÌïòÍ≥† ÏùëÏö© Í∞ÄÎä•Ìïú ÏóëÏÖÄÎ°ú Î∞õÏïÑÎì§Ïó¨ÎèÑ ÎêúÎã§.
- Îã®Ïùº ÌîÑÎ°úÏÑ∏Ïä§ÏóêÏÑúÎäî ÏµúÎåÄ Ìö®Ïú®Î°ú ÎàÑÍµ∞Í∞Ä Ïä§ÌÖåÎ°úÏù¥ÎìúÎ•º ÎßûÏùÄ ÏóëÏÖÄÎ°ú ÌëúÌòÑÌïúÎã§.

- Pandas Í≥µÏãùÎ¨∏ÏÑúÎ•º ÌôïÏù∏Ìï¥ Î≥∏Îã§.
https://pandas.pydata.org/docs/reference/api/pandas.Series.html

#### üî∞ Import Module

- pandasÎäî ÌÜµÏÉÅ Î≥ÑÏπ≠ÏúºÎ°ú pdÎ•º ÏÇ¨Ïö©ÌïúÎã§.
- ÏàòÏπòÌï¥ÏÑùÏ†Å Ìï®ÏàòÍ∞Ä ÎßéÏùÄ numpyÏùò Î≥ÑÏπ≠ÏùÄ Ï£ºÎ°ú npÎ•º ÏÇ¨Ïö©ÌïúÎã§.

In [22]:
import pandas as pd
import numpy as np

-----

#### üî∞ Series

- indexÏôÄ valueÎ°ú Ïù¥Î£®Ïñ¥Ï†∏ ÏûàÎã§
- Ìïú Í∞ÄÏßÄ Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÎßå Í∞ÄÏßà Ïàò ÏûàÎã§
- DataFrameÏùò column Ìïú Ï§Ñ Ìïú Ï§ÑÏù¥ SeriesÏù¥Îã§.

In [23]:
pd.Series()

Series([], dtype: object)

üëÜ Ïûò Î™®Î•º ÎïåÎäî ÏúÑÏóê Î≥¥Ïù¥Îäî ÌãÄÏóê ÎßûÏ∂∞ Ïç®Î≥∏Îã§.

In [24]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [100]:
pd.Series([1, 2, 3, 4], dtype=float64)

NameError: name 'float64' is not defined

In [26]:
pd.Series([1, 2, 3, 4], dtype=np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [27]:
pd.Series([1, 2, 3, 4], dtype=float)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [28]:
pd.Series([1, 2, 3, 4], dtype=str)

0    1
1    2
2    3
3    4
dtype: object

üëÜ objectÎäî StringÍ≥º ÎèôÏùºÌïú Í∞úÎÖêÏù¥Îã§.

In [29]:
pd.Series(np.array([1, 2, 3]))

0    1
1    2
2    3
dtype: int32

In [30]:
pd.Series({"key": "Value"})

key    Value
dtype: object

In [31]:
pd.Series([1, 2, 3, "5"])

0    1
1    2
2    3
3    5
dtype: object

üëÜ Ï†ÑÏ≤¥Î•º Î¨∏ÏûêÏó¥ Îç∞Ïù¥ÌÑ∞Î°ú Ïù∏ÏãùÌïúÎã§.</br>
‚≠ê Ï¶â, SeriesÎäî Ìïú Í∞ÄÏßÄ Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖÎßå Í∞ÄÏßà Ïàò ÏûàÎã§.

In [32]:
data = pd.Series([1, 2, 3, 4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [33]:
print(data % 2)
data % 2

0    1
1    0
2    1
3    0
dtype: int64

0    1
1    0
2    1
3    0
dtype: int64

**<ÎÇ†Ïßú Îç∞Ïù¥ÌÑ∞>**

In [34]:
dates = pd.date_range("20230101", periods=6)
dates

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [35]:
pd.date_range("20240101", periods=60)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29'],
              dtype='datetime64[ns]', freq='D')

-----

#### üî∞ DataFrame

- pd.Series() 
    - index, value</br>
- pd.DataFrame() 
    - index, value, **column**

In [36]:
pd.DataFrame('data, index= , columns= ')
# jupyter notebookÏóêÏÑú [shift + tab]ÌÇ§Î•º ÎàÑÎ•¥Î©¥ Ìï®Ïàò ÏÇ¨Ïö©Ïóê ÎåÄÌïú ÏÉÅÏÑ∏Ìïú ÏÑ§Î™Ö(Init signature: & Docstring:)Ïù¥ ÎÇòÏò®Îã§.

In [37]:
# ÌëúÏ§ÄÏ†ïÍ∑úÎ∂ÑÌè¨ÏóêÏÑú ÏÉòÌîåÎßÅÌïú ÎÇúÏàò ÏÉùÏÑ±
data = np.random.randn(6, 4)
data

array([[ 0.79255413, -1.81694999,  0.35020953,  1.40498027],
       [-0.06900768, -0.62575308, -0.66187013,  0.75597956],
       [ 0.82863207,  0.58713825,  0.33881898, -0.15277535],
       [ 1.56377512, -0.24221876,  0.4246531 ,  1.28469043],
       [-0.56468827, -0.4132788 , -0.28693992, -1.23037567],
       [ 1.29468486,  1.97990687, -0.57032513,  0.9340191 ]])

`(*args: int)` -> ndarray[Any, dtype[float64]]

__randn__(d0, d1, ..., dn)

Return a sample (or samples) from the "standard normal" distribution.

If positive int_like arguments are provided, randn generates an array of shape (d0, d1, ..., dn), filled with random floats sampled from a univariate "normal" (Gaussian) distribution of mean 0 and variance 1. A single float randomly sampled from the distribution is returned if no argument is provided.

In [38]:
df = pd.DataFrame(data, index=dates, columns=["A", "B", "C", "D"])
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

-----

#### üî∞ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ï†ïÎ≥¥(ÎÇ¥Ïö©) ÌÉêÏÉâ

- Pandas DataFrame Í∞ùÏ≤¥Ïùò Î©îÏÑúÎìú : df.head(), df.tail(), ...

- Pandas DataFrame Í∞ùÏ≤¥Ïùò ÏÜçÏÑ±(Î≥ÄÏàò) : df.index, df.columns, df.values, ...

In [39]:
df.head()

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376

In [40]:
df.tail()

                   A         B         C         D
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [41]:
df.index

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06'],
              dtype='datetime64[ns]', freq='D')

In [42]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [43]:
df.values

array([[ 0.79255413, -1.81694999,  0.35020953,  1.40498027],
       [-0.06900768, -0.62575308, -0.66187013,  0.75597956],
       [ 0.82863207,  0.58713825,  0.33881898, -0.15277535],
       [ 1.56377512, -0.24221876,  0.4246531 ,  1.28469043],
       [-0.56468827, -0.4132788 , -0.28693992, -1.23037567],
       [ 1.29468486,  1.97990687, -0.57032513,  0.9340191 ]])

- **df.info()**

	- DataFrameÏùò Í∞úÏöî(Í∏∞Î≥∏ Ï†ïÎ≥¥)Î•º ÌôïÏù∏ÌïòÎäî Î©îÏÑúÎìú	
	- Ïó¨Í∏∞ÏÑúÎäî Í∞Å Ïª¨ÎüºÏùò ÌÅ¨Í∏∞ÏôÄ Îç∞Ïù¥ÌÑ∞ÌòïÌÉúÎ•º ÌôïÏù∏ÌïòÎäî Í≤ΩÏö∞Í∞Ä ÎßéÎã§.

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2023-01-01 to 2023-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

- **df.describe()**

	- DataFrameÏùò ÌÜµÍ≥ÑÏ†Å Í∞úÏöî(Í∏∞Î≥∏ Ï†ïÎ≥¥)Î•º ÌôïÏù∏ÌïòÎäî Î©îÏÑúÎìú    
    - count : columnÎ≥Ñ value Í∞úÏàò
    - mean : ÌèâÍ∑†Í∞í
    - std : ÌëúÏ§ÄÌé∏Ï∞®
    - min, max : ÏµúÏÜå, ÏµúÎåÄ Í∞í

In [45]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.640992 -0.088526 -0.067576  0.499420
std    0.811762  1.275938  0.497203  1.010835
min   -0.564688 -1.816950 -0.661870 -1.230376
25%    0.146383 -0.572635 -0.499479  0.074413
50%    0.810593 -0.327749  0.025940  0.844999
75%    1.178172  0.379799  0.347362  1.197023
max    1.563775  1.979907  0.424653  1.404980

-----

#### üî∞ Îç∞Ïù¥ÌÑ∞ Ï†ïÎ†¨


- __df.sort_values(by='')__

	- ÌäπÏ†ï Ïª¨Îüº(Ïó¥)ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Î•º Ï†ïÎ†¨ÌïúÎã§.

In [46]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [47]:
df.sort_values(by='B')

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [48]:
df.sort_values(by='B', ascending=False)

                   A         B         C         D
2023-01-06  1.294685  1.979907 -0.570325  0.934019
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-01  0.792554 -1.816950  0.350210  1.404980

- Ï†ïÎ†¨ Í≤∞Í≥ºÎ•º Îç∞Ïù¥ÌÑ∞Ïóê Î∞òÏòÅÌïòÎ†§Î©¥ inplace paramÏù¥ ÌïÑÏöîÌïòÎã§.

In [49]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [50]:
df.sort_values(by='B', ascending=False, inplace=True)
df

                   A         B         C         D
2023-01-06  1.294685  1.979907 -0.570325  0.934019
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-01  0.792554 -1.816950  0.350210  1.404980

#### üî∞ Îç∞Ïù¥ÌÑ∞ ÏÑ†ÌÉù

- Ìïú Í∞úÏùò Ïª¨Îüº ÏÑ†ÌÉù

In [51]:
df['A']

2023-01-06    1.294685
2023-01-03    0.828632
2023-01-04    1.563775
2023-01-05   -0.564688
2023-01-02   -0.069008
2023-01-01    0.792554
Name: A, dtype: float64

In [52]:
type(df['A'])

pandas.core.series.Series

In [53]:
df.A

2023-01-06    1.294685
2023-01-03    0.828632
2023-01-04    1.563775
2023-01-05   -0.564688
2023-01-02   -0.069008
2023-01-01    0.792554
Name: A, dtype: float64

üëÜ Ïª¨ÎüºÎ™ÖÏù¥ Î¨∏ÏûêÏó¥Ïùº ÎïåÎßå Í∞ÄÎä•ÌïòÎã§. Ïà´ÏûêÏù¥Î©¥ Î∂àÍ∞ÄÎä•!

- Îëê Í∞ú Ïù¥ÏÉÅÏùò Ïª¨Îüº ÏÑ†ÌÉù

	- paramÏùÄ Î¶¨Ïä§Ìä∏ ÌòïÌÉúÏó¨Ïïº ÌïúÎã§.

In [54]:
df[['A', 'B']]

                   A         B
2023-01-06  1.294685  1.979907
2023-01-03  0.828632  0.587138
2023-01-04  1.563775 -0.242219
2023-01-05 -0.564688 -0.413279
2023-01-02 -0.069008 -0.625753
2023-01-01  0.792554 -1.816950

#### üî∞ Slicing : offset index

- [n:m] : nÎ∂ÄÌÑ∞ (m-1)ÍπåÏßÄ
- indexÎÇò columnÏùò Ïù¥Î¶ÑÏúºÎ°ú slicingÌïòÎäî Í≤ΩÏö∞ÏóêÎäî Î™ÖÏãúÌïú Ïù¥Î¶ÑÍπåÏßÄ Ìè¨Ìï®ÎêúÎã§.

In [55]:
df = pd.DataFrame(data, index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [56]:
df[0:3]

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775

In [57]:
df["20230101":"20230104"]

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690

- __df.loc[index, coloum]__

	- location
	- Ïù¥Î¶ÑÏúºÎ°ú ÌäπÏ†ï Ïù∏Îç±Ïä§(Ìñâ), Ïª¨Îüº(Ïó¥)ÏùÑ ÏÑ†ÌÉùÌï¥Ïïº ÌïúÎã§.
	- `:`Îäî Ï†ÑÏ≤¥Î•º ÏùòÎØ∏ÌïúÎã§.

In [58]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [59]:
df.loc[:, 'A']

2023-01-01    0.792554
2023-01-02   -0.069008
2023-01-03    0.828632
2023-01-04    1.563775
2023-01-05   -0.564688
2023-01-06    1.294685
Freq: D, Name: A, dtype: float64

In [60]:
df.loc[:, ['A', 'B']]

                   A         B
2023-01-01  0.792554 -1.816950
2023-01-02 -0.069008 -0.625753
2023-01-03  0.828632  0.587138
2023-01-04  1.563775 -0.242219
2023-01-05 -0.564688 -0.413279
2023-01-06  1.294685  1.979907

In [61]:
df.loc["20230102", ['A', 'B']]

A   -0.069008
B   -0.625753
Name: 2023-01-02 00:00:00, dtype: float64

In [62]:
df.loc["20230102":"20230104", ['A', 'B']]

                   A         B
2023-01-02 -0.069008 -0.625753
2023-01-03  0.828632  0.587138
2023-01-04  1.563775 -0.242219

In [63]:
df.loc["20230102":"20230104", 'A':'D']

                   A         B         C         D
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690

- __df.iloc[rows, columns]__

	- index location
	- Ïª¥Ìì®ÌÑ∞Í∞Ä Ïù∏ÏãùÌïòÎäî Ïù∏Îç±Ïä§ Í∞íÏúºÎ°ú ÏÑ†ÌÉù

In [64]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [65]:
df.iloc[3]

A    1.563775
B   -0.242219
C    0.424653
D    1.284690
Name: 2023-01-04 00:00:00, dtype: float64

In [66]:
df.iloc[3, 2]

0.42465310412068547

In [67]:
df.iloc[3:5, 0:2]

                   A         B
2023-01-04  1.563775 -0.242219
2023-01-05 -0.564688 -0.413279

In [68]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2023-01-02 -0.069008 -0.661870
2023-01-03  0.828632  0.338819
2023-01-05 -0.564688 -0.286940

In [69]:
df.iloc[:, 1:3]

                   B         C
2023-01-01 -1.816950  0.350210
2023-01-02 -0.625753 -0.661870
2023-01-03  0.587138  0.338819
2023-01-04 -0.242219  0.424653
2023-01-05 -0.413279 -0.286940
2023-01-06  1.979907 -0.570325

-----

#### üî∞ Ï°∞Í±¥(condition)

In [70]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [71]:
# A Ïª¨ÎüºÏóêÏÑú 0Î≥¥Îã§ ÌÅ∞ Ïà´Ïûê(ÏñëÏàò)Îßå ÏÑ†ÌÉù

df['A'] > 0

2023-01-01     True
2023-01-02    False
2023-01-03     True
2023-01-04     True
2023-01-05    False
2023-01-06     True
Freq: D, Name: A, dtype: bool

- masking

In [72]:
# Ï†ÑÏ≤¥ DataFrameÏóêÏÑú 'A' Ïª¨Îüº ÎÇ¥ value Ï§ë 0Î≥¥Îã§ ÌÅ∞ Í≤ÉÏùÑ ÎßåÏ°±ÌïòÎäî rows Ï∂úÎ†•

df[df['A'] > 0]

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [73]:
# Ï†ÑÏ≤¥ DataFrameÏóêÏÑú 0Î≥¥Îã§ ÌÅ∞ Í≤ÉÏùÑ ÎßåÏ°±ÌïòÎäî valueÎßå Ï∂úÎ†•

df[df > 0]

                   A         B         C         D
2023-01-01  0.792554       NaN  0.350210  1.404980
2023-01-02       NaN       NaN       NaN  0.755980
2023-01-03  0.828632  0.587138  0.338819       NaN
2023-01-04  1.563775       NaN  0.424653  1.284690
2023-01-05       NaN       NaN       NaN       NaN
2023-01-06  1.294685  1.979907       NaN  0.934019

üëÜ Ï°∞Í±¥(df>0)ÏùÑ ÎßåÏ°±ÌïòÏßÄ Î™ªÌïòÎäî valueÎäî NaNÏúºÎ°ú ÌëúÏãúÎêúÎã§.

- NaN : Not a Number
	- NaNÏùÄ Îç∞Ïù¥ÌÑ∞Í∞Ä ÏïÑÎãàÎùºÎäî ÏùòÎØ∏Ïù¥Îã§.

-----

#### üî∞ Ïª¨Îüº Ï∂îÍ∞Ä

- Ìï¥Îãπ Ïª¨ÎüºÏù¥ Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Ïóê ÏóÜÎã§Î©¥ __Ï∂îÍ∞Ä__

- Ìï¥Îãπ Ïª¨ÎüºÏù¥ Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞Ïóê ÏûàÎã§Î©¥ __ÏàòÏ†ï__

In [74]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [75]:
df['E'] = ['one', 'one', 'two', 'three', 'four', 'seven']
df

                   A         B         C         D      E
2023-01-01  0.792554 -1.816950  0.350210  1.404980    one
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980    one
2023-01-03  0.828632  0.587138  0.338819 -0.152775    two
2023-01-04  1.563775 -0.242219  0.424653  1.284690  three
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376   four
2023-01-06  1.294685  1.979907 -0.570325  0.934019  seven

- __df.isin()__

	- ÌäπÏ†ï valueÏùò Ï°¥Ïû¨ Ïú†Î¨¥Î•º ÌôïÏù∏Ïóê Í∑∏ Í≤∞Í≥ºÎ•º ÎÖºÎ¶¨ÌòïÏúºÎ°ú Î∞òÌôòÌïúÎã§.
	
	- Ï°∞ÏÇ¨ Î≤îÏúÑÎ•º Ïª¨ÎüºÏúºÎ°ú ÏßÄÏ†ïÌï† Ïàò ÏûàÍ≥†, Îç∞Ïù¥ÌÑ∞ Ï†ÑÏ≤¥Î•º ÎåÄÏÉÅÏúºÎ°úÎèÑ Ìï† Ïàò ÏûàÎã§.

	- (values: Iterable | Series | dict) -> Series[_bool]

		Whether elements in Series are contained in values.

		Return a boolean Series showing whether each element in the Series matches an element in the passed sequence of values exactly.

		Parameters</br>
		values : set or list-like</br>
		The sequence of values to test. Passing in a single string will raise a TypeError. Instead, turn a single string into a list of one element.

In [76]:
df['E'].isin(['two'])

2023-01-01    False
2023-01-02    False
2023-01-03     True
2023-01-04    False
2023-01-05    False
2023-01-06    False
Freq: D, Name: E, dtype: bool

In [77]:
df['E'].isin(['two', 'three', 'five'])

2023-01-01    False
2023-01-02    False
2023-01-03     True
2023-01-04     True
2023-01-05    False
2023-01-06    False
Freq: D, Name: E, dtype: bool

In [78]:
# Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞Ïóê masking : Ï°∞Í±¥Ïù¥ TrueÏù∏ valueÍ∞Ä Ìè¨Ìï®Îêú rows Ï∂úÎ†•

df[df['E'].isin(['two', 'three', 'five'])]

                   A         B         C         D      E
2023-01-03  0.828632  0.587138  0.338819 -0.152775    two
2023-01-04  1.563775 -0.242219  0.424653  1.284690  three

-----

#### üî∞ Ïª¨Îüº Ï†úÍ±∞

- ÌäπÏ†ï Ïª¨ÎüºÏùÑ Ï†úÍ±∞ÌïúÎã§.

- **del** df[columns_name]: Ï†úÍ±∞ Í≤∞Í≥ºÍ∞Ä Îç∞Ïù¥ÌÑ∞ Î∞îÎ°ú Î∞òÏòÅÎêúÎã§.
- df.**drop**([columns_name]) : inplace paramÏùÑ Ï†ÅÏö©Ìï¥Ïïº Ï†úÍ±∞ Í≤∞Í≥ºÍ∞Ä Îç∞Ïù¥ÌÑ∞Ïóê Î∞òÏòÅÎêúÎã§.

In [79]:
df

                   A         B         C         D      E
2023-01-01  0.792554 -1.816950  0.350210  1.404980    one
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980    one
2023-01-03  0.828632  0.587138  0.338819 -0.152775    two
2023-01-04  1.563775 -0.242219  0.424653  1.284690  three
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376   four
2023-01-06  1.294685  1.979907 -0.570325  0.934019  seven

In [80]:
del df['E']
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

- drop()ÏùÄ axis ÏÑ§Ï†ïÏù¥ ÌïÑÏöîÌïòÎã§.

	- axis : {0 or 'index', 1 or 'columns'}, default 0

In [81]:
df.drop(['D'], axis=1) # axis=1 ÏÑ∏Î°ú(column)

                   A         B         C
2023-01-01  0.792554 -1.816950  0.350210
2023-01-02 -0.069008 -0.625753 -0.661870
2023-01-03  0.828632  0.587138  0.338819
2023-01-04  1.563775 -0.242219  0.424653
2023-01-05 -0.564688 -0.413279 -0.286940
2023-01-06  1.294685  1.979907 -0.570325

In [82]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [83]:
# axis=0 Ïùº ÎïåÎäî Row Ïù¥Î¶ÑÏùÑ Ïç®Ï§òÏïº ÌïúÎã§.

df.drop(['20230104'], inplace=True)
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

#### üî∞ apply() Î©îÏÑúÎìú

- DataFrameÏóê Ìï®Ïàò Í∏∞Îä•ÏùÑ Ï†ÅÏö©Ìï¥Ï§ÄÎã§.

- Ï†ÅÏö©ÌïòÍ≥†Ïûê ÌïòÎäî Í∏∞Îä•Ïùò Ìï®ÏàòÎ•º Ïù∏ÏàòÎ°ú ÎÑ£Ïñ¥Ï£ºÎ©¥ ÏõêÌïòÎäî Ïó∞ÏÇ∞Ïùò Í≤∞Í≥ºÎ•º Î∞òÌôòÎ∞õÏùÑ Ïàò ÏûàÎã§.

- func : function - Python function or NumPy ufunc to apply.

In [84]:
df = pd.DataFrame(data, index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [85]:
df['A'].apply("sum")

3.8459502276655178

In [86]:
df['A'].apply(np.sum)

2023-01-01    0.792554
2023-01-02   -0.069008
2023-01-03    0.828632
2023-01-04    1.563775
2023-01-05   -0.564688
2023-01-06    1.294685
Freq: D, Name: A, dtype: float64

In [87]:
df[['A', 'D']].apply("sum")

A    3.845950
D    2.996518
dtype: float64

In [88]:
df[['A', 'D']].apply(np.sum)

A    3.845950
D    2.996518
dtype: float64

In [89]:
df.apply("sum")

A    3.845950
B   -0.531156
C   -0.405454
D    2.996518
dtype: float64

In [90]:
df.apply(np.sum)

A    3.845950
B   -0.531156
C   -0.405454
D    2.996518
dtype: float64

In [101]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

In [91]:
df.apply(np.cumsum) # Í∞Å Ïª¨ÎüºÏùò ÎàÑÏ†Å Ìï©Í≥Ñ

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02  0.723546 -2.442703 -0.311661  2.160960
2023-01-03  1.552179 -1.855565  0.027158  2.008184
2023-01-04  3.115954 -2.097784  0.451811  3.292875
2023-01-05  2.551265 -2.511062  0.164872  2.062499
2023-01-06  3.845950 -0.531156 -0.405454  2.996518

In [92]:
df['A'].apply("mean")

0.6409917046109196

In [93]:
df['A'].apply(np.mean)

2023-01-01    0.792554
2023-01-02   -0.069008
2023-01-03    0.828632
2023-01-04    1.563775
2023-01-05   -0.564688
2023-01-06    1.294685
Freq: D, Name: A, dtype: float64

In [94]:
df['A'].apply("min"), df['A'].apply("max")

(-0.5646882726181228, 1.563775118154971)

In [95]:
df['A'].apply(np.std)

2023-01-01    0.0
2023-01-02    0.0
2023-01-03    0.0
2023-01-04    0.0
2023-01-05    0.0
2023-01-06    0.0
Freq: D, Name: A, dtype: float64

In [96]:
df

                   A         B         C         D
2023-01-01  0.792554 -1.816950  0.350210  1.404980
2023-01-02 -0.069008 -0.625753 -0.661870  0.755980
2023-01-03  0.828632  0.587138  0.338819 -0.152775
2023-01-04  1.563775 -0.242219  0.424653  1.284690
2023-01-05 -0.564688 -0.413279 -0.286940 -1.230376
2023-01-06  1.294685  1.979907 -0.570325  0.934019

- ÏÇ¨Ïö©Ïûê Ï†ïÏùò Ìï®Ïàò ÏÇ¨Ïö©

In [97]:
def plusminus(num):
    return "plus" if num > 0 else "minus"

In [98]:
df['A'].apply(plusminus)

2023-01-01     plus
2023-01-02    minus
2023-01-03     plus
2023-01-04     plus
2023-01-05    minus
2023-01-06     plus
Freq: D, Name: A, dtype: object

- ÎûåÎã§ Ìï®Ïàò ÏÇ¨Ïö©

In [99]:
df['A'].apply(lambda num: "plus" if num > 0 else "minus")

2023-01-01     plus
2023-01-02    minus
2023-01-03     plus
2023-01-04     plus
2023-01-05    minus
2023-01-06     plus
Freq: D, Name: A, dtype: object