# Pandas ë°ì´í„° ë³‘í•©

Pandasì—ì„œ DataFrameì„ ë³‘í•©í•˜ëŠ” ë°©ë²•

- pd.merge()
- pd.concat()
- pd.join()

In [1]:
import pandas as pd

#### ğŸ”° pd.merge(left, right)

- pandasì˜ DataFrame ë°ì´í„°ë¼ë¦¬ì˜ ë³‘í•©ì€ ë¹ˆë²ˆíˆ ì¼ì–´ë‚œë‹¤.
- ë³‘í•© í›„ ë°ì´í„°ê°€ ì—‰ë§ì´ ë˜ì§€ ì•Šë„ë¡ ì˜ ìµí˜€ì•¼ í•œë‹¤.

- ë‘ ë°ì´í„° í”„ë ˆì„ì—ì„œ ì»¬ëŸ¼ì´ë‚˜ ì¸ë±ìŠ¤ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì¡ê³  ë³‘í•©í•˜ëŠ” ë°©ë²• 
- ê¸°ì¤€ì´ ë˜ëŠ” ì»¬ëŸ¼ì´ë‚˜ ì¸ë±ìŠ¤ë¥¼ í‚¤ê°’ì´ë¼ê³  í•œë‹¤.
- ê¸°ì¤€ì´ ë˜ëŠ” í‚¤ê°’ì€ ë‘ ë°ì´í„° í”„ë ˆì„ì— ëª¨ë‘ í¬í•¨ë˜ì–´ ìˆì–´ì•¼ í•œë‹¤.

In [2]:
# ë”•ì…”ë„ˆë¦¬ ì•ˆì— ë¦¬ìŠ¤íŠ¸ í˜•íƒœ

left = pd.DataFrame({
	"key": ['K0', 'K4', 'K2', 'K3'],
	"A": ['A0', 'A1', 'A2', 'A3'],
	"B": ['B0', 'B1', 'B2', 'B3']
})
left

  key   A   B
0  K0  A0  B0
1  K4  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [3]:
# ë¦¬ìŠ¤íŠ¸ ì•ˆì— ë”•ì…”ë„ˆë¦¬ í˜•íƒœ

right = pd.DataFrame([
	{"key": 'K0', "C": 'C0', "D": 'D0'},
	{"key": 'K1', "C": 'C1', "D": 'D1'},
	{"key": 'K2', "C": 'C2', "D": 'D2'},
	{"key": 'K3', "C": 'C3', "D": 'D3'}
])
right

  key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

- "key" ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©

In [4]:
pd.merge(left, right, on="key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

- "key" ì»¬ëŸ¼ì—ì„œ ë‘ ë°ì´í„°ì˜ ê³µí†µ ë¶€ë¶„ë§Œ ë³‘í•©, ì¼ì¢…ì˜ êµì§‘í•©

In [7]:
pd.merge(left, right, how='inner', on="key")

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K2  A2  B2  C2  D2
2  K3  A3  B3  C3  D3

- ë‘˜ ë‹¤ ì†ìƒë˜ì§€ ì•Šë„ë¡ "key"ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë³‘í•©

	- leftì™€ rightì˜ ëª¨ë“  "key" ê°’ì„ ì‚´ë¦°ë‹¤.

In [8]:
pd.merge(left, right, how='outer', on="key")

  key    A    B    C    D
0  K0   A0   B0   C0   D0
1  K4   A1   B1  NaN  NaN
2  K2   A2   B2   C2   D2
3  K3   A3   B3   C3   D3
4  K1  NaN  NaN   C1   D1

- leftì˜ "key"ë¥¼ ê¸°ì¤€ìœ¼ë¡œ right ë³‘í•©

	- left ë°ì´í„°ì˜ "key" ì»¬ëŸ¼ì— ìˆëŠ” ë°ì´í„°ë§Œ rightì—ì„œ ê°€ì ¸ì˜¨ë‹¤.
	- rightì—ì„œ left "key" ì»¬ëŸ¼ì— ì—†ëŠ” 'K1'ì´ í¬í•¨ëœ rowëŠ” ë³‘í•©ì—ì„œ ì œì™¸ëœë‹¤.

In [5]:
pd.merge(left, right, how='left', on="key")

  key   A   B    C    D
0  K0  A0  B0   C0   D0
1  K4  A1  B1  NaN  NaN
2  K2  A2  B2   C2   D2
3  K3  A3  B3   C3   D3

- rightì˜ "key"ë¥¼ ê¸°ì¤€ìœ¼ë¡œ left ë³‘í•©

In [6]:
pd.merge(left, right, how='right', on="key")

  key    A    B   C   D
0  K0   A0   B0  C0  D0
1  K1  NaN  NaN  C1  D1
2  K2   A2   B2  C2  D2
3  K3   A3   B3  C3  D3